.wwFormTable {

}
.label {

}
.errorLabel {
	color:red;
}
.errorMessage {
	font-weight:bold;
	text-align:	left; 
	color:red;
}
.checkboxLabel {
	font-weight:normal;
}
.checkboxErrorLabel {
	color:red;
}
.required {
	color:red;
}
.wwctrl {

}
.left {
	float:left;
    font-weight: bold;
	margin: 0;
}
span.fieldError, .errorMessage {
    color: red;
    font-size: .95em;
    display: block;
}
ul {
	list-style:none;
}

/* COLOCAR CAMPO DO FORMUL�RIO AO LADO DO OUTRO */
.liLeft{
	float:left;
	padding-right: 5px;
}