<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="codificacaoAcidenteTrabalhoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.eSocialTabelas.CodificacaoAcidenteTrabalhoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="situacaoGeradoraAcidenteTrabalhoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.eSocialTabelas.SituacaoGeradoraAcidenteTrabalhoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="agenteCausadorAcidenteTrabalhoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.eSocialTabelas.AgenteCausadorAcidenteTrabalhoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="situacaoGeradoraDoencaProfissionalDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.eSocialTabelas.SituacaoGeradoraDoencaProfissionalDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>



