<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="funcaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.FuncaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="historicoFuncaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.HistoricoFuncaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="epiDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EpiDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="ambienteDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AmbienteDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="catDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.CatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="tipoEPIDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.TipoEPIDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="historicoAmbienteDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.HistoricoAmbienteDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="riscoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.RiscoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="anexoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AnexoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="epcDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EpcDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="exameDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="realizacaoExameDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.RealizacaoExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="epiHistoricoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EpiHistoricoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="engenheiroResponsavelDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EngenheiroResponsavelDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="medicoCoordenadorDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.MedicoCoordenadorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="clinicaAutorizadaDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ClinicaAutorizadaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoExameDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="prontuarioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ProntuarioDao</value>
    </property>
    <property name="target">
      <ref bean="prontuarioDaoTarget" />
    </property>
  </bean>
  <bean id="prontuarioDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ProntuarioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="exameSolicitacaoExameDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExameSolicitacaoExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoEpiDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoEpiDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoEpiItemDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="etapaProcessoEleitoralDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EtapaProcessoEleitoralDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="eleicaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EleicaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="candidatoEleicaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.CandidatoEleicaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoEleicaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoEleicaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoPeriodoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoPeriodoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoMembroDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoMembroDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoReuniaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoReuniaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoPlanoTrabalhoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoPlanoTrabalhoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comissaoReuniaoPresencaDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComissaoReuniaoPresencaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="afastamentoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AfastamentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorAfastamentoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ColaboradorAfastamentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="extintorDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExtintorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="historicoExtintorDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.HistoricoExtintorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="extintorInspecaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExtintorInspecaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="extintorInspecaoItemDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExtintorInspecaoItemDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="extintorManutencaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExtintorManutencaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="extintorManutencaoServicoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ExtintorManutencaoServicoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="riscoAmbienteDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.RiscoAmbienteDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="riscoFuncaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.RiscoFuncaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="medicaoRiscoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.MedicaoRiscoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="riscoMedicaoRiscoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.RiscoMedicaoRiscoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="eventoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EventoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="agendaDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AgendaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="naturezaLesaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.NaturezaLesaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="composicaoSesmtDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ComposicaoSesmtDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemEntregaDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoEpiItemEntregaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="obraDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.ObraDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="pcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.PcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="faseDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.FaseDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="medidaSegurancaDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.MedidaSegurancaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="fasePcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.FasePcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="riscoFasePcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.RiscoFasePcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="medidaRiscoFasePcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.MedidaRiscoFasePcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="areaVivenciaDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AreaVivenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="areaVivenciaPcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AreaVivenciaPcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="atividadeSegurancaPcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.AtividadeSegurancaPcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="epiPcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EpiPcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="epcPcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.EpcPcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="sinalizacaoPcmatDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.SinalizacaoPcmatDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoEpiDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.MotivoSolicitacaoEpiDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="tamanhoEPIDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.TamanhoEPIDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="tipoTamanhoEPIDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.TipoTamanhoEPIDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemDevolucaoDaoTarget" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoEpiItemDevolucaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>











