<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 
  <bean id="periodoExperienciaDaoTarget" class="com.fortes.rh.dao.hibernate.avaliacao.PeriodoExperienciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="avaliacaoDaoTarget" class="com.fortes.rh.dao.hibernate.avaliacao.AvaliacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="avaliacaoDesempenhoDaoTarget" class="com.fortes.rh.dao.hibernate.avaliacao.AvaliacaoDesempenhoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="avaliacaoPraticaDaoTarget" class="com.fortes.rh.dao.hibernate.avaliacao.AvaliacaoPraticaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>





