<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="empresaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.EmpresaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="areaOrganizacionalDaoTarget" class="com.fortes.rh.dao.hibernate.geral.AreaOrganizacionalDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="cargoDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.CargoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="beneficioDaoTarget" class="com.fortes.rh.dao.hibernate.geral.BeneficioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="areaInteresseDaoTarget" class="com.fortes.rh.dao.hibernate.geral.AreaInteresseDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="idiomaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.IdiomaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="formacaoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.FormacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="experienciaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.ExperienciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="dependenteDaoTarget" class="com.fortes.rh.dao.hibernate.geral.DependenteDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="areaFormacaoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.AreaFormacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="estadoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.EstadoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="cidadeDaoTarget" class="com.fortes.rh.dao.hibernate.geral.CidadeDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="grupoGastoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.GrupoGastoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="gastoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.GastoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorIdiomaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ColaboradorIdiomaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="gastoEmpresaItemDaoTarget" class="com.fortes.rh.dao.hibernate.geral.GastoEmpresaItemDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="gastoEmpresaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.GastoEmpresaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="parametrosDoSistemaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ParametrosDoSistemaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="motivoDemissaoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.MotivoDemissaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="ocorrenciaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.OcorrenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorOcorrenciaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ColaboradorOcorrenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="historicoColaboradorBeneficioDaoTarget" class="com.fortes.rh.dao.hibernate.geral.HistoricoColaboradorBeneficioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="estabelecimentoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.EstabelecimentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="historicoBeneficioDaoTarget" class="com.fortes.rh.dao.hibernate.geral.HistoricoBeneficioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="bairroDaoTarget" class="com.fortes.rh.dao.hibernate.geral.BairroDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="documentoAnexoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.DocumentoAnexoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="mensagemDaoTarget" class="com.fortes.rh.dao.hibernate.geral.MensagemDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="usuarioMensagemDaoTarget" class="com.fortes.rh.dao.hibernate.geral.UsuarioMensagemDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="clienteDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ClienteDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ConfiguracaoCampoExtraDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="camposExtrasDaoTarget" class="com.fortes.rh.dao.hibernate.geral.CamposExtrasDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoPerformanceDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ConfiguracaoPerformanceDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoRelatorioDinamicoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ConfiguracaoRelatorioDinamicoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="codigoCBODaoTarget" class="com.fortes.rh.dao.hibernate.geral.CodigoCBODaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="cidDaoTarget" class="com.fortes.rh.dao.hibernate.geral.CidDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="grupoACDaoTarget" class="com.fortes.rh.dao.hibernate.geral.GrupoACDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="comoFicouSabendoVagaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ComoFicouSabendoVagaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoLimiteColaboradorDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ConfiguracaoLimiteColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="quantidadeLimiteColaboradoresPorCargoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.QuantidadeLimiteColaboradoresPorCargoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorPeriodoExperienciaAvaliacaoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ColaboradorPeriodoExperienciaAvaliacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="tipoDocumentoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.TipoDocumentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="tipoDespesaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.TipoDespesaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="turmaTipoDespesaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.TurmaTipoDespesaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="providenciaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ProvidenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="gerenciadorComunicacaoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.GerenciadorComunicacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="noticiaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.NoticiaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="usuarioNoticiaDaoTarget" class="com.fortes.rh.dao.hibernate.geral.UsuarioNoticiaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="cartaoDaoTarget" class="com.fortes.rh.dao.hibernate.geral.CartaoDaoHibernate">
  	<property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraVisivelObrigadotorioDaoTarget" class="com.fortes.rh.dao.hibernate.geral.ConfiguracaoCampoExtraVisivelObrigadotorioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="usuarioAjudaESocialDaoTarget" class="com.fortes.rh.dao.hibernate.geral.UsuarioAjudaESocialDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>