.tern-project
.ruby-version
relatorio_cobertura.tar.gz
junit-report/*
cobertura-report/*
extras/json/*.json
web/WEB-INF/classes/
*.class
*.bak
*.log
dist/
.classpath
.project
file.fortesrh
.settings/
.mymetadata
.myeclipse/
.metadata
features/.idea/
Thumbs.db
.externalToolBuilders/
ruby/Gemfile.lock
.rvmrc
*.DS_Store
.dbeaver-data-sources.xml
.myumldata
Scripts/
web/WEB-INF/report/lib/
