<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="thumbnailTarget" class="com.fortes.rh.business.thumb.ThumbnailManagerImpl">
    <property name="dao">
      <ref bean="candidatoDao" />
    </property>
  </bean>
  <bean id="thumbnailManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.thumb.ThumbnailManager</value>
    </property>
    <property name="target">
      <ref bean="thumbnailTarget" />
    </property>
  </bean>
</beans>

