<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="importacaoColaboradorManagerTarget" class="com.fortes.rh.business.importacao.ImportacaoColaboradorManagerImpl">
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
  </bean>
  <bean id="importacaoColaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.importacao.ImportacaoColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="importacaoColaboradorManagerTarget" />
    </property>
  </bean>
</beans>