<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="historicoColaboradorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.HistoricoColaboradorDao</value>
    </property>
    <property name="target">
      <ref bean="historicoColaboradorDaoTarget" />
    </property>
  </bean>
  <bean id="faixaSalarialDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.FaixaSalarialDao</value>
    </property>
    <property name="target">
      <ref bean="faixaSalarialDaoTarget" />
    </property>
  </bean>
  <bean id="grupoOcupacionalDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.GrupoOcupacionalDao</value>
    </property>
    <property name="target">
      <ref bean="grupoOcupacionalDaoTarget" />
    </property>
  </bean>
  <bean id="reajusteColaboradorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.ReajusteColaboradorDao</value>
    </property>
    <property name="target">
      <ref bean="reajusteColaboradorDaoTarget" />
    </property>
  </bean>
  <bean id="reajusteFaixaSalarialDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.ReajusteFaixaSalarialDao</value>
    </property>
    <property name="target">
      <ref bean="reajusteFaixaSalarialDaoTarget" />
    </property>
  </bean>
  <bean id="reajusteIndiceDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.ReajusteIndiceDao</value>
    </property>
    <property name="target">
      <ref bean="reajusteIndiceDaoTarget" />
    </property>
  </bean>
  <bean id="tabelaReajusteColaboradorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.TabelaReajusteColaboradorDao</value>
    </property>
    <property name="target">
      <ref bean="tabelaReajusteColaboradorDaoTarget" />
    </property>
  </bean>
  <bean id="indiceDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.IndiceDao</value>
    </property>
    <property name="target">
      <ref bean="indiceDaoTarget" />
    </property>
  </bean>
  <bean id="indiceHistoricoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.IndiceHistoricoDao</value>
    </property>
    <property name="target">
      <ref bean="indiceHistoricoDaoTarget" />
    </property>
  </bean>
  <bean id="faixaSalarialHistoricoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.FaixaSalarialHistoricoDao</value>
    </property>
    <property name="target">
      <ref bean="faixaSalarialHistoricoDaoTarget" />
    </property>
  </bean>
  <bean id="faturamentoMensalDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.FaturamentoMensalDao</value>
    </property>
    <property name="target">
      <ref bean="faturamentoMensalDaoTarget" />
    </property>
  </bean>
</beans>


