<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="respostaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.RespostaDao</value>
    </property>
    <property name="target">
      <ref bean="respostaDaoTarget" />
    </property>
  </bean>
  <bean id="perguntaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.PerguntaDao</value>
    </property>
    <property name="target">
      <ref bean="perguntaDaoTarget" />
    </property>
  </bean>
  <bean id="pesquisaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.PesquisaDao</value>
    </property>
    <property name="target">
      <ref bean="pesquisaDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorRespostaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.ColaboradorRespostaDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorRespostaDaoTarget" />
    </property>
  </bean>
  <bean id="aspectoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.AspectoDao</value>
    </property>
    <property name="target">
      <ref bean="aspectoDaoTarget" />
    </property>
  </bean>
  <bean id="questionarioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.QuestionarioDao</value>
    </property>
    <property name="target">
      <ref bean="questionarioDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorQuestionarioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.ColaboradorQuestionarioDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorQuestionarioDaoTarget" />
    </property>
  </bean>
  <bean id="entrevistaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.EntrevistaDao</value>
    </property>
    <property name="target">
      <ref bean="entrevistaDaoTarget" />
    </property>
  </bean>
  <bean id="avaliacaoTurmaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.AvaliacaoTurmaDao</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoTurmaDaoTarget" />
    </property>
  </bean>
  <bean id="fichaMedicaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.pesquisa.FichaMedicaDao</value>
    </property>
    <property name="target">
      <ref bean="fichaMedicaDaoTarget" />
    </property>
  </bean>
</beans>

