<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="auditoriaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.security.AuditoriaDao</value>
    </property>
    <property name="target">
      <ref bean="auditoriaDaoTarget" />
    </property>
  </bean>
  
  <bean id="tokenDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.security.TokenDao</value>
    </property>
    <property name="target">
      <ref bean="tokenDaoTarget" />
    </property>
  </bean>
</beans>

