<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="transacaoPCDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.portalcolaborador.dao.TransacaoPCDao</value>
    </property>
    <property name="target">
      <ref bean="transacaoPCDaoTarget" />
    </property>
  </bean>
</beans>

