<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  
  <bean id="periodoExperienciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.avaliacao.PeriodoExperienciaDao</value>
    </property>
    <property name="target">
      <ref bean="periodoExperienciaDaoTarget" />
    </property>
  </bean>
  <bean id="avaliacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.avaliacao.AvaliacaoDao</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoDaoTarget" />
    </property>
  </bean>
  <bean id="avaliacaoDesempenhoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.avaliacao.AvaliacaoDesempenhoDao</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoDesempenhoDaoTarget" />
    </property>
  </bean>
  <bean id="avaliacaoPraticaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.avaliacao.AvaliacaoPraticaDao</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoPraticaDaoTarget" />
    </property>
  </bean>
</beans>


