<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="funcaoManagerTarget" class="com.fortes.rh.business.sesmt.FuncaoManagerImpl">
    <property name="dao">
      <ref bean="funcaoDao" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="catManager">
      <ref bean="catManager" />
    </property>
    <property name="historicoAmbienteManager">
      <ref bean="historicoAmbienteManager" />
    </property>
    <property name="riscoMedicaoRiscoManager">
      <ref bean="riscoMedicaoRiscoManager" />
    </property>
    <property name="epiManager">
      <ref bean="epiManager" />
    </property>
    <property name="engenheiroResponsavelManager">
      <ref bean="engenheiroResponsavelManager" />
    </property>
    <property name="medicoCoordenadorManager">
      <ref bean="medicoCoordenadorManager" />
    </property>
  </bean>
  <bean id="funcaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.FuncaoManager</value>
    </property>
    <property name="target">
      <ref bean="funcaoManagerTarget" />
    </property>
  </bean>
  <bean id="epiManagerTarget" class="com.fortes.rh.business.sesmt.EpiManagerImpl">
    <property name="dao">
      <ref bean="epiDao" />
    </property>
    <property name="epiHistoricoManager">
      <ref bean="epiHistoricoManager" />
    </property>
    <property name="tipoEPIManager">
      <ref bean="tipoEPIManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="epiManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EpiManager</value>
    </property>
    <property name="target">
      <ref bean="epiManagerTarget" />
    </property>
  </bean>
  <bean id="ambienteManagerTarget" class="com.fortes.rh.business.sesmt.AmbienteManagerImpl">
    <property name="dao">
      <ref bean="ambienteDao" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="historicoAmbienteManager">
      <ref bean="historicoAmbienteManager" />
    </property>
    <property name="funcaoManager">
      <ref bean="funcaoManager" />
    </property>
    <property name="epcManager">
      <ref bean="epcManager" />
    </property>
    <property name="riscoMedicaoRiscoManager">
      <ref bean="riscoMedicaoRiscoManager" />
    </property>
    <property name="epiManager">
      <ref bean="epiManager" />
    </property>
    <property name="composicaoSesmtManager">
      <ref bean="composicaoSesmtManager" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
  </bean>
  <bean id="ambienteManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AmbienteManager</value>
    </property>
    <property name="target">
      <ref bean="ambienteManagerTarget" />
    </property>
  </bean>
  <bean id="catManagerTarget" class="com.fortes.rh.business.sesmt.CatManagerImpl">
    <property name="dao">
      <ref bean="catDao" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
  </bean>
  <bean id="catManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.CatManager</value>
    </property>
    <property name="target">
      <ref bean="catManagerTarget" />
    </property>
  </bean>
  <bean id="tipoEPIManagerTarget" class="com.fortes.rh.business.sesmt.TipoEPIManagerImpl">
    <property name="dao">
      <ref bean="tipoEPIDao" />
    </property>
  </bean>
  <bean id="tipoEPIManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.TipoEPIManager</value>
    </property>
    <property name="target">
      <ref bean="tipoEPIManagerTarget" />
    </property>
  </bean>
  <bean id="historicoAmbienteManagerTarget" class="com.fortes.rh.business.sesmt.HistoricoAmbienteManagerImpl">
    <property name="dao">
      <ref bean="historicoAmbienteDao" />
    </property>
    <property name="riscoAmbienteManager">
      <ref bean="riscoAmbienteManager" />
    </property>
  </bean>
  <bean id="historicoAmbienteManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.HistoricoAmbienteManager</value>
    </property>
    <property name="target">
      <ref bean="historicoAmbienteManagerTarget" />
    </property>
  </bean>
  <bean id="historicoFuncaoManagerTarget" class="com.fortes.rh.business.sesmt.HistoricoFuncaoManagerImpl">
    <property name="dao">
      <ref bean="historicoFuncaoDao" />
    </property>
    <property name="funcaoManager">
      <ref bean="funcaoManager" />
    </property>
    <property name="exameManager">
      <ref bean="exameManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="epiManager">
      <ref bean="epiManager" />
    </property>
    <property name="riscoFuncaoManager">
      <ref bean="riscoFuncaoManager" />
    </property>
  </bean>
  <bean id="historicoFuncaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.HistoricoFuncaoManager</value>
    </property>
    <property name="target">
      <ref bean="historicoFuncaoManagerTarget" />
    </property>
  </bean>
  <bean id="riscoManagerTarget" class="com.fortes.rh.business.sesmt.RiscoManagerImpl">
    <property name="dao">
      <ref bean="riscoDao" />
    </property>
  </bean>
  <bean id="riscoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.RiscoManager</value>
    </property>
    <property name="target">
      <ref bean="riscoManagerTarget" />
    </property>
  </bean>
  <bean id="anexoManagerTarget" class="com.fortes.rh.business.sesmt.AnexoManagerImpl">
    <property name="dao">
      <ref bean="anexoDao" />
    </property>
  </bean>
  <bean id="anexoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AnexoManager</value>
    </property>
    <property name="target">
      <ref bean="anexoManagerTarget" />
    </property>
  </bean>
  <bean id="epcManagerTarget" class="com.fortes.rh.business.sesmt.EpcManagerImpl">
    <property name="dao">
      <ref bean="epcDao" />
    </property>
  </bean>
  <bean id="epcManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EpcManager</value>
    </property>
    <property name="target">
      <ref bean="epcManagerTarget" />
    </property>
  </bean>
  <bean id="exameManagerTarget" class="com.fortes.rh.business.sesmt.ExameManagerImpl">
    <property name="dao">
      <ref bean="exameDao" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>    
  </bean>
  <bean id="exameManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExameManager</value>
    </property>
    <property name="target">
      <ref bean="exameManagerTarget" />
    </property>
  </bean>
  <bean id="realizacaoExameManagerTarget" class="com.fortes.rh.business.sesmt.RealizacaoExameManagerImpl">
    <property name="dao">
      <ref bean="realizacaoExameDao" />
    </property>
    <property name="exameSolicitacaoExameManager">
      <ref bean="exameSolicitacaoExameManager" />
    </property>
  </bean>
  <bean id="realizacaoExameManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.RealizacaoExameManager</value>
    </property>
    <property name="target">
      <ref bean="realizacaoExameManagerTarget" />
    </property>
  </bean>
  <bean id="epiHistoricoManagerTarget" class="com.fortes.rh.business.sesmt.EpiHistoricoManagerImpl">
    <property name="dao">
      <ref bean="epiHistoricoDao" />
    </property>
  </bean>
  <bean id="epiHistoricoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EpiHistoricoManager</value>
    </property>
    <property name="target">
      <ref bean="epiHistoricoManagerTarget" />
    </property>
  </bean>
  <bean id="engenheiroResponsavelManagerTarget" class="com.fortes.rh.business.sesmt.EngenheiroResponsavelManagerImpl">
    <property name="dao">
      <ref bean="engenheiroResponsavelDao" />
    </property>
  </bean>
  <bean id="engenheiroResponsavelManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EngenheiroResponsavelManager</value>
    </property>
    <property name="target">
      <ref bean="engenheiroResponsavelManagerTarget" />
    </property>
  </bean>
  <bean id="medicoCoordenadorManagerTarget" class="com.fortes.rh.business.sesmt.MedicoCoordenadorManagerImpl">
    <property name="dao">
      <ref bean="medicoCoordenadorDao" />
    </property>
  </bean>
  <bean id="medicoCoordenadorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.MedicoCoordenadorManager</value>
    </property>
    <property name="target">
      <ref bean="medicoCoordenadorManagerTarget" />
    </property>
  </bean>
  <bean id="clinicaAutorizadaManagerTarget" class="com.fortes.rh.business.sesmt.ClinicaAutorizadaManagerImpl">
    <property name="dao">
      <ref bean="clinicaAutorizadaDao" />
    </property>
  </bean>
  <bean id="clinicaAutorizadaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ClinicaAutorizadaManager</value>
    </property>
    <property name="target">
      <ref bean="clinicaAutorizadaManagerTarget" />
    </property>
  </bean>
  <bean id="pcmsoManagerTarget" class="com.fortes.rh.business.sesmt.PcmsoManagerImpl">
    <property name="agendaManager">
      <ref bean="agendaManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="realizacaoExameManager">
      <ref bean="realizacaoExameManager" />
    </property>
    <property name="catManager">
      <ref bean="catManager" />
    </property>
    <property name="historicoFuncaoManager">
      <ref bean="historicoFuncaoManager" />
    </property>
    <property name="funcaoManager">
      <ref bean="funcaoManager" />
    </property>
    <property name="riscoAmbienteManager">
      <ref bean="riscoAmbienteManager" />
    </property>
    <property name="historicoAmbienteManager">
      <ref bean="historicoAmbienteManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="composicaoSesmtManager">
      <ref bean="composicaoSesmtManager" />
    </property>
  </bean>
  <bean id="pcmsoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.PcmsoManager</value>
    </property>
    <property name="target">
      <ref bean="pcmsoManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoExameManagerTarget" class="com.fortes.rh.business.sesmt.SolicitacaoExameManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoExameDao" />
    </property>
    <property name="exameSolicitacaoExameManager">
      <ref bean="exameSolicitacaoExameManager" />
    </property>
    <property name="realizacaoExameManager">
      <ref bean="realizacaoExameManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="historicoColaboradorManager">
      <ref bean="historicoColaboradorManager" />
    </property>
    <property name="riscoAmbienteManager">
      <ref bean="riscoAmbienteManager" />
    </property>
    <property name="riscoFuncaoManager">
      <ref bean="riscoFuncaoManager" />
    </property>
  </bean>
  <bean id="solicitacaoExameManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.SolicitacaoExameManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoExameManagerTarget" />
    </property>
  </bean>
  <bean id="prontuarioManagerTarget" class="com.fortes.rh.business.sesmt.ProntuarioManagerImpl">
    <property name="dao">
      <ref bean="prontuarioDao" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="fichaMedicaManager">
      <ref bean="fichaMedicaManager" />
    </property>
    <property name="realizacaoExameManager">
      <ref bean="realizacaoExameManager" />
    </property>
    <property name="solicitacaoExameManager">
      <ref bean="solicitacaoExameManager" />
    </property>
    <property name="colaboradorAfastamentoManager">
      <ref bean="colaboradorAfastamentoManager" />
    </property>
  </bean>
  <bean id="prontuarioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ProntuarioManager</value>
    </property>
    <property name="target">
      <ref bean="prontuarioManagerTarget" />
    </property>
  </bean>
  <bean id="exameSolicitacaoExameManagerTarget" class="com.fortes.rh.business.sesmt.ExameSolicitacaoExameManagerImpl">
    <property name="dao">
      <ref bean="exameSolicitacaoExameDao" />
    </property>
  </bean>
  <bean id="exameSolicitacaoExameManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExameSolicitacaoExameManager</value>
    </property>
    <property name="target">
      <ref bean="exameSolicitacaoExameManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiManagerTarget" class="com.fortes.rh.business.sesmt.SolicitacaoEpiManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoEpiDao" />
    </property>
    <property name="solicitacaoEpiItemManager">
      <ref bean="solicitacaoEpiItemManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="solicitacaoEpiManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.SolicitacaoEpiManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemManagerTarget" class="com.fortes.rh.business.sesmt.SolicitacaoEpiItemManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoEpiItemDao" />
    </property>
    <property name="solicitacaoEpiItemEntregaManager">
      <ref bean="solicitacaoEpiItemEntregaManager" />
    </property>
    <property name="epiHistoricoManager">
      <ref bean="epiHistoricoManager" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.SolicitacaoEpiItemManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiItemManagerTarget" />
    </property>
  </bean>
  <bean id="etapaProcessoEleitoralManagerTarget" class="com.fortes.rh.business.sesmt.EtapaProcessoEleitoralManagerImpl">
    <property name="dao">
      <ref bean="etapaProcessoEleitoralDao" />
    </property>
  </bean>
  <bean id="etapaProcessoEleitoralManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EtapaProcessoEleitoralManager</value>
    </property>
    <property name="target">
      <ref bean="etapaProcessoEleitoralManagerTarget" />
    </property>
  </bean>
  <bean id="eleicaoManagerTarget" class="com.fortes.rh.business.sesmt.EleicaoManagerImpl">
    <property name="dao">
      <ref bean="eleicaoDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="comissaoEleicaoManager">
      <ref bean="comissaoEleicaoManager" />
    </property>
    <property name="comissaoManager">
      <ref bean="comissaoManager" />
    </property>
    <property name="etapaProcessoEleitoralManager">
      <ref bean="etapaProcessoEleitoralManager" />
    </property>
  </bean>
  <bean id="eleicaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EleicaoManager</value>
    </property>
    <property name="target">
      <ref bean="eleicaoManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoEleicaoManagerTarget" class="com.fortes.rh.business.sesmt.CandidatoEleicaoManagerImpl">
    <property name="dao">
      <ref bean="candidatoEleicaoDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="eleicaoManager">
      <ref bean="eleicaoManager" />
    </property>
  </bean>
  <bean id="candidatoEleicaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.CandidatoEleicaoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoEleicaoManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoEleicaoManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoEleicaoManagerImpl">
    <property name="dao">
      <ref bean="comissaoEleicaoDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="comissaoEleicaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoEleicaoManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoEleicaoManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoManagerImpl">
    <property name="dao">
      <ref bean="comissaoDao" />
    </property>
    <property name="comissaoPeriodoManager">
      <ref bean="comissaoPeriodoManager" />
    </property>
    <property name="comissaoReuniaoManager">
      <ref bean="comissaoReuniaoManager" />
    </property>
    <property name="comissaoPlanoTrabalhoManager">
      <ref bean="comissaoPlanoTrabalhoManager" />
    </property>
    <property name="comissaoMembroManager">
      <ref bean="comissaoMembroManager" />
    </property>
  </bean>
  <bean id="comissaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoPeriodoManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoPeriodoManagerImpl">
    <property name="dao">
      <ref bean="comissaoPeriodoDao" />
    </property>
    <property name="candidatoEleicaoManager">
      <ref bean="candidatoEleicaoManager" />
    </property>
    <property name="comissaoMembroManager">
      <ref bean="comissaoMembroManager" />
    </property>
    <property name="comissaoReuniaoPresencaManager">
      <ref bean="comissaoReuniaoPresencaManager" />
    </property>
  </bean>
  <bean id="comissaoPeriodoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoPeriodoManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoPeriodoManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoMembroManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoMembroManagerImpl">
    <property name="dao">
      <ref bean="comissaoMembroDao" />
    </property>
    <property name="comissaoReuniaoPresencaManager">
      <ref bean="comissaoReuniaoPresencaManager" />
    </property>
  </bean>
  <bean id="comissaoMembroManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoMembroManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoMembroManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoReuniaoManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoReuniaoManagerImpl">
    <property name="dao">
      <ref bean="comissaoReuniaoDao" />
    </property>
    <property name="comissaoReuniaoPresencaManager">
      <ref bean="comissaoReuniaoPresencaManager" />
    </property>
    <property name="comissaoMembroManager">
      <ref bean="comissaoMembroManager" />
    </property>
    <property name="comissaoPeriodoManager">
      <ref bean="comissaoPeriodoManager" />
    </property>
  </bean>
  <bean id="comissaoReuniaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoReuniaoManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoReuniaoManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoPlanoTrabalhoManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoPlanoTrabalhoManagerImpl">
    <property name="dao">
      <ref bean="comissaoPlanoTrabalhoDao" />
    </property>
  </bean>
  <bean id="comissaoPlanoTrabalhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoPlanoTrabalhoManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoPlanoTrabalhoManagerTarget" />
    </property>
  </bean>
  <bean id="comissaoReuniaoPresencaManagerTarget" class="com.fortes.rh.business.sesmt.ComissaoReuniaoPresencaManagerImpl">
    <property name="dao">
      <ref bean="comissaoReuniaoPresencaDao" />
    </property>
  </bean>
  <bean id="comissaoReuniaoPresencaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComissaoReuniaoPresencaManager</value>
    </property>
    <property name="target">
      <ref bean="comissaoReuniaoPresencaManagerTarget" />
    </property>
  </bean>
  <bean id="afastamentoManagerTarget" class="com.fortes.rh.business.sesmt.AfastamentoManagerImpl">
    <property name="dao">
      <ref bean="afastamentoDao" />
    </property>
  </bean>
  <bean id="afastamentoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AfastamentoManager</value>
    </property>
    <property name="target">
      <ref bean="afastamentoManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorAfastamentoManagerTarget" class="com.fortes.rh.business.sesmt.ColaboradorAfastamentoManagerImpl">
    <property name="dao">
      <ref bean="colaboradorAfastamentoDao" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="afastamentoManager">
      <ref bean="afastamentoManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="cidManager">
      <ref bean="cidManager" />
    </property>
  </bean>
  <bean id="colaboradorAfastamentoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ColaboradorAfastamentoManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorAfastamentoManagerTarget" />
    </property>
  </bean>
  <bean id="extintorManagerTarget" class="com.fortes.rh.business.sesmt.ExtintorManagerImpl">
    <property name="dao">
      <ref bean="extintorDao" />
    </property>
    <property name="historicoExtintorManager">
      <ref bean="historicoExtintorManager" />
    </property>
    <property name="extintorManutencaoManager">
      <ref bean="extintorManutencaoManager" />
    </property>
    <property name="extintorInspecaoManager">
      <ref bean="extintorInspecaoManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
  </bean>
  <bean id="extintorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExtintorManager</value>
    </property>
    <property name="target">
      <ref bean="extintorManagerTarget" />
    </property>
  </bean>
  <bean id="historicoExtintorManagerTarget" class="com.fortes.rh.business.sesmt.HistoricoExtintorManagerImpl">
    <property name="dao">
      <ref bean="historicoExtintorDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="historicoExtintorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.HistoricoExtintorManager</value>
    </property>
    <property name="target">
      <ref bean="historicoExtintorManagerTarget" />
    </property>
  </bean>
  <bean id="extintorInspecaoManagerTarget" class="com.fortes.rh.business.sesmt.ExtintorInspecaoManagerImpl">
    <property name="dao">
      <ref bean="extintorInspecaoDao" />
    </property>
  </bean>
  <bean id="extintorInspecaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExtintorInspecaoManager</value>
    </property>
    <property name="target">
      <ref bean="extintorInspecaoManagerTarget" />
    </property>
  </bean>
  <bean id="extintorManutencaoManagerTarget" class="com.fortes.rh.business.sesmt.ExtintorManutencaoManagerImpl">
    <property name="dao">
      <ref bean="extintorManutencaoDao" />
    </property>
  </bean>
  <bean id="extintorManutencaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExtintorManutencaoManager</value>
    </property>
    <property name="target">
      <ref bean="extintorManutencaoManagerTarget" />
    </property>
  </bean>
  <bean id="extintorManutencaoServicoManagerTarget" class="com.fortes.rh.business.sesmt.ExtintorManutencaoServicoManagerImpl">
    <property name="dao">
      <ref bean="extintorManutencaoServicoDao" />
    </property>
  </bean>
  <bean id="extintorManutencaoServicoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExtintorManutencaoServicoManager</value>
    </property>
    <property name="target">
      <ref bean="extintorManutencaoServicoManagerTarget" />
    </property>
  </bean>
  <bean id="riscoAmbienteManagerTarget" class="com.fortes.rh.business.sesmt.RiscoAmbienteManagerImpl">
    <property name="dao">
      <ref bean="riscoAmbienteDao" />
    </property>
  </bean>
  <bean id="riscoAmbienteManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.RiscoAmbienteManager</value>
    </property>
    <property name="target">
      <ref bean="riscoAmbienteManagerTarget" />
    </property>
  </bean>
  <bean id="riscoFuncaoManagerTarget" class="com.fortes.rh.business.sesmt.RiscoFuncaoManagerImpl">
    <property name="dao">
      <ref bean="riscoFuncaoDao" />
    </property>
  </bean>
  <bean id="riscoFuncaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.RiscoFuncaoManager</value>
    </property>
    <property name="target">
      <ref bean="riscoFuncaoManagerTarget" />
    </property>
  </bean>
  <bean id="medicaoRiscoManagerTarget" class="com.fortes.rh.business.sesmt.MedicaoRiscoManagerImpl">
    <property name="dao">
      <ref bean="medicaoRiscoDao" />
    </property>
    <property name="riscoMedicaoRiscoManager">
      <ref bean="riscoMedicaoRiscoManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="medicaoRiscoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.MedicaoRiscoManager</value>
    </property>
    <property name="target">
      <ref bean="medicaoRiscoManagerTarget" />
    </property>
  </bean>
  <bean id="riscoMedicaoRiscoManagerTarget" class="com.fortes.rh.business.sesmt.RiscoMedicaoRiscoManagerImpl">
    <property name="dao">
      <ref bean="riscoMedicaoRiscoDao" />
    </property>
  </bean>
  <bean id="riscoMedicaoRiscoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.RiscoMedicaoRiscoManager</value>
    </property>
    <property name="target">
      <ref bean="riscoMedicaoRiscoManagerTarget" />
    </property>
  </bean>
  <bean id="eventoManagerTarget" class="com.fortes.rh.business.sesmt.EventoManagerImpl">
    <property name="dao">
      <ref bean="eventoDao" />
    </property>
  </bean>
  <bean id="eventoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EventoManager</value>
    </property>
    <property name="target">
      <ref bean="eventoManagerTarget" />
    </property>
  </bean>
  <bean id="agendaManagerTarget" class="com.fortes.rh.business.sesmt.AgendaManagerImpl">
    <property name="dao">
      <ref bean="agendaDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="agendaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AgendaManager</value>
    </property>
    <property name="target">
      <ref bean="agendaManagerTarget" />
    </property>
  </bean>
  <bean id="naturezaLesaoManagerTarget" class="com.fortes.rh.business.sesmt.NaturezaLesaoManagerImpl">
    <property name="dao">
      <ref bean="naturezaLesaoDao" />
    </property>
  </bean>
  <bean id="naturezaLesaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.NaturezaLesaoManager</value>
    </property>
    <property name="target">
      <ref bean="naturezaLesaoManagerTarget" />
    </property>
  </bean>
  <bean id="composicaoSesmtManagerTarget" class="com.fortes.rh.business.sesmt.ComposicaoSesmtManagerImpl">
    <property name="dao">
      <ref bean="composicaoSesmtDao" />
    </property>
  </bean>
  <bean id="composicaoSesmtManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ComposicaoSesmtManager</value>
    </property>
    <property name="target">
      <ref bean="composicaoSesmtManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemEntregaManagerTarget" class="com.fortes.rh.business.sesmt.SolicitacaoEpiItemEntregaManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoEpiItemEntregaDao" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemEntregaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.SolicitacaoEpiItemEntregaManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiItemEntregaManagerTarget" />
    </property>
  </bean>
  <bean id="obraManagerTarget" class="com.fortes.rh.business.sesmt.ObraManagerImpl">
    <property name="dao">
      <ref bean="obraDao" />
    </property>
  </bean>
  <bean id="obraManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ObraManager</value>
    </property>
    <property name="target">
      <ref bean="obraManagerTarget" />
    </property>
  </bean>
  <bean id="pcmatManagerTarget" class="com.fortes.rh.business.sesmt.PcmatManagerImpl">
    <property name="dao">
      <ref bean="pcmatDao" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="obraManager">
      <ref bean="obraManager" />
    </property>
    <property name="fasePcmatManager">
      <ref bean="fasePcmatManager" />
    </property>
    <property name="medidaRiscoFasePcmatManager">
      <ref bean="medidaRiscoFasePcmatManager" />
    </property>
    <property name="areaVivenciaPcmatManager">
      <ref bean="areaVivenciaPcmatManager" />
    </property>
    <property name="atividadeSegurancaPcmatManager">
      <ref bean="atividadeSegurancaPcmatManager" />
    </property>
    <property name="epiPcmatManager">
      <ref bean="epiPcmatManager" />
    </property>
    <property name="epcPcmatManager">
      <ref bean="epcPcmatManager" />
    </property>
    <property name="sinalizacaoPcmatManager">
      <ref bean="sinalizacaoPcmatManager" />
    </property>
  </bean>
  <bean id="pcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.PcmatManager</value>
    </property>
    <property name="target">
      <ref bean="pcmatManagerTarget" />
    </property>
  </bean>
  <bean id="faseManagerTarget" class="com.fortes.rh.business.sesmt.FaseManagerImpl">
    <property name="dao">
      <ref bean="faseDao" />
    </property>
  </bean>
  <bean id="faseManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.FaseManager</value>
    </property>
    <property name="target">
      <ref bean="faseManagerTarget" />
    </property>
  </bean>
  <bean id="medidaSegurancaManagerTarget" class="com.fortes.rh.business.sesmt.MedidaSegurancaManagerImpl">
    <property name="dao">
      <ref bean="medidaSegurancaDao" />
    </property>
  </bean>
  <bean id="medidaSegurancaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.MedidaSegurancaManager</value>
    </property>
    <property name="target">
      <ref bean="medidaSegurancaManagerTarget" />
    </property>
  </bean>
  <bean id="fasePcmatManagerTarget" class="com.fortes.rh.business.sesmt.FasePcmatManagerImpl">
    <property name="dao">
      <ref bean="fasePcmatDao" />
    </property>
    <property name="riscoFasePcmatManager">
      <ref bean="riscoFasePcmatManager" />
    </property>
  </bean>
  <bean id="fasePcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.FasePcmatManager</value>
    </property>
    <property name="target">
      <ref bean="fasePcmatManagerTarget" />
    </property>
  </bean>
  <bean id="riscoFasePcmatManagerTarget" class="com.fortes.rh.business.sesmt.RiscoFasePcmatManagerImpl">
    <property name="dao">
      <ref bean="riscoFasePcmatDao" />
    </property>
    <property name="medidaRiscoFasePcmatManager">
      <ref bean="medidaRiscoFasePcmatManager" />
    </property>
  </bean>
  <bean id="riscoFasePcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.RiscoFasePcmatManager</value>
    </property>
    <property name="target">
      <ref bean="riscoFasePcmatManagerTarget" />
    </property>
  </bean>
  <bean id="medidaRiscoFasePcmatManagerTarget" class="com.fortes.rh.business.sesmt.MedidaRiscoFasePcmatManagerImpl">
    <property name="dao">
      <ref bean="medidaRiscoFasePcmatDao" />
    </property>
  </bean>
  <bean id="medidaRiscoFasePcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.MedidaRiscoFasePcmatManager</value>
    </property>
    <property name="target">
      <ref bean="medidaRiscoFasePcmatManagerTarget" />
    </property>
  </bean>
  <bean id="areaVivenciaManagerTarget" class="com.fortes.rh.business.sesmt.AreaVivenciaManagerImpl">
    <property name="dao">
      <ref bean="areaVivenciaDao" />
    </property>
  </bean>
  <bean id="areaVivenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AreaVivenciaManager</value>
    </property>
    <property name="target">
      <ref bean="areaVivenciaManagerTarget" />
    </property>
  </bean>
  <bean id="areaVivenciaPcmatManagerTarget" class="com.fortes.rh.business.sesmt.AreaVivenciaPcmatManagerImpl">
    <property name="dao">
      <ref bean="areaVivenciaPcmatDao" />
    </property>
  </bean>
  <bean id="areaVivenciaPcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AreaVivenciaPcmatManager</value>
    </property>
    <property name="target">
      <ref bean="areaVivenciaPcmatManagerTarget" />
    </property>
  </bean>
  <bean id="atividadeSegurancaPcmatManagerTarget" class="com.fortes.rh.business.sesmt.AtividadeSegurancaPcmatManagerImpl">
    <property name="dao">
      <ref bean="atividadeSegurancaPcmatDao" />
    </property>
  </bean>
  <bean id="atividadeSegurancaPcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.AtividadeSegurancaPcmatManager</value>
    </property>
    <property name="target">
      <ref bean="atividadeSegurancaPcmatManagerTarget" />
    </property>
  </bean>
  <bean id="epiPcmatManagerTarget" class="com.fortes.rh.business.sesmt.EpiPcmatManagerImpl">
    <property name="dao">
      <ref bean="epiPcmatDao" />
    </property>
  </bean>
  <bean id="epiPcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EpiPcmatManager</value>
    </property>
    <property name="target">
      <ref bean="epiPcmatManagerTarget" />
    </property>
  </bean>
  <bean id="epcPcmatManagerTarget" class="com.fortes.rh.business.sesmt.EpcPcmatManagerImpl">
    <property name="dao">
      <ref bean="epcPcmatDao" />
    </property>
  </bean>
  <bean id="epcPcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.EpcPcmatManager</value>
    </property>
    <property name="target">
      <ref bean="epcPcmatManagerTarget" />
    </property>
  </bean>
  <bean id="sinalizacaoPcmatManagerTarget" class="com.fortes.rh.business.sesmt.SinalizacaoPcmatManagerImpl">
    <property name="dao">
      <ref bean="sinalizacaoPcmatDao" />
    </property>
  </bean>
  <bean id="sinalizacaoPcmatManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.SinalizacaoPcmatManager</value>
    </property>
    <property name="target">
      <ref bean="sinalizacaoPcmatManagerTarget" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoEpiManagerTarget" class="com.fortes.rh.business.sesmt.MotivoSolicitacaoEpiManagerImpl">
    <property name="dao">
      <ref bean="motivoSolicitacaoEpiDao" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoEpiManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.MotivoSolicitacaoEpiManager</value>
    </property>
    <property name="target">
      <ref bean="motivoSolicitacaoEpiManagerTarget" />
    </property>
  </bean>
</beans>

