<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="respostaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.RespostaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="perguntaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.PerguntaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="pesquisaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.PesquisaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorRespostaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.ColaboradorRespostaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="aspectoDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.AspectoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="questionarioDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.QuestionarioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="colaboradorQuestionarioDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.ColaboradorQuestionarioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="entrevistaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.EntrevistaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="avaliacaoTurmaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.AvaliacaoTurmaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="fichaMedicaDaoTarget" class="com.fortes.rh.dao.hibernate.pesquisa.FichaMedicaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>

