<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="candidatoManagerTarget" class="com.fortes.rh.business.captacao.CandidatoManagerImpl">
    <property name="dao">
      <ref bean="candidatoDao" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="solicitacaoManager">
      <ref bean="solicitacaoManager" />
    </property>
    <property name="anuncioManager">
      <ref bean="anuncioManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="experienciaManager">
      <ref bean="experienciaManager" />
    </property>
    <property name="formacaoManager">
      <ref bean="formacaoManager" />
    </property>
    <property name="candidatoIdiomaManager">
      <ref bean="candidatoIdiomaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
    <property name="bairroManager">
      <ref bean="bairroManager" />
    </property>
    <property name="candidatoCurriculoManager">
      <ref bean="candidatoCurriculoManager" />
    </property>
    <property name="etapaSeletivaManager">
      <ref bean="etapaSeletivaManager" />
    </property>
  </bean>
  <bean id="candidatoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoManagerTarget" />
    </property>
  </bean>
  <bean id="conhecimentoManagerTarget" class="com.fortes.rh.business.captacao.ConhecimentoManagerImpl">
    <property name="dao">
      <ref bean="conhecimentoDao" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
  </bean>
  <bean id="conhecimentoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConhecimentoManager</value>
    </property>
    <property name="target">
      <ref bean="conhecimentoManagerTarget" />
    </property>
  </bean>
  <bean id="etapaSeletivaManagerTarget" class="com.fortes.rh.business.captacao.EtapaSeletivaManagerImpl">
    <property name="dao">
      <ref bean="etapaSeletivaDao" />
    </property>
  </bean>
  <bean id="etapaSeletivaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.EtapaSeletivaManager</value>
    </property>
    <property name="target">
      <ref bean="etapaSeletivaManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoDao" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="anuncioManager">
      <ref bean="anuncioManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="perfilManager">
      <ref bean="perfilManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
  </bean>
  <bean id="solicitacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoManagerTarget" />
    </property>
  </bean>
  <bean id="empresaBdsManagerTarget" class="com.fortes.rh.business.captacao.EmpresaBdsManagerImpl">
    <property name="dao">
      <ref bean="empresaBdsDao" />
    </property>
  </bean>
  <bean id="empresaBdsManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.EmpresaBdsManager</value>
    </property>
    <property name="target">
      <ref bean="empresaBdsManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoBDSManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoBDSManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoBDSDao" />
    </property>
  </bean>
  <bean id="solicitacaoBDSManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoBDSManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoBDSManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoSolicitacaoManagerTarget" class="com.fortes.rh.business.captacao.CandidatoSolicitacaoManagerImpl">
    <property name="dao">
      <ref bean="candidatoSolicitacaoDao" />
    </property>
    <property name="historicoCandidatoManager">
      <ref bean="historicoCandidatoManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
  </bean>
  <bean id="candidatoSolicitacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoSolicitacaoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoSolicitacaoManagerTarget" />
    </property>
  </bean>
  <bean id="historicoCandidatoManagerTarget" class="com.fortes.rh.business.captacao.HistoricoCandidatoManagerImpl">
    <property name="dao">
      <ref bean="historicoCandidatoDao" />
    </property>
    <property name="etapaSeletivaManager">
      <ref bean="etapaSeletivaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="historicoCandidatoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.HistoricoCandidatoManager</value>
    </property>
    <property name="target">
      <ref bean="historicoCandidatoManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoIdiomaManagerTarget" class="com.fortes.rh.business.captacao.CandidatoIdiomaManagerImpl">
    <property name="dao">
      <ref bean="candidatoIdiomaDao" />
    </property>
    <property name="colaboradorIdiomaManager">
      <ref bean="colaboradorIdiomaManager" />
    </property>
  </bean>
  <bean id="candidatoIdiomaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoIdiomaManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoIdiomaManagerTarget" />
    </property>
  </bean>
  <bean id="anuncioManagerTarget" class="com.fortes.rh.business.captacao.AnuncioManagerImpl">
    <property name="dao">
      <ref bean="anuncioDao" />
    </property>
    <property name="empresaBdsManager">
      <ref bean="empresaBdsManager" />
    </property>
  </bean>
  <bean id="anuncioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.AnuncioManager</value>
    </property>
    <property name="target">
      <ref bean="anuncioManagerTarget" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoManagerTarget" class="com.fortes.rh.business.captacao.MotivoSolicitacaoManagerImpl">
    <property name="dao">
      <ref bean="motivoSolicitacaoDao" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.MotivoSolicitacaoManager</value>
    </property>
    <property name="target">
      <ref bean="motivoSolicitacaoManagerTarget" />
    </property>
  </bean>
  <bean id="duracaoPreenchimentoVagaManagerTarget" class="com.fortes.rh.business.captacao.DuracaoPreenchimentoVagaManagerImpl">
    
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="cargoManager">
      <ref bean="cargoManager" />
    </property>
    <property name="solicitacaoManager">
      <ref bean="solicitacaoManager" />
    </property>
  </bean>
  <bean id="duracaoPreenchimentoVagaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.DuracaoPreenchimentoVagaManager</value>
    </property>
    <property name="target">
      <ref bean="duracaoPreenchimentoVagaManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoCurriculoManagerTarget" class="com.fortes.rh.business.captacao.CandidatoCurriculoManagerImpl">
    <property name="dao">
      <ref bean="candidatoCurriculoDao" />
    </property>
  </bean>
  <bean id="candidatoCurriculoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoCurriculoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoCurriculoManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoBairroManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoBairroManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoBairroDao" />
    </property>
  </bean>
  <bean id="solicitacaoBairroManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoBairroManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoBairroManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoImpressaoCurriculoManagerTarget" class="com.fortes.rh.business.captacao.ConfiguracaoImpressaoCurriculoManagerImpl">
    <property name="dao">
      <ref bean="configuracaoImpressaoCurriculoDao" />
    </property>
  </bean>
  <bean id="configuracaoImpressaoCurriculoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConfiguracaoImpressaoCurriculoManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoImpressaoCurriculoManagerTarget" />
    </property>
  </bean>
</beans>


