<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="periodoExperienciaManagerTarget" class="com.fortes.rh.business.avaliacao.PeriodoExperienciaManagerImpl">
    <property name="dao">
      <ref bean="periodoExperienciaDao" />
    </property>
  </bean>
  <bean id="periodoExperienciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.avaliacao.PeriodoExperienciaManager</value>
    </property>
    <property name="target">
      <ref bean="periodoExperienciaManagerTarget" />
    </property>
  </bean>
  <bean id="avaliacaoManagerTarget" class="com.fortes.rh.business.avaliacao.AvaliacaoManagerImpl">
    <property name="dao">
      <ref bean="avaliacaoDao" />
    </property>
    <property name="mensagemManager">
      <ref bean="mensagemManager" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
    <property name="respostaManager">
      <ref bean="respostaManager" />
    </property>
    <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="colaboradorRespostaManager">
      <ref bean="colaboradorRespostaManager" />
    </property>
    <property name="colaboradorPeriodoExperienciaAvaliacaoManager">
      <ref bean="colaboradorPeriodoExperienciaAvaliacaoManager" />
    </property>
    <property name="periodoExperienciaManager">
      <ref bean="periodoExperienciaManager" />
    </property>
  </bean>
  <bean id="avaliacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.avaliacao.AvaliacaoManager</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoManagerTarget" />
    </property>
  </bean>
  <bean id="participanteAvaliacaoDesempenhoManagerTarget" class="com.fortes.rh.business.avaliacao.ParticipanteAvaliacaoDesempenhoManagerImpl">
    <property name="dao">
      <ref bean="participanteAvaliacaoDesempenhoDao" />
    </property>
    <property name="configuracaoNivelCompetenciaManager">
      <ref bean="configuracaoNivelCompetenciaManager" />
    </property>
  </bean>
  <bean id="configuracaoCompetenciaAvaliacaoDesempenhoManagerTarget" class="com.fortes.rh.business.avaliacao.ConfiguracaoCompetenciaAvaliacaoDesempenhoManagerImpl">
    <property name="dao">
      <ref bean="configuracaoCompetenciaAvaliacaoDesempenhoDao" />
    </property>
  </bean>
  <bean id="avaliacaoDesempenhoManagerTarget" class="com.fortes.rh.business.avaliacao.AvaliacaoDesempenhoManagerImpl">
    <property name="dao">
      <ref bean="avaliacaoDesempenhoDao" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="respostaManager">
      <ref bean="respostaManager" />
    </property>
    <property name="colaboradorRespostaManager">
      <ref bean="colaboradorRespostaManager" />
    </property>
    <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="avaliacaoManager">
      <ref bean="avaliacaoManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="participanteAvaliacaoDesempenhoManager">
      <ref bean="participanteAvaliacaoDesempenhoManager" />
    </property>
  </bean>
  <bean id="participanteAvaliacaoDesempenhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.avaliacao.ParticipanteAvaliacaoDesempenhoManager</value>
    </property>
    <property name="target">
      <ref bean="participanteAvaliacaoDesempenhoManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoCompetenciaAvaliacaoDesempenhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.avaliacao.ConfiguracaoCompetenciaAvaliacaoDesempenhoManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoCompetenciaAvaliacaoDesempenhoManagerTarget" />
    </property>
  </bean>
  <bean id="avaliacaoDesempenhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.avaliacao.AvaliacaoDesempenhoManager</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoDesempenhoManagerTarget" />
    </property>
  </bean>
  <bean id="avaliacaoPraticaManagerTarget" class="com.fortes.rh.business.avaliacao.AvaliacaoPraticaManagerImpl">
    <property name="dao">
      <ref bean="avaliacaoPraticaDao" />
    </property>
  </bean>
  <bean id="avaliacaoPraticaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.avaliacao.AvaliacaoPraticaManager</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoPraticaManagerTarget" />
    </property>
  </bean>
</beans>

