<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="funcaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.FuncaoDao</value>
    </property>
    <property name="target">
      <ref bean="funcaoDaoTarget" />
    </property>
  </bean>
  <bean id="historicoFuncaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.HistoricoFuncaoDao</value>
    </property>
    <property name="target">
      <ref bean="historicoFuncaoDaoTarget" />
    </property>
  </bean>
  <bean id="epiDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EpiDao</value>
    </property>
    <property name="target">
      <ref bean="epiDaoTarget" />
    </property>
  </bean>
  <bean id="ambienteDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AmbienteDao</value>
    </property>
    <property name="target">
      <ref bean="ambienteDaoTarget" />
    </property>
  </bean>
  <bean id="catDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.CatDao</value>
    </property>
    <property name="target">
      <ref bean="catDaoTarget" />
    </property>
  </bean>
  <bean id="tipoEPIDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.TipoEPIDao</value>
    </property>
    <property name="target">
      <ref bean="tipoEPIDaoTarget" />
    </property>
  </bean>
  <bean id="historicoAmbienteDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.HistoricoAmbienteDao</value>
    </property>
    <property name="target">
      <ref bean="historicoAmbienteDaoTarget" />
    </property>
  </bean>
  <bean id="riscoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.RiscoDao</value>
    </property>
    <property name="target">
      <ref bean="riscoDaoTarget" />
    </property>
  </bean>
  <bean id="anexoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AnexoDao</value>
    </property>
    <property name="target">
      <ref bean="anexoDaoTarget" />
    </property>
  </bean>
  <bean id="epcDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EpcDao</value>
    </property>
    <property name="target">
      <ref bean="epcDaoTarget" />
    </property>
  </bean>
  <bean id="exameDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExameDao</value>
    </property>
    <property name="target">
      <ref bean="exameDaoTarget" />
    </property>
  </bean>
  <bean id="realizacaoExameDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.RealizacaoExameDao</value>
    </property>
    <property name="target">
      <ref bean="realizacaoExameDaoTarget" />
    </property>
  </bean>
  <bean id="epiHistoricoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EpiHistoricoDao</value>
    </property>
    <property name="target">
      <ref bean="epiHistoricoDaoTarget" />
    </property>
  </bean>
  <bean id="engenheiroResponsavelDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EngenheiroResponsavelDao</value>
    </property>
    <property name="target">
      <ref bean="engenheiroResponsavelDaoTarget" />
    </property>
  </bean>
  <bean id="medicoCoordenadorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.MedicoCoordenadorDao</value>
    </property>
    <property name="target">
      <ref bean="medicoCoordenadorDaoTarget" />
    </property>
  </bean>
  <bean id="clinicaAutorizadaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ClinicaAutorizadaDao</value>
    </property>
    <property name="target">
      <ref bean="clinicaAutorizadaDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoExameDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.SolicitacaoExameDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoExameDaoTarget" />
    </property>
  </bean>
  <bean id="exameSolicitacaoExameDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExameSolicitacaoExameDao</value>
    </property>
    <property name="target">
      <ref bean="exameSolicitacaoExameDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.SolicitacaoEpiDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.SolicitacaoEpiItemDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiItemDaoTarget" />
    </property>
  </bean>
  <bean id="etapaProcessoEleitoralDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EtapaProcessoEleitoralDao</value>
    </property>
    <property name="target">
      <ref bean="etapaProcessoEleitoralDaoTarget" />
    </property>
  </bean>
  <bean id="eleicaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EleicaoDao</value>
    </property>
    <property name="target">
      <ref bean="eleicaoDaoTarget" />
    </property>
  </bean>
  <bean id="candidatoEleicaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.CandidatoEleicaoDao</value>
    </property>
    <property name="target">
      <ref bean="candidatoEleicaoDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoEleicaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoEleicaoDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoEleicaoDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoPeriodoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoPeriodoDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoPeriodoDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoMembroDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoMembroDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoMembroDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoReuniaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoReuniaoDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoReuniaoDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoPlanoTrabalhoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoPlanoTrabalhoDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoPlanoTrabalhoDaoTarget" />
    </property>
  </bean>
  <bean id="comissaoReuniaoPresencaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComissaoReuniaoPresencaDao</value>
    </property>
    <property name="target">
      <ref bean="comissaoReuniaoPresencaDaoTarget" />
    </property>
  </bean>
  <bean id="afastamentoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AfastamentoDao</value>
    </property>
    <property name="target">
      <ref bean="afastamentoDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorAfastamentoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ColaboradorAfastamentoDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorAfastamentoDaoTarget" />
    </property>
  </bean>
  <bean id="extintorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExtintorDao</value>
    </property>
    <property name="target">
      <ref bean="extintorDaoTarget" />
    </property>
  </bean>
  <bean id="historicoExtintorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.HistoricoExtintorDao</value>
    </property>
    <property name="target">
      <ref bean="historicoExtintorDaoTarget" />
    </property>
  </bean>
  <bean id="extintorInspecaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExtintorInspecaoDao</value>
    </property>
    <property name="target">
      <ref bean="extintorInspecaoDaoTarget" />
    </property>
  </bean>
  <bean id="extintorInspecaoItemDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExtintorInspecaoItemDao</value>
    </property>
    <property name="target">
      <ref bean="extintorInspecaoItemDaoTarget" />
    </property>
  </bean>
  <bean id="extintorManutencaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExtintorManutencaoDao</value>
    </property>
    <property name="target">
      <ref bean="extintorManutencaoDaoTarget" />
    </property>
  </bean>
  <bean id="extintorManutencaoServicoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ExtintorManutencaoServicoDao</value>
    </property>
    <property name="target">
      <ref bean="extintorManutencaoServicoDaoTarget" />
    </property>
  </bean>
  <bean id="riscoAmbienteDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.RiscoAmbienteDao</value>
    </property>
    <property name="target">
      <ref bean="riscoAmbienteDaoTarget" />
    </property>
  </bean>
  <bean id="riscoFuncaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.RiscoFuncaoDao</value>
    </property>
    <property name="target">
      <ref bean="riscoFuncaoDaoTarget" />
    </property>
  </bean>
  <bean id="medicaoRiscoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.MedicaoRiscoDao</value>
    </property>
    <property name="target">
      <ref bean="medicaoRiscoDaoTarget" />
    </property>
  </bean>
  <bean id="riscoMedicaoRiscoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.RiscoMedicaoRiscoDao</value>
    </property>
    <property name="target">
      <ref bean="riscoMedicaoRiscoDaoTarget" />
    </property>
  </bean>
  <bean id="eventoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EventoDao</value>
    </property>
    <property name="target">
      <ref bean="eventoDaoTarget" />
    </property>
  </bean>
  <bean id="agendaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AgendaDao</value>
    </property>
    <property name="target">
      <ref bean="agendaDaoTarget" />
    </property>
  </bean>
  <bean id="naturezaLesaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.NaturezaLesaoDao</value>
    </property>
    <property name="target">
      <ref bean="naturezaLesaoDaoTarget" />
    </property>
  </bean>
  <bean id="composicaoSesmtDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ComposicaoSesmtDao</value>
    </property>
    <property name="target">
      <ref bean="composicaoSesmtDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemEntregaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.SolicitacaoEpiItemEntregaDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiItemEntregaDaoTarget" />
    </property>
  </bean>
  <bean id="obraDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ObraDao</value>
    </property>
    <property name="target">
      <ref bean="obraDaoTarget" />
    </property>
  </bean>
  <bean id="pcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.PcmatDao</value>
    </property>
    <property name="target">
      <ref bean="pcmatDaoTarget" />
    </property>
  </bean>
  <bean id="faseDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.FaseDao</value>
    </property>
    <property name="target">
      <ref bean="faseDaoTarget" />
    </property>
  </bean>
  <bean id="medidaSegurancaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.MedidaSegurancaDao</value>
    </property>
    <property name="target">
      <ref bean="medidaSegurancaDaoTarget" />
    </property>
  </bean>
  <bean id="fasePcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.FasePcmatDao</value>
    </property>
    <property name="target">
      <ref bean="fasePcmatDaoTarget" />
    </property>
  </bean>
  <bean id="riscoFasePcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.RiscoFasePcmatDao</value>
    </property>
    <property name="target">
      <ref bean="riscoFasePcmatDaoTarget" />
    </property>
  </bean>
  <bean id="medidaRiscoFasePcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.MedidaRiscoFasePcmatDao</value>
    </property>
    <property name="target">
      <ref bean="medidaRiscoFasePcmatDaoTarget" />
    </property>
  </bean>
  <bean id="areaVivenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AreaVivenciaDao</value>
    </property>
    <property name="target">
      <ref bean="areaVivenciaDaoTarget" />
    </property>
  </bean>
  <bean id="areaVivenciaPcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AreaVivenciaPcmatDao</value>
    </property>
    <property name="target">
      <ref bean="areaVivenciaPcmatDaoTarget" />
    </property>
  </bean>
  <bean id="atividadeSegurancaPcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.AtividadeSegurancaPcmatDao</value>
    </property>
    <property name="target">
      <ref bean="atividadeSegurancaPcmatDaoTarget" />
    </property>
  </bean>
  <bean id="epiPcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EpiPcmatDao</value>
    </property>
    <property name="target">
      <ref bean="epiPcmatDaoTarget" />
    </property>
  </bean>
  <bean id="epcPcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.EpcPcmatDao</value>
    </property>
    <property name="target">
      <ref bean="epcPcmatDaoTarget" />
    </property>
  </bean>
  <bean id="sinalizacaoPcmatDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.SinalizacaoPcmatDao</value>
    </property>
    <property name="target">
      <ref bean="sinalizacaoPcmatDaoTarget" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoEpiDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.MotivoSolicitacaoEpiDao</value>
    </property>
    <property name="target">
      <ref bean="motivoSolicitacaoEpiDaoTarget" />
    </property>
  </bean>
  <bean id="tamanhoEPIDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.TamanhoEPIDao</value>
    </property>
    <property name="target">      <ref bean="tamanhoEPIDaoTarget" />
    </property>
  </bean>
  <bean id="tipoTamanhoEPIDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.TipoTamanhoEPIDao</value>
    </property>
    <property name="target">
      <ref bean="tipoTamanhoEPIDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoEpiItemDevolucaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.SolicitacaoEpiItemDevolucaoDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoEpiItemDevolucaoDaoTarget" />
    </property>
  </bean>
  <bean id="testemunhaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.TestemunhaDao</value>
    </property>
    <property name="target">
      <ref bean="testemunhaDaoTarget" />
    </property>
  </bean>  
  <bean id="ordemDeServicoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.OrdemDeServicoDao</value>
    </property>
    <property name="target">
      <ref bean="ordemDeServicoDaoTarget" />
    </property>
  </bean>
  <bean id="fatorDeRiscoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.FatorDeRiscoDao</value>
    </property>
    <property name="target">
      <ref bean="fatorDeRiscoDaoTarget" />
    </property>
  </bean>
  <bean id="parteAtingidaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.sesmt.ParteAtingidaDao</value>
    </property>
    <property name="target">
      <ref bean="parteAtingidaDaoTarget" />
    </property>
  </bean>
</beans>













