<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="candidatoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.CandidatoDao</value>
    </property>
    <property name="target">
      <ref bean="candidatoDaoTarget" />
    </property>
  </bean>
  <bean id="conhecimentoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ConhecimentoDao</value>
    </property>
    <property name="target">
      <ref bean="conhecimentoDaoTarget" />
    </property>
  </bean>
  <bean id="criterioAvaliacaoCompetenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.CriterioAvaliacaoCompetenciaDao</value>
    </property>
    <property name="target">
      <ref bean="criterioAvaliacaoCompetenciaDaoTarget" />
    </property>
  </bean>
  <bean id="competenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.CompetenciaDao</value>
    </property>
    <property name="target">
      <ref bean="competenciaDaoTarget" />
    </property>
  </bean>
  <bean id="etapaSeletivaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.EtapaSeletivaDao</value>
    </property>
    <property name="target">
      <ref bean="etapaSeletivaDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.SolicitacaoDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoDaoTarget" />
    </property>
  </bean>
  <bean id="empresaBdsDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.EmpresaBdsDao</value>
    </property>
    <property name="target">
      <ref bean="empresaBdsDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoBDSDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.SolicitacaoBDSDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoBDSDaoTarget" />
    </property>
  </bean>
  <bean id="candidatoSolicitacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.CandidatoSolicitacaoDao</value>
    </property>
    <property name="target">
      <ref bean="candidatoSolicitacaoDaoTarget" />
    </property>
  </bean>
  <bean id="historicoCandidatoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.HistoricoCandidatoDao</value>
    </property>
    <property name="target">
      <ref bean="historicoCandidatoDaoTarget" />
    </property>
  </bean>
  <bean id="candidatoIdiomaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.CandidatoIdiomaDao</value>
    </property>
    <property name="target">
      <ref bean="candidatoIdiomaDaoTarget" />
    </property>
  </bean>
  <bean id="anuncioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.AnuncioDao</value>
    </property>
    <property name="target">
      <ref bean="anuncioDaoTarget" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.MotivoSolicitacaoDao</value>
    </property>
    <property name="target">
      <ref bean="motivoSolicitacaoDaoTarget" />
    </property>
  </bean>
  <bean id="candidatoCurriculoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.CandidatoCurriculoDao</value>
    </property>
    <property name="target">
      <ref bean="candidatoCurriculoDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoBairroDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.SolicitacaoBairroDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoBairroDaoTarget" />
    </property>
  </bean>
  <bean id="solicitacaoAvaliacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.SolicitacaoAvaliacaoDao</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoAvaliacaoDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoImpressaoCurriculoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ConfiguracaoImpressaoCurriculoDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoImpressaoCurriculoDaoTarget" />
    </property>
  </bean>
  <bean id="habilidadeDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.HabilidadeDao</value>
    </property>
    <property name="target">
      <ref bean="habilidadeDaoTarget" />
    </property>
  </bean>
  <bean id="atitudeDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.AtitudeDao</value>
    </property>
    <property name="target">
      <ref bean="atitudeDaoTarget" />
    </property>
  </bean>
  <bean id="nivelCompetenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.NivelCompetenciaDao</value>
    </property>
    <property name="target">
      <ref bean="nivelCompetenciaDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ConfiguracaoNivelCompetenciaDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaColaboradorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ConfiguracaoNivelCompetenciaColaboradorDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaColaboradorDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaFaixaSalarialDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ConfiguracaoNivelCompetenciaFaixaSalarialDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaFaixaSalarialDaoTarget" />
    </property>
  </bean>
  <bean id="pausaPreenchimentoVagasDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.PausaPreenchimentoVagasDao</value>
    </property>
    <property name="target">
      <ref bean="pausaPreenchimentoVagasDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaCriterioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ConfiguracaoNivelCompetenciaCriterioDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaCriterioDaoTarget" />
    </property>
  </bean>
</beans>






