#abas div
{
	display: inline;
	padding: 5px 5px;
	background-color: #D5D5D5;
	
}
#abas div a
{
	font-family:verdana, sans-serif;
	font-size:11px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}
#abas div a:hover
{
	text-decoration: underline;
	color: #600;
}
div#aba1
{
	background-color: #F6F6F6;
	border-bottom-color: #F6F6F6;
}
#abas
{
	margin-bottom: 5px;
}
.contents
{
	background-color: #F6F6F6;
	padding: 10px;
}