#competencias, #avaliados, #avaliadores {
	float: left;
	width: 360px;
	margin: 10px;
}
#competencias h1, #avaliados h1, #avaliadores h1 {
	//background: #E0DFDF !important;
	background: none;
	border: 1px solid #e7e7e7;
	border-bottom: 2px solid #5292C0;
	padding: 7px 15px;
	text-align: center;
	color: #5C5C5A;
	border-radius: 0;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

#competencias li, #avaliados li {
	cursor: pointer;
	padding: 10px 10px;
	list-style: none;
	border-bottom: 1px solid #e7e7e7;
	color: #5C5C5A;
	font-size: 11px;
	min-height: 13px;
}

#competencias ul li, #avaliados li {
	cursor: copy;
}

#competencias li div, #avaliados li div{
	font-size: 11px;
	float: left;
}

.pesoAvaliador, .notaProdutividade {
	float: right;
	width: 30px;
	text-align: right;
	height: 11px;
	display: none;
}

.ui-widget-header.actions {
	border-bottom: 2px solid #DCE6F4 !important;
	position: relative;
	height: 15px;
	padding: 5px 15px !important;
}

.ui-widget-header.actions .ui-icon {
	background-image: url(../imgs/ui-icons_6da8d5_256x240.png);
}

.ui-widget-header.actions .option {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -1px;
	padding: 5px 22px;
	cursor: pointer;
}

.ui-widget-header.actions .option.select-all, .ui-widget-header.actions .option.unselect-all{
	width: 20px;
	padding: padding: 5px 25px;
}
.ui-widget-header.actions .option.select-all i.fa-align-justify, .ui-widget-header.actions .option.unselect-all i.fa-align-justify {
	margin-left: -3px;
}

.mini-option.select-all i.fa-check, .mini-option.unselect-all i.fa-close, .option.select-all i.fa-check, .option.unselect-all i.fa-close{
	font-size: 10px;
    margin-right: -5px;
    color: #196AA0;
}

.mini-option.select-all i.fa-align-justify, .mini-option.unselect-all i.fa-align-justify, .option.select-all i.fa-align-justify, .option.unselect-all i.fa-align-justify{
    float: right;
}

.option.move-all.only-selectables i.fa-long-arrow-right{
	font-weight: bold;
	margin-left: -2px;
	font-size: 11px;
}

.ui-widget-header.actions .option.select-all { left: 60px; }
.ui-widget-header.actions .option.unselect-all { left: 120px; }
.ui-widget-header.actions .option.configure-pesos { left: 180px; }
#competencias .ui-widget-header.actions .option.select-all { left: 0px; }
#competencias .ui-widget-header.actions .option.unselect-all { left: 70px; }
#competencias .ui-widget-header.actions .option.move-all { left: 140px; }
#avaliados .ui-widget-header.actions .option.move-all { left: 180px; }
#avaliados .ui-widget-header.actions .option.produtividade { left: 240px; }
#avaliados .ui-widget-header.actions .option.generate-autoavaliacao { left: 300px; }

#avaliadores li.has-respondida, #avaliadores .portlet.has-respondida .portlet-header {
	color: #A1A1A1;
	background: #F9F9F9;
}

i.respondida {
	float: right;
	color: #67DA7F !important;
}

i.possuiResposta {
	float: right;
	color: #67DA7F !important;
}

i.fa {
	color: #62AADA;
} 

.ui-widget-header.actions .option:hover, .option.active {
	border-bottom: 2px solid #5292C0;
}

.legend {
	height: 25px;
	background: #f7f7f7;
	color: #5C5C5A;
	display: none;
}		

.legend div{
	width: 228px;
	float: left;
	border: 1px solid #e7e7e7;
	padding: 5px 0;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

#formCompetencias #avaliadores .column {
	height: 528px;
}
		
#avaliadores ul {
	min-height: 50px !important;
}

#avaliadores ul .ui-icon-closethick {
	float: left;
	margin: -2px 5px 0 -5px;
	cursor: pointer; 
}

#avaliadores ul .ui-icon-closethick.disabled, .option.disabled .ui-icon, .option.inactive .ui-icon, .ui-icon[disabled=disabled] {
	background-image: url(../imgs/ui-icons_d8e7f3_256x240.png) !important;
	cursor: default; 
}

.option.disabled .fa, .option.inactive .fa {
	color: #DCE6F4 !important;
}

#competencias-list > li .faixa-descricao { width: 100%; float: none; }

.option.disabled, .option.inactive {
	cursor: default !important;
	border-bottom: none !important; 
}

.ui-state-hover, .ui-state-default{
	background: #f7f7f7 !important;
	color: #5C5C5A !important;
}
.ui-state-hover li, .ui-state-default li{
	font-weight: normal;
}
.ui-state-default{
	border-color: #e7e7e7 !important;
}

.ui-state-hover{
	border-color: #b2b2b2 !important;
}

.portlet-header .ui-icon {
	float: right;
	cursor: pointer;
	margin-top: -2px;
	background-image: url(../imgs/ui-icons_6da8d5_256x240.png);
}

.portlet { margin: 5px;}
.portlet-header, .portlet-content { padding: 5px; font-size: 11px; color: #5C5C5A; }
.portlet-header {
	background: #f7f7f7;
	border: 1px solid #e7e7e7;
	font-weight: bold;
	cursor: pointer;
}
.portlet-content { padding: 5px 10px; border: 1px solid #e7e7e7; }
.portlet-content li {
	padding: 5px;
	border-bottom: 1px solid #e7e7e7;
	cursor: default;
}
.portlet-content li.placeholder {
	border: none;
}

.column {
	padding: 5px 10px;
	height: 500px;
	overflow-x: hidden;
	border: 1px solid #e7e7e7;
}

.more-avaliador, .more-avaliado {
	float: left;
	cursor: pointer;
	margin-left: -7px;
	background-image: url(../imgs/ui-icons_6da8d5_256x240.png) !important;
}

.ui-icon-circle-triangle-e {
	float: right;
	cursor: pointer;
	margin-right: -7px;
	background-image: url(../imgs/ui-icons_6da8d5_256x240.png) !important;
}

.ui-icon-circle-triangle-w {
	float: right;
	cursor: pointer;
	margin-right: -7px;
	display: none;
	background-image: url(../imgs/ui-icons_6da8d5_256x240.png) !important;
}

.tag-info {
	background: #5cb85c;
	float: right;
	margin-top: 1px;
	display: inline;
	padding: .2em .4em .3em;
	font-size: 75%;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

#feedback { font-size: 1.4em; }
#competencias-list .ui-selecting,
#avaliados-list .ui-selecting { background: #7BB5DF; }
#competencias-list .ui-selected, #avaliados-list .ui-selected, #avaliadores li.ui-selected { background: #5292C0; color: white; }
#competencias-list,
#avaliados-list { list-style-type: none; margin: 0; padding: 0;}
#competencias-list li,
#avaliados-list li { margin: 3px; padding: 7px; }

#avaliadores .ui-selected:not(.has-respondida) .portlet-header { background: #5292C0; color: white; border: 1px solid #5292C0; }
#avaliadores .ui-selected:not(.has-respondida) .portlet-header .ui-icon { background-image: url(../imgs/ui-icons_d8e7f3_256x240.png) !important; }
#avaliadores .ui-selected:not(.has-respondida) .portlet-content { border: 1px solid #9EBDD3; }
#avaliadores ul li { cursor: pointer; }
#avaliadores ul li.has-respondida { cursor: default; }
#avaliadores .mini-option:hover { background: white; }

.hide { display: none; }
.nome { float: left; width: 238px; font-size: 11px; }
.faixa, .area { float: left; display: none; width: 220px; font-size: 11px; }

.box.expanded { width: 720px !important; }
.box.expanded .column{ padding: 0 !important; }
.box.expanded .show-when-expand{ display: block; }
.box.expanded .hide-when-expand{ display: none; }
.box.expanded li{ margin: 5px 0; }
.box.expanded .portlet{ margin: 5px 0; }
.box.expanded .portlet-header{ background: white; font-weight: normal; border: none; border-bottom: 1px solid #e7e7e7; color: #5C5C5A;}
.box.expanded .nome, .box.expanded  .faixa, .box.expanded  .area, .legend div{ width: 33%; }