.btnSim::before{
	width: 63px !important;
}
.btnNao::before{
	width: 61px !important;
}
.btnAprovar::before{
	width: 88px !important;
}
.btnReprovar::before{
	width: 93px !important;
}
.btnRelatorioPorCriterio::before{
	width: 171px !important;
}
.btnRelatorioPorAvaliador::before{
	width: 185px !important;
}
.btnIncluirColaboradoresNota::before{
	width: 224px !important;
}
.btnSugerirEtapas::before{
	width: 131px !important;
}

.btnGerarEtapasModelo::before{
	width: 78px !important;
}

.btnTrocaExtintores::before{
	width: 158px !important;
}

.btnInserirEtapasEmGrupo::before{
	width: 193px !important;
}

.btnTransferirCandidatos::before{
	width: 155px !important;
}

.btnUnirBairros::before{
	width: 112px !important;
}
.btnCarregarTurmas::before{
	width: 150px !important;
}
.btnImprimirVerso::before{
	width: 129px !important;
}
.btnListaFrequenciaVotacao::before{
	width: 250px !important;
}

.btnImprimirVersoPdf::before{
	width: 129px !important;
}

.btnInserirTurma::before{
	width: 123px !important;
}
.btnCriarUsuariosAuto::before{
	width: 214px !important;
}
.btnEnviar::before{
	width: 81px !important;
}
.btnLimparFiltro::before{
	width: 117px !important;
}
.btnEnviarBlue::before{
	width: 81px !important;
}
.btnGerarTicket::before{
	width: 93px !important;
}
.btnOK::before{
	width: 46px !important;
}
.btnDemo::before{
	width: 123px !important;
}
.btnResultadoAvaliacao::before{
	width: 184px !important;
	height: 24px !important;
}
.btnEditarHistoricos::before{
	width: 140px !important;
}
.btnEditar::before{
	width: 71px !important;
}
.btnInserir::before{
	width: 78px !important;
}
.btnInserirDesabilitado::before{
	width: 78px !important;
}
.btnInserirCurriculoEscaneado::before{
	width: 214px !important;
}
.btnInserirCurriculoDigitado::before{
	width: 202px !important;
}
.btnSalvarArquivos::before{
	width: 140px !important;
}

.btnAplicar::before{
	width: 83px !important;
}

.btnExportar::before{
	width: 92px !important;
}

.btnGravar::before{ content: "Gravar"; }

.btnGravarDesabilitado::before{
	width: 79px !important;
}

.btnGravarParcialmente::before{
	width: 162px !important;
}

.btnCancelar::before{
	content: "Cancelar";
}

.btnListagemColaborador::before{
	width: 220px !important;
}

.btnCarregar::before{
	width: 100px !important;
}
.btnGravar::before ::before{ content: "Gravar"; }

.btnFechar::before{
	width: 77px !important;
}

.btnVoltar::before{
	width: 69px !important;
}

.btnVoltarListaFrequencia::before{
	width: 69px !important;
}
.btnVoltarDesabilitado::before{
	width: 69px !important;
}

.btnAvancar::before{
	width: 85px !important;
}
.btnAvancarDesabilitado::before{
	width: 85px !important;
}
.btnVisualizar::before{
}
.btnImprimir::before{
	width: 89px !important;
}
.btnImprimirPdf::before{
	width: 89px !important;
}
.btnImprimirPdfB::before{
	width: 89px !important;
}
.btnPesquisar::before{
	width: 98px !important;
}
.btnUpLoad::before{
}
.btnGravarVisualizar::before{
	width: 234px !important;
}
.btnInserirPerguntaFinal::before{
	width: 195px !important;
}
.btnNovaOpcaoResposta::before{
	background-image:url(../imgs/btnNovaOpcaoDeResposta.gif);
	width: 190px !important;
}
.btnTriagem::before{
	background-image:url(../imgs/btnTriagem.gif);
	width: 87px !important;
}
.btnTriagemModuloExterno::before{
	background-image:url(../imgs/btnTriagemModuloExterno.gif);
	width: 195px !important;
}
.btnMatrizCompetencia::before{
	background-image:url(../imgs/btnMatrizCompetencia.gif);
	width: 255px !important;
}
.btnEnviarPorEmail::before{
	background-image:url(../imgs/btnEnviarPorEmail.gif);
	width: 151px !important;
}
.btnMoverCandidatos::before{
	background-image:url(../imgs/btnMoverCandidatos.gif);
	width: 152px !important;
}
.btnRelatorio::before{
	background-image:url(../imgs/btnRelatorio.gif);
	width: 90px !important;
}
.btnRelatorioDesabilitado::before{
	width: 90px !important;
}
.btnRelatorioExportar::before{
	width: 90px !important;
}
.btnInserirInvestimento::before{
	width: 117px !important;
}
.btnImportarbds::before{
	width: 137px !important;
}
.btnImportar::before{
	width: 96px !important;
}
.btnClonar::before{
	width: 77px !important;
}
.btnClonarInvestimentos::before{
	width: 173px !important;
}
.btnVoltarParaAListaDePesquisas::before{
	width: 240px !important;
}
.btnbtnVoltarParaAListaDeAvaliacoes::before{
	width: 245px !important;
}
.btnAtualizarSistema::before{
	width: 152px !important;
}
.btnUpload::before{
	width: 78px !important;
}
.btnRealizarBackup::before{
	width: 142px !important;
}
.btnInserirSelecionados::before{
	width: 171px !important;
}
.btnExcluirSelecionados::before{
	width: 171px !important;
}
.btnExcluirRespostas::before{
	width: 152px !important;
}
.btnSolicitacoes::before{
	width: 171px !important;
}
.btnListarItens::before{
	width: 107px !important;
}
.btnSolicitarBDS::before{
	width: 116px !important;
}
.btnEncerrarSolicitacao::before{
	width: 170px !important;
}
.btnIncluirColaboradores::before{
	width: 176px !important;
}
.btnDadosComplementares::before{
	width: 185px !important;
}
.btnDesligarColaborador::before{
	width: 178px !important;
}
.btnSolicitarDesligamento::before{
	width: 178px !important;
}
.btnEditarOpcoesDeResposta::before{
	width: 207px !important;
}
.btnInserirHistorico::before{
	width: 146px !important;
}
.btnInserir_Historico::before{
	width: 146px !important;
}
.btnInserirNovoCurriculoEscaneado::before{
	width: 251px !important;
}
.btnEditarOCadastroDesseCandidato::before{
	width: 255px !important;
}
.btnInserirNovoCandidato::before{
	width: 182px !important;
}
.btnSubstituirEsseCurriculoEscaneado::before{
	width: 266px !important;
}
.btnConcluir::before{
	width: 86px !important;
}
.btnSuspenderSolicitacao::before{
	width: 176px !important;
}
.btnInserirPergunta::before{
	width: 139px !important;
}
.btnEmbaralhar::before{
	width: 112px !important;
}
.btnAplicarNaOrdemAtual::before{
	width: 184px !important;
}
.btnAplicarOrdenadoPorAspectos::before{
	width: 237px !important;
}
.btnAspectos::before{
	width: 237px !important;
}

.btnCriarUsuarios::before{
	width: 119px !important;
}

.btnExcluir::before{
	width: 82px !important;
}
.btnExcluirDesabilitado::before{
	width: 82px !important;
}
.btnAutoAvaliacoesEmLote::before{
	width: 235px !important;
}
.btnAutoAvaliacoesEmLoteDesabilitado::before{
	width: 235px !important;
}
.btnProxima::before{
	width: 90px !important;
}
.btnProximaDesabilitado::before{
	width: 90px !important;
}
.btnAnterior::before{
	width: 90px !important;
}
.btnAnteriorDesabilitado::before{
	width: 90px !important;
}
.btnInserirMembro::before{
	width: 138px !important;
}
.btnGerarCedulas::before{
	width: 128px !important;
}
.btnInserirCandidato::before{
	width: 145px !important;
}
.btnImprimirEdital::before{
	width: 212px !important;
}
.btnImprimirChamadoEleicao::before{
	width: 239px !important;
}
.btnImprimirSindicato::before{
	width: 280px !important;
}
.btnImprimirAtaDRT::before{
	width: 190px !important;
}
.btnImprimirAtaEleicao::before{
	width: 180px !important;
}
.btnImprimirAtaInstalacao::before{
	width: 253px !important;
}
.btnImprimirResultado::before{
	width: 155px !important;
}
.btnImprimirCalendario::before{
	width: 164px !important;
}
.btnImprimirRelatorioFrequencia::before{
	width: 200px !important;
}
.btnFrequencia::before{
	width: 110px !important;
}
.btnCarregarRiscos::before{
	width: 139px !important;
}
.btnCarregarRiscosMedicao::before{
	width: 300px !important;
}
.btnQueroMeCandidatar::before{
	width: 180px !important;
}
.btnCancelarDesligamento::before{
	width: 190px !important;
}

.btnSugerirReunioesOrdinarias::before{
	width: 214px !important;
}

.btnLiberarAvalEmLote::before{
	width: 214px !important;
}

.btnLiberar::before{
	width: 70px !important;
}

.btnResponderPorColaboradores::before{
	width: 222px !important;
}

.btnBackup::before{
	width: 85px !important;
}

.btnDownload::before{
	width: 93px !important;
}

.btnOrganograma::before{
	width: 112px !important;
}

.btnVoltarInicial::before{
	width: 169px !important;
}

.btnEnviarParaAmigo::before{
	width: 170px !important;
}

.btnInserirEditar::before{
	width: 130px !important;
}

.btnDividirPercentualIgualmente::before{
	width: 225px !important;
}

.btnCarregarOrdemDeServico::before{
	width: 277px !important;
}

.btn,
.btnExportar,
.btnVoltarInicial,
.btnExcluir,
.btnExcluirDesabilitado,
.btnProxima,
.btnProximaDesabilitado,
.btnAnterior,
.btnAnteriorDesabilitado,
.btnInserirCurriculoEscaneado,
.btnInserirCurriculoDigitado,
.btnEnviar,
.btnEnviarBlue,
.btnGerarTicket,
.btnOK,
.btnDemo,
.btnEditar,
.btnSolicitarBDS,
.btnDadosComplementares,
.btnIncluirColaboradores,
.btnEncerrarSolicitacao,
.btnUpload,
.btnDesligarColaborador,
.btnSolicitarDesligamento,
.btnSolicitacoes,
.btnListarItens,
.btnRealizarBackup,
.btnInserirSelecionados,
.btnExcluirSelecionados,
.btnExcluirRespostas,
.btnAplicar,
.btnInserir,
.btnInserirDesabilitado,
.btnGravar,
.btnGravarDesabilitado,
.btnCancelar,
.btnVoltar,
.btnVoltarDesabilitado,
.btnUpload,
.btnVisualizar,
.btnImprimir,
.btnImprimirPdf,
.btnImprimirVersoPdf,
.btnPesquisar,
.btnFechar,
.btnGravarVisualizar,
.btnInserirPerguntaFinal,
.btnInserirInvestimento,
.btnNovaOpcaoResposta,
.btnAvancar,
.btnEnviarPorEmail,
.btnMoverCandidatos,
.btnTriagem,
.btnTriagemModuloExterno,
.btnMatrizCompetencia,
.btnImportarbds,
.btnImportar,
.btnAvancarDesabilitado,
.btnRelatorio,
.btnRelatorioDesabilitado,
.btnRelatorioExportar,
.btnVoltarParaAListaDePesquisas,
.btnVoltarParaAListaDeAvaliacoes,
.btnAtualizarSistema,
.btnEditarOpcoesDeResposta,
.btnClonarInvestimentos,
.btnClonar,
.btnInserirHistorico,
.btnSalvarArquivos,
.btnEditarOCadastroDesseCandidato,
.btnInserirNovoCandidato,
.btnSubstituirEsseCurriculoEscaneado,
.btnConcluir,
.btnInserirNovoCurriculoEscaneado,
.btnSuspenderSolicitacao,
.btnInserirPergunta,
.btnEmbaralhar,
.btnAplicarNaOrdemAtual,
.btnAplicarOrdenadoPorAspectos,
.btnAspectos,
.btnEditarHistoricos,
.btnCriarUsuariosAuto,
.btnInserirTurma,
.btnCriarUsuarios,
.btnCarregarTurmas,
.btnUnirBairros,
.btnInserirMembro,
.btnGerarCedulas,
.btnInserirCandidato,
.btnImprimirEdital,
.btnImprimirChamadoEleicao,
.btnImprimirSindicato,
.btnImprimirAtaDRT,
.btnImprimirAtaEleicao,
.btnImprimirAtaInstalacao,
.btnImprimirResultado,
.btnImprimirCalendario,
.btnImprimirRelatorioFrequencia,
.btnFrequencia,
.btnCarregarRiscos,
.btnCarregarRiscosMedicao,
.btnIncluirColaboradoresNota,
.btnSugerirEtapas,
.btnGerarEtapasModelo,
.btnInserir_Historico,
.btnCancelarDesligamento,
.btnQueroMeCandidatar,
.btnSugerirReunioesOrdinarias,
.btnRelatorioPorCriterio,
.btnRelatorioPorAvaliador,
.btnListaDeInspecaoExtintores,
.btnListaDeManutencaoExtintores,
.btnListaFrequenciaVotacao,
.btnResultadoAvaliacao,
.btnListagemColaborador,
.btnCarregar,
.btnAutoAvaliacoesEmLote,
.btnAutoAvaliacoesEmLoteDesabilitado,
.btnSim,
.btnNao,
.btnAprovar,
.btnReprovar,
.btnLiberarAvalEmLote,
.btnLiberar, 
.btnResponderPorColaboradores,
.btnBackup,
.btnDownload,
.btnOrganograma,
.btnCriarTurmas,
.btnTrocaExtintores,
.btnEnviarParaAmigo,
.btnInserirEditar,
.btnDividirPercentualIgualmente,
.btnGravarParcialmente,
.btnCarregarOrdemDeServico
{
	border: 0;
	padding: 0 18px;
	height: 24px;
	margin: 10px 10px 0 0;
	cursor: pointer;
	background: #416C89;
	border-radius: 3px;
	color: white;
}

.btnImprimirPdfB::before{
	border: 0;
	background-repeat: no-repeat;
	width: 78px;
	height: 24px;
	margin: 10px 10px 0 0;
	cursor: pointer;
}

.btnVoltarListaFrequencia::before{
	background-color:#EBECF1;
	color:#000000;
	border: 0;
	background-repeat: no-repeat;
	width: 78px;
	height: 24px;
	margin: 10px 10px 0 0;
	cursor: pointer;
}


.btnLeft::before{
	background-image:url(../imgs/btnLeft.gif);
}
.btnAllLeft::before{
	background-image:url(../imgs/btnAllLeft.gif);
}
.btnRight::before{
	background-image:url(../imgs/btnRight.gif);
}
.btnAllRight::before{
	background-image:url(../imgs/btnAllRight.gif);
}
.btnAllRight,
.btnRight,
.btnAllLeft,
.btnLeft,
.btnLimparFiltro,
.btnImprimirVerso,
.btnTransferirCandidatos,
.btnInserirEtapasEmGrupo::before{
	border: 0;
	background-repeat: no-repeat;
	background-color: #FFF;
	width: 23px;
	height: 23px;
	margin: 10px 10px 0 0;
	cursor: pointer;
}

.whiteBG::before{
	background-color: #FFF !important;
}
.grayBG::before{
	background-color: #F6F6F6 !important;
}
.grayBGE::before{
	background-color: #EEEEEE !important;
}
.grayBGDivInfo::before{
	background-color: #E9E9E9 !important;
}

.btnListaDeInspecaoExtintores::before{
	background-image:url(../imgs/btnListaDeInspecaoDeExtintores.gif);
	width: 270px !important;
}

.btnListaDeManutencaoExtintores::before{
	background-image:url(../imgs/btnListaDeManutencaoExtintores.gif);
	width: 290px !important;
}

.btnCriarTurmas::before{
	background-image:url(../imgs/btnCriarTurmas.gif);
	width: 115px !important;
}
