.fieldsetPadrao
{
	width: 430px;
}
.inputNome
{
	width: 445px;
}
.inputLogin
{
	width: 180px;
}

.mascaraData
{
	width:90px;
}
.mascaraMesAnoData
{
	width:50px;
}
.mascaraCpf
{
	width:120px;
}
.mascaraCnpj
{
	width:134px;
}
.mascaraCep
{
	width:68px;
}

.mascaraEmail
{
	width:300px;
}

.listCheckBox {
	font:13.3px sans-serif;
	width:100%;
	height:150px;
	overflow:auto;
}

.listCheckBox label {
	display: block;
}

.listCheckBoxBarra {
	width:100%;
	height:20px;
	background-color: #E0DFDF;
	text-align: left;
}

.listCheckBoxBarra select{
	float: right;
	border: #fff;
	margin-top: 2px;
}

.listCheckBoxContainer {
	font:13.3px sans-serif;
	border:1px solid #BEBEBE;
	background:#fff;
	width:500px;
	height:170px;
}

.listCheckBoxContainer input {
	border:0px solid #FFF;
}

.listCheckBoxContainer input.listCheckBoxFilter {
	float: right;
	width: 100px;
	margin: 2px;
	padding-left: 14px;
	background: white url(../imgs/search.png) no-repeat 2px center;
}

.linkCheck {
	color: black;
	cursor: pointer;
}

.linkCheckDisabled {
	color: #5C5C5A;
}

a.botaoNovo *
{
	border: 0;
}
a.botaoNovo
{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
}
a.botaoNovo:hover
{
	text-decoration: none;
	color: #FFF;
}
span.botao
{
	background-image:url(../imgs/btnBarra.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	padding:0 0 3px 0;
}
.errorMessage
{
	border: 1px solid #999999;
	background-color: #FFFCE9;
	padding: 1em;
	text-align: center;
	margin: 1em 0;
	color: #900000;
	font-weight: bold;
}
.warnMessage
{
	border: 1px solid #F3E2A9;
	background-color: #FFFCE9;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	padding: 0.7em;
	margin: 3em 1em;
	color: #333;
}
#iframeZone
{
	position : absolute;
	z-index: 999;
    top : 50%;
	left : 50%;
	margin-left : -139px;
	margin-top : -148px;
	width : 275px;
	_width : 283px;/* IE */
	height : 205px;
	_height : 110px;/* IE */
	background-color: transparent;
}

#messageZone
{
      position : absolute;
	  z-index : 1000;
      top : 50%;
      left : 50%;
      margin-left : -139px;
      margin-top : -148px;
      width : 281px;
	  height : 207px;
	  _height : 206px;
      background-color : #FFF;
	  border : 1px solid #DEDEDE;
	  background-image : url(../imgs/carregando.gif);
	  background-position: center;
	  background-repeat: no-repeat;
}
.divInfo
{
	padding: 5px;
	width: 725px;
	background-color: #E9E9E9;
	border: 1px solid #BEBEBE;
}

.divInfoSemBackground
{
	padding: 5px;
	width: 725px;
	border: 1px solid #BEBEBE;
}

#msgAutenticacao
{
	color: #F7EE39;
	font-size:30px;
}

#conteudoExibeEsconde h4 {
	margin: 0;
	margin-top: 10px;
	padding: 6px 20px;
	background: #cad2dd url(../imgs/menosModelo2.gif) 3px center no-repeat;
	cursor: pointer
}

#conteudoExibeEsconde h4.fechado {
	background: #cad2dd url(../imgs/maisModelo2.gif) 3px center no-repeat;
}

#conteudoExibeEsconde table {
	background: #cad2dd;
	border-collapse: collapse;
}

#news {
	float: right;
	margin-top: 12px; 
	position:relative;
    width:16px;
    height:16px; 
}

#newsList li { 
	cursor: pointer; 
	padding:3px 5px; 
	margin: 0 0 5px 0; 
	list-style: none;
	font-size: 11px;
}
#newsList li.even { background-color: #EFEFEF; }
#newsList li.criticidade-0 { color: red; }
#newsList li.unread { font-weight: bold; }

#newsDetails iframe { border: none; text-align: center; }

#newsCount {
    position:absolute;
    top: -6px;
    right: -6px;
    padding:1px 2px 1px 2px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.55em;

    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
}