body {
	background-color: #EDEFEE;
}
.topo {
	background-repeat:repeat-x;
	background-image:url('../imgs/login_topo.jpg');
}
.rodape {
	background-repeat:repeat-x;
	background-color: white;
}
.logo {
	background-repeat:repeat-x;
	background-color: white;
}
.corpo {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.logo-sistema {
	background-repeat:repeat;
	background-image:url('../imgs/logo-sistema.jpg');
}
.selectEmpresa ,input {
	font-family: "Courier New", Courier, monospace;
	font-size:12px;
	color: #000;
	width: 200px;
}
.linkbranco {
	font-family: "Verdana";
	font-size:10px;
	color: red;
}

.msgErro {
	border: 1px solid #C20000;
	background-color: #FFEAF0;
	padding: 5px 5px 5px 15px;
}
.txtErro {
	color: #C20000;
	font-size: 13px;
}
li {
	list-style: none;
}

.btnEntrar
{
	background-image:url(../imgs/btnEntrar.png);
	width: 63px !important;
	border: 0;
	background-repeat: no-repeat;
	background-color: #FFF;
	height: 23px;
	cursor: pointer;
}
