#menuDropDown {
	margin: 0;
	height: 26px;
	width: 100%;
	list-style: none;
	/*background: url(../imgs/bgMenu2.gif);*/
	background: white;
	-webkit-box-shadow: 0px 0px 5px gray;
  	-moz-box-shadow: 0px 0px 5px gray;
 	box-shadow: 0px 0px 5px gray;
	z-index: 998;
}
#menuDropDown li {
	float: left;
	z-index: 2000;
}
#menuDropDown ul {
	z-index: 1000;
	background: #FFF;
	border: 1px solid #AAA;
}
#menuDropDown ul a {
	color: #000;
}
#menuDropDown li li {
	float: none;
}
#menuDropDown li li a {
	position: relative;
	float: none;
}
#menuDropDown > li {
	position: relative;
	/*border-right: 1px solid #c6c6c6;*/
}
#menuDropDown > li > a {
	height: 16px;
	/*background: url(../imgs/menu_strip_down_arrow.gif) right center no-repeat;*/
	background: url(../imgs/ico-sub-menu.png) no-repeat right 10px;
}

#menuDropDown > li:hover > a {
	background: url(../imgs/ico-sub-menu.png) no-repeat right -29px;
}

#menuDropDown > li > a[accesskey="a"],
#menuDropDown > li > a[title="Blog"],
#menuDropDown > li > a[title="Twitter"],
#menuDropDown > li > a[title="Videoteca"],
#menuDropDown > li > a[title="LogMeIn"],
#menuDropDown > li > a[title="Contatos"],
#menuDropDown > li > a[title="Fortes Chat"]{
	background: none;
}

#menuDropDown li:hover {
	/*background-color: #C05252;*/
}
#menuDropDown li:hover > a {
	color: #5292C0;
}
#menuDropDown a {
	display: block;
	float: left;
	margin: 0;
	color: #3f3f3f;
	text-decoration: none;
	padding: 5px 20px 5px 15px;
}
.subMenuArrow {
	background: url(../imgs/menu-bar-right-arrow.gif) right center no-repeat;
}

#menuDropDown li ul {
	display: none;
	white-space: nowrap;
}
#menuDropDown > li > ul {
	margin-top: 25px;
}
#menuDropDown li:hover > ul {
	position: absolute;
	display: block;
	left: 0;
}
#menuDropDown li li:hover > ul {
	margin-top: -26px;
	left: 100%;
}
/*
#menuDropDown li ul {
	position: absolute;
	display: none;
}
#menuDropDown > li > ul {
	margin-top: 25px;
}
#menuDropDown li:hover > ul {
	display: block;
}
#menuDropDown li li:hover > ul {
	position: absolute;
	top: 0;
}
*/

/*
#menuDropDown li a:focus+ul {
	margin-left: 0;
	margin-top: 2.2em;
}

#menuDropDown li li a:focus+ul {
	left: 0;
	margin-left: 1010em;
	margin-top: -2.2em;
}

#menuDropDown li li a:focus {
	left: 0;
	margin-left: 1000em;
	width: 10em;
	margin-top: 0;
}

#menuDropDown li li li a:focus {
	left: 0;
	margin-left: 2010em;
	width: 10em;
	margin-top: -1em;
}

#menuDropDown li:hover a:focus {
	margin-left: 0;
}

#menuDropDown li li:hover a:focus+ul {
	margin-left: 10em;
}
*/