#gogDiv {
	left: 50%;
	margin-left: -500px;
	position: relative;
	width: 1000px;
}
#gogDiv .quadradinho {
	float: left;
	width: 15px;
	height: 15px;
}
#gogDiv dl {
	width: 480px;
	margin: 0;
	margin-top: -10px;
	padding: 5px;
}
#gogDiv dt {
	margin-top: 10px;
	border-bottom: 1px dotted #666666;
}
#gogDiv dd {
	float: right;
	font-weight: bold;
	font-size: 14px;
	margin-top: -21px;
}
.gogDivTotal {
	width: 100%;
}
.gogDivEsq {
	float: left;
	width: 49%;
}
.gogDivFormulario {
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
	color: #454C54;
	padding: 5px;
	height: 90px;
}
.gogDivDir {
	float: right;
	width: 49%;
}
.gogDivTituloX {
	background-color: #999999;
	color: #FFFFFF;
	font-weight: bold;
	padding: 8px 15px;
}
.gogDivFormularioX {
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
	color: #454C54;
	padding: 5px;
	height: 200px;
}
.gogDivFormularioX .grafico {
	float: left;
}
