<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="historicoColaboradorDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.HistoricoColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="faixaSalarialDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.FaixaSalarialDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="grupoOcupacionalDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.GrupoOcupacionalDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="reajusteColaboradorDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.ReajusteColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="tabelaReajusteColaboradorDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.TabelaReajusteColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="indiceDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.IndiceDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="indiceHistoricoDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.IndiceHistoricoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="faixaSalarialHistoricoDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.FaixaSalarialHistoricoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="faturamentoMensalDaoTarget" class="com.fortes.rh.dao.hibernate.cargosalario.FaturamentoMensalDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>


