<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="candidatoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.CandidatoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="conhecimentoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.ConhecimentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="competenciaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.CompetenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="etapaSeletivaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.EtapaSeletivaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.SolicitacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="empresaBdsDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.EmpresaBdsDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoBDSDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.SolicitacaoBDSDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="candidatoSolicitacaoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.CandidatoSolicitacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="historicoCandidatoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.HistoricoCandidatoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="candidatoIdiomaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.CandidatoIdiomaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="anuncioDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.AnuncioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.MotivoSolicitacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="candidatoCurriculoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.CandidatoCurriculoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoBairroDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.SolicitacaoBairroDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="solicitacaoAvaliacaoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.SolicitacaoAvaliacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoImpressaoCurriculoDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.ConfiguracaoImpressaoCurriculoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="habilidadeDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.HabilidadeDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="atitudeDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.AtitudeDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="nivelCompetenciaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.NivelCompetenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.ConfiguracaoNivelCompetenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaColaboradorDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.ConfiguracaoNivelCompetenciaColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaFaixaSalarialDaoTarget" class="com.fortes.rh.dao.hibernate.captacao.ConfiguracaoNivelCompetenciaFaixaSalarialDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>






