<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="historicoColaboradorManagerTarget" class="com.fortes.rh.business.cargosalario.HistoricoColaboradorManagerImpl">
    <property name="dao">
      <ref bean="historicoColaboradorDao" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="indiceHistoricoManager">
      <ref bean="indiceHistoricoManager" />
    </property>
    <property name="faixaSalarialHistoricoManager">
      <ref bean="faixaSalarialHistoricoManager" />
    </property>
    <property name="acPessoalClientColaborador">
      <ref bean="acPessoalClientColaborador" />
    </property>
    <property name="acPessoalClientTabelaReajuste">
      <ref bean="acPessoalClientTabelaReajuste" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="reajusteColaboradorManager">
      <ref bean="reajusteColaboradorManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="faixaSalarialManager">
      <ref bean="faixaSalarialManager" />
    </property>
    <property name="indiceManager">
      <ref bean="indiceManager" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
  </bean>
  <bean id="historicoColaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.HistoricoColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="historicoColaboradorManagerTarget" />
    </property>
  </bean>
  <bean id="faixaSalarialManagerTarget" class="com.fortes.rh.business.cargosalario.FaixaSalarialManagerImpl">
    <property name="dao">
      <ref bean="faixaSalarialDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="acPessoalClientCargo">
      <ref bean="acPessoalClientCargo" />
    </property>
    <property name="faixaSalarialHistoricoManager">
      <ref bean="faixaSalarialHistoricoManager" />
    </property>
    <property name="configuracaoNivelCompetenciaManager">
      <ref bean="configuracaoNivelCompetenciaManager" />
    </property>
    <property name="configuracaoNivelCompetenciaColaboradorManager">
      <ref bean="configuracaoNivelCompetenciaColaboradorManager" />
    </property>
  </bean>
  <bean id="faixaSalarialManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.FaixaSalarialManager</value>
    </property>
    <property name="target">
      <ref bean="faixaSalarialManagerTarget" />
    </property>
  </bean>
  <bean id="grupoOcupacionalManagerTarget" class="com.fortes.rh.business.cargosalario.GrupoOcupacionalManagerImpl">
    <property name="dao">
      <ref bean="grupoOcupacionalDao" />
    </property>
    <property name="cargoManager">
      <ref bean="cargoManager" />
    </property>
  </bean>
  <bean id="grupoOcupacionalManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.GrupoOcupacionalManager</value>
    </property>
    <property name="target">
      <ref bean="grupoOcupacionalManagerTarget" />
    </property>
  </bean>
  <bean id="reajusteColaboradorManagerTarget" class="com.fortes.rh.business.cargosalario.ReajusteColaboradorManagerImpl">
    <property name="dao">
      <ref bean="reajusteColaboradorDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="faixaSalarialManager">
      <ref bean="faixaSalarialManager" />
    </property>
    <property name="indiceManager">
      <ref bean="indiceManager" />
    </property>
        <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
  </bean>
  <bean id="reajusteColaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.ReajusteColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="reajusteColaboradorManagerTarget" />
    </property>
  </bean>
  <bean id="reajusteFaixaSalarialManagerTarget" class="com.fortes.rh.business.cargosalario.ReajusteFaixaSalarialManagerImpl">
    <property name="dao">
      <ref bean="reajusteFaixaSalarialDao" />
    </property>
    <property name="faixaSalarialManager">
      <ref bean="faixaSalarialManager" />
    </property>
  </bean>
  <bean id="reajusteFaixaSalarialManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.ReajusteFaixaSalarialManager</value>
    </property>
    <property name="target">
      <ref bean="reajusteFaixaSalarialManagerTarget" />
    </property>
  </bean>
  <bean id="reajusteIndiceManagerTarget" class="com.fortes.rh.business.cargosalario.ReajusteIndiceManagerImpl">
    <property name="dao">
      <ref bean="reajusteIndiceDao" />
    </property>
    <property name="indiceManager">
      <ref bean="indiceManager" />
    </property>
  </bean>
  <bean id="reajusteIndiceManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.ReajusteIndiceManager</value>
    </property>
    <property name="target">
      <ref bean="reajusteIndiceManagerTarget" />
    </property>
  </bean>
  <bean id="tabelaReajusteColaboradorManagerTarget" class="com.fortes.rh.business.cargosalario.TabelaReajusteColaboradorManagerImpl">
    <property name="dao">
      <ref bean="tabelaReajusteColaboradorDao" />
    </property>
    <property name="reajusteColaboradorManager">
      <ref bean="reajusteColaboradorManager" />
    </property>
    <property name="reajusteFaixaSalarialManager">
      <ref bean="reajusteFaixaSalarialManager" />
    </property>
    <property name="reajusteIndiceManager">
      <ref bean="reajusteIndiceManager" />
    </property>
    <property name="historicoColaboradorManager">
      <ref bean="historicoColaboradorManager" />
    </property>
    <property name="faixaSalarialHistoricoManager">
      <ref bean="faixaSalarialHistoricoManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="acPessoalClientTabelaReajuste">
      <ref bean="acPessoalClientTabelaReajuste" />
    </property>
    <property name="quantidadeLimiteColaboradoresPorCargoManager">
      <ref bean="quantidadeLimiteColaboradoresPorCargoManager" />
    </property>
    <property name="indiceHistoricoManager">
      <ref bean="indiceHistoricoManager" />
    </property>
  </bean>
  <bean id="tabelaReajusteColaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.TabelaReajusteColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="tabelaReajusteColaboradorManagerTarget" />
    </property>
  </bean>
  <bean id="indiceManagerTarget" class="com.fortes.rh.business.cargosalario.IndiceManagerImpl">
    <property name="dao">
      <ref bean="indiceDao" />
    </property>
    <property name="indiceHistoricoManager">
      <ref bean="indiceHistoricoManager" />
    </property>
  </bean>
  <bean id="indiceManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.IndiceManager</value>
    </property>
    <property name="target">
      <ref bean="indiceManagerTarget" />
    </property>
  </bean>
  <bean id="indiceHistoricoManagerTarget" class="com.fortes.rh.business.cargosalario.IndiceHistoricoManagerImpl">
    <property name="dao">
      <ref bean="indiceHistoricoDao" />
    </property>
  </bean>
  <bean id="indiceHistoricoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.IndiceHistoricoManager</value>
    </property>
    <property name="target">
      <ref bean="indiceHistoricoManagerTarget" />
    </property>
  </bean>
  <bean id="faixaSalarialHistoricoManagerTarget" class="com.fortes.rh.business.cargosalario.FaixaSalarialHistoricoManagerImpl">
    <property name="dao">
      <ref bean="faixaSalarialHistoricoDao" />
    </property>
    <property name="indiceHistoricoManager">
      <ref bean="indiceHistoricoManager" />
    </property>
    <property name="indiceManager">
      <ref bean="indiceManager" />
    </property>
    <property name="acPessoalClientCargo">
      <ref bean="acPessoalClientCargo" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="faixaSalarialHistoricoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.FaixaSalarialHistoricoManager</value>
    </property>
    <property name="target">
      <ref bean="faixaSalarialHistoricoManagerTarget" />
    </property>
  </bean>
  <bean id="faturamentoMensalManagerTarget" class="com.fortes.rh.business.cargosalario.FaturamentoMensalManagerImpl">
    <property name="dao">
      <ref bean="faturamentoMensalDao" />
    </property>
  </bean>
  <bean id="faturamentoMensalManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.FaturamentoMensalManager</value>
    </property>
    <property name="target">
      <ref bean="faturamentoMensalManagerTarget" />
    </property>
  </bean>
</beans>


