<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="auditoriaManagerTarget" class="com.fortes.rh.business.security.AuditoriaManagerImpl">
    <property name="dao">
      <ref bean="auditoriaDao" />
    </property>
  </bean>
  <bean id="auditoriaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.security.AuditoriaManager</value>
    </property>
    <property name="target">
      <ref bean="auditoriaManagerTarget" />
    </property>
  </bean>
  <bean id="extintorInspecaoItemManagerTarget" class="com.fortes.rh.business.sesmt.ExtintorInspecaoItemManagerImpl">
    <property name="dao">
      <ref bean="extintorInspecaoItemDao" />
    </property>
  </bean>
  <bean id="extintorInspecaoItemManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.ExtintorInspecaoItemManager</value>
    </property>
    <property name="target">
      <ref bean="extintorInspecaoItemManagerTarget" />
    </property>
  </bean>
  
  <bean id="tokenManagerTarget" class="com.fortes.rh.business.security.TokenManagerImpl">
    <property name="dao">
      <ref bean="tokenDao" />
    </property>
  </bean>
  <bean id="tokenManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.security.TokenManager</value>
    </property>
    <property name="target">
      <ref bean="tokenManagerTarget" />
    </property>
  </bean>
  
  <!-- Security Manager -->
  <bean id="securityManagerTarget" class="com.fortes.rh.business.security.SecurityManagerImpl">
  </bean>
  <bean id="securityManager" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.security.SecurityManager</value>
    </property>
    <property name="target">
      <ref bean="securityManagerTarget" />
    </property>
  </bean>
  
</beans>

