<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="empresaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.EmpresaDao</value>
    </property>
    <property name="target">
      <ref bean="empresaDaoTarget" />
    </property>
  </bean>
  <bean id="areaOrganizacionalDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.AreaOrganizacionalDao</value>
    </property>
    <property name="target">
      <ref bean="areaOrganizacionalDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ColaboradorDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorDaoTarget" />
    </property>
  </bean>
  <bean id="cargoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.cargosalario.CargoDao</value>
    </property>
    <property name="target">
      <ref bean="cargoDaoTarget" />
    </property>
  </bean>
  <bean id="beneficioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.BeneficioDao</value>
    </property>
    <property name="target">
      <ref bean="beneficioDaoTarget" />
    </property>
  </bean>
  <bean id="areaInteresseDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.AreaInteresseDao</value>
    </property>
    <property name="target">
      <ref bean="areaInteresseDaoTarget" />
    </property>
  </bean>
  <bean id="idiomaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.IdiomaDao</value>
    </property>
    <property name="target">
      <ref bean="idiomaDaoTarget" />
    </property>
  </bean>
  <bean id="formacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.FormacaoDao</value>
    </property>
    <property name="target">
      <ref bean="formacaoDaoTarget" />
    </property>
  </bean>
  <bean id="experienciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.captacao.ExperienciaDao</value>
    </property>
    <property name="target">
      <ref bean="experienciaDaoTarget" />
    </property>
  </bean>
  <bean id="dependenteDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.DependenteDao</value>
    </property>
    <property name="target">
      <ref bean="dependenteDaoTarget" />
    </property>
  </bean>
  <bean id="areaFormacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.AreaFormacaoDao</value>
    </property>
    <property name="target">
      <ref bean="areaFormacaoDaoTarget" />
    </property>
  </bean>
  <bean id="estadoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.EstadoDao</value>
    </property>
    <property name="target">
      <ref bean="estadoDaoTarget" />
    </property>
  </bean>
  <bean id="cidadeDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.CidadeDao</value>
    </property>
    <property name="target">
      <ref bean="cidadeDaoTarget" />
    </property>
  </bean>
  <bean id="grupoGastoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.GrupoGastoDao</value>
    </property>
    <property name="target">
      <ref bean="grupoGastoDaoTarget" />
    </property>
  </bean>
  <bean id="gastoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.GastoDao</value>
    </property>
    <property name="target">
      <ref bean="gastoDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorIdiomaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ColaboradorIdiomaDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorIdiomaDaoTarget" />
    </property>
  </bean>
  <bean id="gastoEmpresaItemDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.GastoEmpresaItemDao</value>
    </property>
    <property name="target">
      <ref bean="gastoEmpresaItemDaoTarget" />
    </property>
  </bean>
  <bean id="gastoEmpresaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.GastoEmpresaDao</value>
    </property>
    <property name="target">
      <ref bean="gastoEmpresaDaoTarget" />
    </property>
  </bean>
  <bean id="parametrosDoSistemaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ParametrosDoSistemaDao</value>
    </property>
    <property name="target">
      <ref bean="parametrosDoSistemaDaoTarget" />
    </property>
  </bean>
  <bean id="motivoDemissaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.MotivoDemissaoDao</value>
    </property>
    <property name="target">
      <ref bean="motivoDemissaoDaoTarget" />
    </property>
  </bean>
  <bean id="ocorrenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.OcorrenciaDao</value>
    </property>
    <property name="target">
      <ref bean="ocorrenciaDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorOcorrenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ColaboradorOcorrenciaDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorOcorrenciaDaoTarget" />
    </property>
  </bean>
  <bean id="historicoColaboradorBeneficioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.HistoricoColaboradorBeneficioDao</value>
    </property>
    <property name="target">
      <ref bean="historicoColaboradorBeneficioDaoTarget" />
    </property>
  </bean>
  <bean id="estabelecimentoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.EstabelecimentoDao</value>
    </property>
    <property name="target">
      <ref bean="estabelecimentoDaoTarget" />
    </property>
  </bean>
  <bean id="historicoBeneficioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.HistoricoBeneficioDao</value>
    </property>
    <property name="target">
      <ref bean="historicoBeneficioDaoTarget" />
    </property>
  </bean>
  <bean id="bairroDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.BairroDao</value>
    </property>
    <property name="target">
      <ref bean="bairroDaoTarget" />
    </property>
  </bean>
  <bean id="documentoAnexoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.DocumentoAnexoDao</value>
    </property>
    <property name="target">
      <ref bean="documentoAnexoDaoTarget" />
    </property>
  </bean>
  <bean id="mensagemDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.MensagemDao</value>
    </property>
    <property name="target">
      <ref bean="mensagemDaoTarget" />
    </property>
  </bean>
  <bean id="usuarioMensagemDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.UsuarioMensagemDao</value>
    </property>
    <property name="target">
      <ref bean="usuarioMensagemDaoTarget" />
    </property>
  </bean>
  <bean id="clienteDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ClienteDao</value>
    </property>
    <property name="target">
      <ref bean="clienteDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ConfiguracaoCampoExtraDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoCampoExtraDaoTarget" />
    </property>
  </bean>
  <bean id="camposExtrasDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.CamposExtrasDao</value>
    </property>
    <property name="target">
      <ref bean="camposExtrasDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoPerformanceDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ConfiguracaoPerformanceDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoPerformanceDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoRelatorioDinamicoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ConfiguracaoRelatorioDinamicoDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoRelatorioDinamicoDaoTarget" />
    </property>
  </bean>
  <bean id="codigoCBODao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.CodigoCBODao</value>
    </property>
    <property name="target">
      <ref bean="codigoCBODaoTarget" />
    </property>
  </bean>
  <bean id="cidDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.CidDao</value>
    </property>
    <property name="target">
      <ref bean="cidDaoTarget" />
    </property>
  </bean>
  <bean id="grupoACDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.GrupoACDao</value>
    </property>
    <property name="target">
      <ref bean="grupoACDaoTarget" />
    </property>
  </bean>
  <bean id="comoFicouSabendoVagaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ComoFicouSabendoVagaDao</value>
    </property>
    <property name="target">
      <ref bean="comoFicouSabendoVagaDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoLimiteColaboradorDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ConfiguracaoLimiteColaboradorDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoLimiteColaboradorDaoTarget" />
    </property>
  </bean>
  <bean id="quantidadeLimiteColaboradoresPorCargoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.QuantidadeLimiteColaboradoresPorCargoDao</value>
    </property>
    <property name="target">
      <ref bean="quantidadeLimiteColaboradoresPorCargoDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorPeriodoExperienciaAvaliacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ColaboradorPeriodoExperienciaAvaliacaoDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorPeriodoExperienciaAvaliacaoDaoTarget" />
    </property>
  </bean>
  <bean id="tipoDocumentoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.TipoDocumentoDao</value>
    </property>
    <property name="target">
      <ref bean="tipoDocumentoDaoTarget" />
    </property>
  </bean>
  <bean id="tipoDespesaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.TipoDespesaDao</value>
    </property>
    <property name="target">
      <ref bean="tipoDespesaDaoTarget" />
    </property>
  </bean>
  <bean id="turmaTipoDespesaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.TurmaTipoDespesaDao</value>
    </property>
    <property name="target">
      <ref bean="turmaTipoDespesaDaoTarget" />
    </property>
  </bean>
  <bean id="providenciaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ProvidenciaDao</value>
    </property>
    <property name="target">
      <ref bean="providenciaDaoTarget" />
    </property>
  </bean>
  <bean id="gerenciadorComunicacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.GerenciadorComunicacaoDao</value>
    </property>
    <property name="target">
      <ref bean="gerenciadorComunicacaoDaoTarget" />
    </property>
  </bean>
  <bean id="noticiaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.NoticiaDao</value>
    </property>
    <property name="target">
      <ref bean="noticiaDaoTarget" />
    </property>
  </bean>
  <bean id="usuarioNoticiaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.UsuarioNoticiaDao</value>
    </property>
    <property name="target">
      <ref bean="usuarioNoticiaDaoTarget" />
    </property>
  </bean>
  <bean id="cartaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.CartaoDao</value>
    </property>
    <property name="target">
      <ref bean="cartaoDaoTarget" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraVisivelObrigadotorioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.ConfiguracaoCampoExtraVisivelObrigadotorioDao</value>
    </property>
    <property name="target">
      <ref bean="configuracaoCampoExtraVisivelObrigadotorioDaoTarget" />
    </property>
  </bean>
  
  <bean id="usuarioAjudaESocialDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.geral.UsuarioAjudaESocialDao</value>
    </property>
    <property name="target">
      <ref bean="usuarioAjudaESocialDaoTarget" />
    </property>
  </bean>
</beans>
