<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="transacaoPCManagerTarget" class="com.fortes.portalcolaborador.business.TransacaoPCManagerImpl">
    <property name="dao">
      <ref bean="transacaoPCDao" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
  </bean>
  <bean id="transacaoPCManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.portalcolaborador.business.TransacaoPCManager</value>
    </property>
    <property name="target">
      <ref bean="transacaoPCManagerTarget" />
    </property>
  </bean>

  <bean id="movimentacaoOperacaoPCManagerTarget" class="com.fortes.portalcolaborador.business.MovimentacaoOperacaoPCManagerImpl">
    <property name="dao">
      <ref bean="movimentacaoOperacaoPCDao" />
    </property>
  </bean>
  <bean id="movimentacaoOperacaoPCManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.portalcolaborador.business.MovimentacaoOperacaoPCManager</value>
    </property>
    <property name="target">
      <ref bean="movimentacaoOperacaoPCManagerTarget" />
    </property>
  </bean>
</beans>