<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="papelDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.acesso.PapelDao</value>
    </property>
    <property name="target">
      <ref bean="papelDaoTarget" />
    </property>
  </bean>
  <bean id="usuarioDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.acesso.UsuarioDao</value>
    </property>
    <property name="target">
      <ref bean="usuarioDaoTarget" />
    </property>
  </bean>
  <bean id="perfilDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.acesso.PerfilDao</value>
    </property>
    <property name="target">
      <ref bean="perfilDaoTarget" />
    </property>
  </bean>
  <bean id="usuarioEmpresaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.acesso.UsuarioEmpresaDao</value>
    </property>
    <property name="target">
      <ref bean="usuarioEmpresaDaoTarget" />
    </property>
  </bean>
</beans>

