<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="respostaManagerTarget" class="com.fortes.rh.business.pesquisa.RespostaManagerImpl">
    <property name="dao">
      <ref bean="respostaDao" />
    </property>
  </bean>
  <bean id="respostaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.RespostaManager</value>
    </property>
    <property name="target">
      <ref bean="respostaManagerTarget" />
    </property>
  </bean>
  <bean id="perguntaManagerTarget" class="com.fortes.rh.business.pesquisa.PerguntaManagerImpl">
    <property name="dao">
      <ref bean="perguntaDao" />
    </property>
    <property name="respostaManager">
      <ref bean="respostaManager" />
    </property>
    <property name="aspectoManager">
      <ref bean="aspectoManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="perguntaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.PerguntaManager</value>
    </property>
    <property name="target">
      <ref bean="perguntaManagerTarget" />
    </property>
  </bean>
  <bean id="pesquisaManagerTarget" class="com.fortes.rh.business.pesquisa.PesquisaManagerImpl">
    <property name="dao">
      <ref bean="pesquisaDao" />
    </property>
    <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
  </bean>
  <bean id="pesquisaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.PesquisaManager</value>
    </property>
    <property name="target">
      <ref bean="pesquisaManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorRespostaManagerTarget" class="com.fortes.rh.business.pesquisa.ColaboradorRespostaManagerImpl">
    <property name="dao">
      <ref bean="colaboradorRespostaDao" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="historicoColaboradorManager">
      <ref bean="historicoColaboradorManager" />
    </property>
    <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="candidatoManager">
      <ref bean="candidatoManager" />
    </property>
    <property name="avaliacaoManager">
      <ref bean="avaliacaoManager" />
    </property>
    <property name="usuarioManager">
      <ref bean="usuarioManager" />
    </property>
    <property name="nivelCompetenciaManager">
      <ref bean="nivelCompetenciaManager" />
    </property>
    <property name="configuracaoNivelCompetenciaFaixaSalarialManager">
      <ref bean="configuracaoNivelCompetenciaFaixaSalarialManager" />
    </property>
  </bean>
  <bean id="colaboradorRespostaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.ColaboradorRespostaManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorRespostaManagerTarget" />
    </property>
  </bean>
  <bean id="aspectoManagerTarget" class="com.fortes.rh.business.pesquisa.AspectoManagerImpl">
    <property name="dao">
      <ref bean="aspectoDao" />
    </property>
  </bean>
  <bean id="aspectoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.AspectoManager</value>
    </property>
    <property name="target">
      <ref bean="aspectoManagerTarget" />
    </property>
  </bean>
  <bean id="questionarioManagerTarget" class="com.fortes.rh.business.pesquisa.QuestionarioManagerImpl">
    <property name="dao">
      <ref bean="questionarioDao" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="respostaManager">
      <ref bean="respostaManager" />
    </property>
    <property name="aspectoManager">
      <ref bean="aspectoManager" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
  </bean>
  <bean id="questionarioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.QuestionarioManager</value>
    </property>
    <property name="target">
      <ref bean="questionarioManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorQuestionarioManagerTarget" class="com.fortes.rh.business.pesquisa.ColaboradorQuestionarioManagerImpl">
    <property name="dao">
      <ref bean="colaboradorQuestionarioDao" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="participanteAvaliacaoDesempenhoManager">
      <ref bean="participanteAvaliacaoDesempenhoManager" />
    </property>
  </bean>
  <bean id="colaboradorQuestionarioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.ColaboradorQuestionarioManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorQuestionarioManagerTarget" />
    </property>
  </bean>
  <bean id="entrevistaManagerTarget" class="com.fortes.rh.business.pesquisa.EntrevistaManagerImpl">
    <property name="dao">
      <ref bean="entrevistaDao" />
    </property>
    <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
  </bean>
  <bean id="entrevistaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.EntrevistaManager</value>
    </property>
    <property name="target">
      <ref bean="entrevistaManagerTarget" />
    </property>
  </bean>
  <bean id="avaliacaoTurmaManagerTarget" class="com.fortes.rh.business.pesquisa.AvaliacaoTurmaManagerImpl">
    <property name="dao">
      <ref bean="avaliacaoTurmaDao" />
    </property>
    <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
  </bean>
  <bean id="avaliacaoTurmaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.AvaliacaoTurmaManager</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoTurmaManagerTarget" />
    </property>
  </bean>
  <bean id="fichaMedicaManagerTarget" class="com.fortes.rh.business.pesquisa.FichaMedicaManagerImpl">
    <property name="dao">
      <ref bean="fichaMedicaDao" />
    </property>
        <property name="questionarioManager">
      <ref bean="questionarioManager" />
    </property>
    <property name="perguntaManager">
      <ref bean="perguntaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="colaboradorQuestionarioManager">
      <ref bean="colaboradorQuestionarioManager" />
    </property>
  </bean>
  <bean id="fichaMedicaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.pesquisa.FichaMedicaManager</value>
    </property>
    <property name="target">
      <ref bean="fichaMedicaManagerTarget" />
    </property>
  </bean>
</beans>

