<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="candidatoManagerTarget" class="com.fortes.rh.business.captacao.CandidatoManagerImpl">
    <property name="dao">
      <ref bean="candidatoDao" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="solicitacaoManager">
      <ref bean="solicitacaoManager" />
    </property>
    <property name="anuncioManager">
      <ref bean="anuncioManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="experienciaManager">
      <ref bean="experienciaManager" />
    </property>
    <property name="formacaoManager">
      <ref bean="formacaoManager" />
    </property>
    <property name="candidatoIdiomaManager">
      <ref bean="candidatoIdiomaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
    <property name="bairroManager">
      <ref bean="bairroManager" />
    </property>
    <property name="candidatoCurriculoManager">
      <ref bean="candidatoCurriculoManager" />
    </property>
    <property name="etapaSeletivaManager">
      <ref bean="etapaSeletivaManager" />
    </property>
    <property name="cidadeManager">
      <ref bean="cidadeManager" />
    </property>
    <property name="estadoManager">
      <ref bean="estadoManager" />
    </property>
    <property name="historicoCandidatoManager">
      <ref bean="historicoCandidatoManager" />
    </property>
    <property name="solicitacaoExameManager">
      <ref bean="solicitacaoExameManager" />
    </property>
    <property name="configuracaoNivelCompetenciaManager">
      <ref bean="configuracaoNivelCompetenciaManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
  </bean>
  <bean id="candidatoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoManagerTarget" />
    </property>
  </bean>
  <bean id="conhecimentoManagerTarget" class="com.fortes.rh.business.captacao.ConhecimentoManagerImpl">
    <property name="dao">
      <ref bean="conhecimentoDao" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
  </bean>
  <bean id="conhecimentoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConhecimentoManager</value>
    </property>
    <property name="target">
      <ref bean="conhecimentoManagerTarget" />
    </property>
  </bean>
  <bean id="competenciaManagerTarget" class="com.fortes.rh.business.captacao.CompetenciaManagerImpl">
    <property name="dao">
      <ref bean="competenciaDao" />
    </property>
  </bean>
  <bean id="competenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CompetenciaManager</value>
    </property>
    <property name="target">
      <ref bean="competenciaManagerTarget" />
    </property>
  </bean>
  <bean id="etapaSeletivaManagerTarget" class="com.fortes.rh.business.captacao.EtapaSeletivaManagerImpl">
    <property name="dao">
      <ref bean="etapaSeletivaDao" />
    </property>
  </bean>
  <bean id="etapaSeletivaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.EtapaSeletivaManager</value>
    </property>
    <property name="target">
      <ref bean="etapaSeletivaManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoDao" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="solicitacaoAvaliacaoManager">
      <ref bean="solicitacaoAvaliacaoManager" />
    </property>
    <property name="anuncioManager">
      <ref bean="anuncioManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="pausaPreenchimentoVagasManager">
      <ref bean="pausaPreenchimentoVagasManager" />
    </property>
  </bean>
  <bean id="solicitacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoManagerTarget" />
    </property>
  </bean>
  <bean id="empresaBdsManagerTarget" class="com.fortes.rh.business.captacao.EmpresaBdsManagerImpl">
    <property name="dao">
      <ref bean="empresaBdsDao" />
    </property>
  </bean>
  <bean id="empresaBdsManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.EmpresaBdsManager</value>
    </property>
    <property name="target">
      <ref bean="empresaBdsManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoBDSManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoBDSManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoBDSDao" />
    </property>
  </bean>
  <bean id="solicitacaoBDSManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoBDSManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoBDSManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoAvaliacaoManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoAvaliacaoManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoAvaliacaoDao" />
    </property>
  </bean>
  <bean id="solicitacaoAvaliacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoAvaliacaoManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoAvaliacaoManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoSolicitacaoManagerTarget" class="com.fortes.rh.business.captacao.CandidatoSolicitacaoManagerImpl">
    <property name="dao">
      <ref bean="candidatoSolicitacaoDao" />
    </property>
  </bean>
  <bean id="candidatoSolicitacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoSolicitacaoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoSolicitacaoManagerTarget" />
    </property>
  </bean>
  <bean id="historicoCandidatoManagerTarget" class="com.fortes.rh.business.captacao.HistoricoCandidatoManagerImpl">
    <property name="dao">
      <ref bean="historicoCandidatoDao" />
    </property>
    <property name="etapaSeletivaManager">
      <ref bean="etapaSeletivaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="historicoCandidatoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.HistoricoCandidatoManager</value>
    </property>
    <property name="target">
      <ref bean="historicoCandidatoManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoIdiomaManagerTarget" class="com.fortes.rh.business.captacao.CandidatoIdiomaManagerImpl">
    <property name="dao">
      <ref bean="candidatoIdiomaDao" />
    </property>
    <property name="colaboradorIdiomaManager">
      <ref bean="colaboradorIdiomaManager" />
    </property>
  </bean>
  <bean id="candidatoIdiomaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoIdiomaManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoIdiomaManagerTarget" />
    </property>
  </bean>
  <bean id="anuncioManagerTarget" class="com.fortes.rh.business.captacao.AnuncioManagerImpl">
    <property name="dao">
      <ref bean="anuncioDao" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
    <property name="empresaBdsManager">
      <ref bean="empresaBdsManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
  </bean>
  <bean id="anuncioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.AnuncioManager</value>
    </property>
    <property name="target">
      <ref bean="anuncioManagerTarget" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoManagerTarget" class="com.fortes.rh.business.captacao.MotivoSolicitacaoManagerImpl">
    <property name="dao">
      <ref bean="motivoSolicitacaoDao" />
    </property>
  </bean>
  <bean id="motivoSolicitacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.MotivoSolicitacaoManager</value>
    </property>
    <property name="target">
      <ref bean="motivoSolicitacaoManagerTarget" />
    </property>
  </bean>
  <bean id="duracaoPreenchimentoVagaManagerTarget" class="com.fortes.rh.business.captacao.DuracaoPreenchimentoVagaManagerImpl">
    
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="cargoManager">
      <ref bean="cargoManager" />
    </property>
    <property name="solicitacaoManager">
      <ref bean="solicitacaoManager" />
    </property>
  </bean>
  <bean id="duracaoPreenchimentoVagaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.DuracaoPreenchimentoVagaManager</value>
    </property>
    <property name="target">
      <ref bean="duracaoPreenchimentoVagaManagerTarget" />
    </property>
  </bean>
  <bean id="candidatoCurriculoManagerTarget" class="com.fortes.rh.business.captacao.CandidatoCurriculoManagerImpl">
    <property name="dao">
      <ref bean="candidatoCurriculoDao" />
    </property>
  </bean>
  <bean id="candidatoCurriculoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.CandidatoCurriculoManager</value>
    </property>
    <property name="target">
      <ref bean="candidatoCurriculoManagerTarget" />
    </property>
  </bean>
  <bean id="solicitacaoBairroManagerTarget" class="com.fortes.rh.business.captacao.SolicitacaoBairroManagerImpl">
    <property name="dao">
      <ref bean="solicitacaoBairroDao" />
    </property>
  </bean>
  <bean id="solicitacaoBairroManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.SolicitacaoBairroManager</value>
    </property>
    <property name="target">
      <ref bean="solicitacaoBairroManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoImpressaoCurriculoManagerTarget" class="com.fortes.rh.business.captacao.ConfiguracaoImpressaoCurriculoManagerImpl">
    <property name="dao">
      <ref bean="configuracaoImpressaoCurriculoDao" />
    </property>
  </bean>
  <bean id="configuracaoImpressaoCurriculoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConfiguracaoImpressaoCurriculoManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoImpressaoCurriculoManagerTarget" />
    </property>
  </bean>
  <bean id="habilidadeManagerTarget" class="com.fortes.rh.business.captacao.HabilidadeManagerImpl">
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="dao">
      <ref bean="habilidadeDao" />
    </property>
  </bean>
  <bean id="habilidadeManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.HabilidadeManager</value>
    </property>
    <property name="target">
      <ref bean="habilidadeManagerTarget" />
    </property>
  </bean>
  <bean id="atitudeManagerTarget" class="com.fortes.rh.business.captacao.AtitudeManagerImpl">
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="dao">
      <ref bean="atitudeDao" />
    </property>
  </bean>
  <bean id="atitudeManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.AtitudeManager</value>
    </property>
    <property name="target">
      <ref bean="atitudeManagerTarget" />
    </property>
  </bean>
  <bean id="nivelCompetenciaManagerTarget" class="com.fortes.rh.business.captacao.NivelCompetenciaManagerImpl">
    <property name="dao">
      <ref bean="nivelCompetenciaDao" />
    </property>
  </bean>
  <bean id="nivelCompetenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.NivelCompetenciaManager</value>
    </property>
    <property name="target">
      <ref bean="nivelCompetenciaManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaManagerTarget" class="com.fortes.rh.business.captacao.ConfiguracaoNivelCompetenciaManagerImpl">
    <property name="dao">
      <ref bean="configuracaoNivelCompetenciaDao" />
    </property>
    <property name="nivelCompetenciaManager">
      <ref bean="nivelCompetenciaManager" />
    </property>
    <property name="configuracaoNivelCompetenciaColaboradorManager">
      <ref bean="configuracaoNivelCompetenciaColaboradorManager" />
    </property>
    <property name="configuracaoNivelCompetenciaFaixaSalarialManager">
      <ref bean="configuracaoNivelCompetenciaFaixaSalarialManager" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConfiguracaoNivelCompetenciaManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaColaboradorManagerTarget" class="com.fortes.rh.business.captacao.ConfiguracaoNivelCompetenciaColaboradorManagerImpl">
    <property name="dao">
      <ref bean="configuracaoNivelCompetenciaColaboradorDao" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaColaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConfiguracaoNivelCompetenciaColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaColaboradorManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaFaixaSalarialManagerTarget" class="com.fortes.rh.business.captacao.ConfiguracaoNivelCompetenciaFaixaSalarialManagerImpl">
    <property name="dao">
      <ref bean="configuracaoNivelCompetenciaFaixaSalarialDao" />
    </property>
  </bean>
  <bean id="configuracaoNivelCompetenciaFaixaSalarialManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ConfiguracaoNivelCompetenciaFaixaSalarialManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoNivelCompetenciaFaixaSalarialManagerTarget" />
    </property>
  </bean>
  <bean id="pausaPreenchimentoVagasManagerTarget" class="com.fortes.rh.business.captacao.PausaPreenchimentoVagasManagerImpl">
    <property name="dao">
      <ref bean="pausaPreenchimentoVagasDao" />
    </property>
  </bean>
  <bean id="pausaPreenchimentoVagasManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.PausaPreenchimentoVagasManager</value>
    </property>
    <property name="target">
      <ref bean="pausaPreenchimentoVagasManagerTarget" />
    </property>
  </bean>
</beans>






