<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="empresaManagerTarget" class="com.fortes.rh.business.geral.EmpresaManagerImpl">
    <property name="dao">
      <ref bean="empresaDao" />
    </property>
    <property name="usuarioEmpresaManager">
      <ref bean="usuarioEmpresaManager" />
    </property>
    <property name="conhecimentoManager">
      <ref bean="conhecimentoManager" />
    </property>
    <property name="habilidadeManager">
      <ref bean="habilidadeManager" />
    </property>
    <property name="atitudeManager">
      <ref bean="atitudeManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="areaInteresseManager">
      <ref bean="areaInteresseManager" />
    </property>
    <property name="ocorrenciaManager">
      <ref bean="ocorrenciaManager" />
    </property>
    <property name="motivoDemissaoManager">
      <ref bean="motivoDemissaoManager" />
    </property>
    <property name="configuracaoCampoExtraManager">
      <ref bean="configuracaoCampoExtraManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="faixaSalarialManager">
      <ref bean="faixaSalarialManager" />
    </property>
    <property name="indiceManager">
      <ref bean="indiceManager" />
    </property>
    <property name="cidadeManager">
      <ref bean="cidadeManager" />
    </property>
    <property name="riscoManager">
      <ref bean="riscoManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="configuracaoCampoExtraVisivelObrigadotorioManager">
      <ref bean="configuracaoCampoExtraVisivelObrigadotorioManager" />
    </property>
  </bean>
  <bean id="empresaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.EmpresaManager</value>
    </property>
    <property name="target">
      <ref bean="empresaManagerTarget" />
    </property>
  </bean>
    <bean id="formacaoManagerTarget" class="com.fortes.rh.business.captacao.FormacaoManagerImpl">
    <property name="dao">
      <ref bean="formacaoDao" />
    </property>
  </bean>
  <bean id="formacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.FormacaoManager</value>
    </property>
    <property name="target">
      <ref bean="formacaoManagerTarget" />
    </property>
  </bean>
  <bean id="areaOrganizacionalManagerTarget" class="com.fortes.rh.business.geral.AreaOrganizacionalManagerImpl">
    <property name="dao">
      <ref bean="areaOrganizacionalDao" />
    </property>
    <property name="acPessoalClientLotacao">
      <ref bean="acPessoalClientLotacao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="areaOrganizacionalManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.AreaOrganizacionalManager</value>
    </property>
    <property name="target">
      <ref bean="areaOrganizacionalManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorManagerTarget" class="com.fortes.rh.business.geral.ColaboradorManagerImpl">
    <property name="dao">
      <ref bean="colaboradorDao" />
    </property>
    <property name="formacaoManager">
      <ref bean="formacaoManager" />
    </property>
    <property name="experienciaManager">
      <ref bean="experienciaManager" />
    </property>
    <property name="colaboradorIdiomaManager">
      <ref bean="colaboradorIdiomaManager" />
    </property>
    <property name="candidatoManager">
      <ref bean="candidatoManager" />
    </property>
    <property name="historicoColaboradorManager">
      <ref bean="historicoColaboradorManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="duracaoPreenchimentoVagaManager">
      <ref bean="duracaoPreenchimentoVagaManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="acPessoalClientColaborador">
      <ref bean="acPessoalClientColaborador" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
    <property name="bairroManager">
      <ref bean="bairroManager" />
    </property>
    <property name="cidadeManager">
      <ref bean="cidadeManager" />
    </property>
    <property name="indiceManager">
      <ref bean="indiceManager" />
    </property>
    <property name="faixaSalarialManager">
      <ref bean="faixaSalarialManager" />
    </property>
    <property name="estadoManager">
      <ref bean="estadoManager" />
    </property>
    <property name="mensagemManager">
      <ref bean="mensagemManager" />
    </property>
    <property name="camposExtrasManager">
      <ref bean="camposExtrasManager" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="configuracaoNivelCompetenciaManager">
      <ref bean="configuracaoNivelCompetenciaManager" />
    </property>
    <property name="configuracaoNivelCompetenciaColaboradorManager">
      <ref bean="configuracaoNivelCompetenciaColaboradorManager" />
    </property>
    <property name="colaboradorPeriodoExperienciaAvaliacaoManager">
      <ref bean="colaboradorPeriodoExperienciaAvaliacaoManager" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
    <property name="solicitacaoManager">
      <ref bean="solicitacaoManager" />
    </property>
    <property name="auditoriaManager">
      <ref bean="auditoriaManager" />
    </property>
    <property name="candidatoIdiomaManager">
      <ref bean="candidatoIdiomaManager" />
    </property>
    <property name="solicitacaoExameManager">
      <ref bean="solicitacaoExameManager" />
    </property>
    <property name="cartaoManager">
      <ref bean="cartaoManager" />
    </property>
  </bean>
  <bean id="colaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorManagerTarget" />
    </property>
  </bean>
  <bean id="cargoManagerTarget" class="com.fortes.rh.business.cargosalario.CargoManagerImpl">
    <property name="dao">
      <ref bean="cargoDao" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="acPessoalClientCargo">
      <ref bean="acPessoalClientCargo" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="areaFormacaoManager">
      <ref bean="areaFormacaoManager" />
    </property>
    <property name="conhecimentoManager">
      <ref bean="conhecimentoManager" />
    </property>
    <property name="etapaSeletivaManager">
      <ref bean="etapaSeletivaManager" />
    </property>
    <property name="habilidadeManager">
      <ref bean="habilidadeManager" />
    </property>
    <property name="atitudeManager">
      <ref bean="atitudeManager" />
    </property>
    <property name="experienciaManager">
      <ref bean="experienciaManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="codigoCBOManager">
      <ref bean="codigoCBOManager" />
    </property>
  </bean>
  <bean id="cargoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.cargosalario.CargoManager</value>
    </property>
    <property name="target">
      <ref bean="cargoManagerTarget" />
    </property>
  </bean>
  <bean id="beneficioManagerTarget" class="com.fortes.rh.business.geral.BeneficioManagerImpl">
    <property name="dao">
      <ref bean="beneficioDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="historicoBeneficioManager">
      <ref bean="historicoBeneficioManager" />
    </property>
  </bean>
  <bean id="beneficioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.BeneficioManager</value>
    </property>
    <property name="target">
      <ref bean="beneficioManagerTarget" />
    </property>
  </bean>
  <bean id="areaInteresseManagerTarget" class="com.fortes.rh.business.geral.AreaInteresseManagerImpl">
    <property name="dao">
      <ref bean="areaInteresseDao" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
  </bean>
  <bean id="areaInteresseManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.AreaInteresseManager</value>
    </property>
    <property name="target">
      <ref bean="areaInteresseManagerTarget" />
    </property>
  </bean>
  <bean id="idiomaManagerTarget" class="com.fortes.rh.business.captacao.IdiomaManagerImpl">
    <property name="dao">
      <ref bean="idiomaDao" />
    </property>
  </bean>
  <bean id="idiomaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.IdiomaManager</value>
    </property>
    <property name="target">
      <ref bean="idiomaManagerTarget" />
    </property>
  </bean>
  <bean id="experienciaManagerTarget" class="com.fortes.rh.business.captacao.ExperienciaManagerImpl">
    <property name="dao">
      <ref bean="experienciaDao" />
    </property>
  </bean>
  <bean id="experienciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.captacao.ExperienciaManager</value>
    </property>
    <property name="target">
      <ref bean="experienciaManagerTarget" />
    </property>
  </bean>
  <bean id="dependenteManagerTarget" class="com.fortes.rh.business.geral.DependenteManagerImpl">
    <property name="dao">
      <ref bean="dependenteDao" />
    </property>
  </bean>
  <bean id="dependenteManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.DependenteManager</value>
    </property>
    <property name="target">
      <ref bean="dependenteManagerTarget" />
    </property>
  </bean>
  <bean id="areaFormacaoManagerTarget" class="com.fortes.rh.business.geral.AreaFormacaoManagerImpl">
    <property name="dao">
      <ref bean="areaFormacaoDao" />
    </property>
  </bean>
  <bean id="areaFormacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.AreaFormacaoManager</value>
    </property>
    <property name="target">
      <ref bean="areaFormacaoManagerTarget" />
    </property>
  </bean>
  <bean id="estadoManagerTarget" class="com.fortes.rh.business.geral.EstadoManagerImpl">
    <property name="dao">
      <ref bean="estadoDao" />
    </property>
  </bean>
  <bean id="estadoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.EstadoManager</value>
    </property>
    <property name="target">
      <ref bean="estadoManagerTarget" />
    </property>
  </bean>
  <bean id="cidadeManagerTarget" class="com.fortes.rh.business.geral.CidadeManagerImpl">
    <property name="dao">
      <ref bean="cidadeDao" />
    </property>
  </bean>
  <bean id="cidadeManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.CidadeManager</value>
    </property>
    <property name="target">
      <ref bean="cidadeManagerTarget" />
    </property>
  </bean>
  <bean id="grupoGastoManagerTarget" class="com.fortes.rh.business.geral.GrupoGastoManagerImpl">
    <property name="dao">
      <ref bean="grupoGastoDao" />
    </property>
  </bean>
  <bean id="grupoGastoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.GrupoGastoManager</value>
    </property>
    <property name="target">
      <ref bean="grupoGastoManagerTarget" />
    </property>
  </bean>
  <bean id="gastoManagerTarget" class="com.fortes.rh.business.geral.GastoManagerImpl">
    <property name="dao">
      <ref bean="gastoDao" />
    </property>
  </bean>
  <bean id="gastoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.GastoManager</value>
    </property>
    <property name="target">
      <ref bean="gastoManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorIdiomaManagerTarget" class="com.fortes.rh.business.geral.ColaboradorIdiomaManagerImpl">
    <property name="dao">
      <ref bean="colaboradorIdiomaDao" />
    </property>
  </bean>
  <bean id="colaboradorIdiomaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ColaboradorIdiomaManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorIdiomaManagerTarget" />
    </property>
  </bean>
  <bean id="gastoEmpresaItemManagerTarget" class="com.fortes.rh.business.geral.GastoEmpresaItemManagerImpl">
    <property name="dao">
      <ref bean="gastoEmpresaItemDao" />
    </property>
  </bean>
  <bean id="gastoEmpresaItemManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.GastoEmpresaItemManager</value>
    </property>
    <property name="target">
      <ref bean="gastoEmpresaItemManagerTarget" />
    </property>
  </bean>
  <bean id="gastoEmpresaManagerTarget" class="com.fortes.rh.business.geral.GastoEmpresaManagerImpl">
    <property name="dao">
      <ref bean="gastoEmpresaDao" />
    </property>
    <property name="gastoEmpresaItemManager">
      <ref bean="gastoEmpresaItemManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="gastoManager">
      <ref bean="gastoManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="historicoColaboradorBeneficioManager">
      <ref bean="historicoColaboradorBeneficioManager" />
    </property>
    <property name="turmaManager">
      <ref bean="turmaManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
  </bean>
  <bean id="gastoEmpresaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.GastoEmpresaManager</value>
    </property>
    <property name="target">
      <ref bean="gastoEmpresaManagerTarget" />
    </property>
  </bean>
  <bean id="parametrosDoSistemaManagerTarget" class="com.fortes.rh.business.geral.ParametrosDoSistemaManagerImpl">
    <property name="dao">
      <ref bean="parametrosDoSistemaDao" />
    </property>
    <property name="acPessoalClientSistema">
      <ref bean="acPessoalClientSistema" />
    </property>
  </bean>
  <bean id="parametrosDoSistemaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ParametrosDoSistemaManager</value>
    </property>
    <property name="target">
      <ref bean="parametrosDoSistemaManagerTarget" />
    </property>
  </bean>
  <bean id="documentoVersaoManager" class="com.fortes.rh.business.geral.DocumentoVersaoManagerImpl" />
  <bean id="motivoDemissaoManagerTarget" class="com.fortes.rh.business.geral.MotivoDemissaoManagerImpl">
    <property name="dao">
      <ref bean="motivoDemissaoDao" />
    </property>
    <property name="estabelecimentoManager">
      <ref bean="estabelecimentoManager" />
    </property>
  </bean>
  <bean id="motivoDemissaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.MotivoDemissaoManager</value>
    </property>
    <property name="target">
      <ref bean="motivoDemissaoManagerTarget" />
    </property>
  </bean>
  <bean id="ocorrenciaManagerTarget" class="com.fortes.rh.business.geral.OcorrenciaManagerImpl">
    <property name="dao">
      <ref bean="ocorrenciaDao" />
    </property>
    <property name="acPessoalClientOcorrencia">
      <ref bean="acPessoalClientOcorrencia" />
    </property>
  </bean>
  <bean id="ocorrenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.OcorrenciaManager</value>
    </property>
    <property name="target">
      <ref bean="ocorrenciaManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorOcorrenciaManagerTarget" class="com.fortes.rh.business.geral.ColaboradorOcorrenciaManagerImpl">
    <property name="dao">
      <ref bean="colaboradorOcorrenciaDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="colaboradorAfastamentoManager">
      <ref bean="colaboradorAfastamentoManager" />
    </property>
    <property name="ocorrenciaManager">
      <ref bean="ocorrenciaManager" />
    </property>
    <property name="acPessoalClientColaboradorOcorrencia">
      <ref bean="acPessoalClientColaboradorOcorrencia" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="usuarioManager">
      <ref bean="usuarioManager" />
    </property>
    <property name="usuarioEmpresaManager">
      <ref bean="usuarioEmpresaManager" />
    </property>
  </bean>
  <bean id="colaboradorOcorrenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ColaboradorOcorrenciaManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorOcorrenciaManagerTarget" />
    </property>
  </bean>
  <bean id="historicoColaboradorBeneficioManagerTarget" class="com.fortes.rh.business.geral.HistoricoColaboradorBeneficioManagerImpl">
    <property name="dao">
      <ref bean="historicoColaboradorBeneficioDao" />
    </property>
    <property name="historicoBeneficioManager">
      <ref bean="historicoBeneficioManager" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
  </bean>
  <bean id="historicoColaboradorBeneficioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.HistoricoColaboradorBeneficioManager</value>
    </property>
    <property name="target">
      <ref bean="historicoColaboradorBeneficioManagerTarget" />
    </property>
  </bean>
  <bean id="estabelecimentoManagerTarget" class="com.fortes.rh.business.geral.EstabelecimentoManagerImpl">
    <property name="dao">
      <ref bean="estabelecimentoDao" />
    </property>
    <property name="agendaManager">
      <ref bean="agendaManager" />
    </property>
  </bean>
  <bean id="estabelecimentoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.EstabelecimentoManager</value>
    </property>
    <property name="target">
      <ref bean="estabelecimentoManagerTarget" />
    </property>
  </bean>
  <bean id="historicoBeneficioManagerTarget" class="com.fortes.rh.business.geral.HistoricoBeneficioManagerImpl">
    <property name="dao">
      <ref bean="historicoBeneficioDao" />
    </property>
  </bean>
  <bean id="historicoBeneficioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.HistoricoBeneficioManager</value>
    </property>
    <property name="target">
      <ref bean="historicoBeneficioManagerTarget" />
    </property>
  </bean>
  <bean id="bairroManagerTarget" class="com.fortes.rh.business.geral.BairroManagerImpl">
    <property name="dao">
      <ref bean="bairroDao" />
    </property>
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="solicitacaoManager">
      <ref bean="solicitacaoManager" />
    </property>
  </bean>
  <bean id="bairroManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.BairroManager</value>
    </property>
    <property name="target">
      <ref bean="bairroManagerTarget" />
    </property>
  </bean>
  <bean id="documentoAnexoManagerTarget" class="com.fortes.rh.business.geral.DocumentoAnexoManagerImpl">
    <property name="dao">
      <ref bean="documentoAnexoDao" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="candidatoManager">
      <ref bean="candidatoManager" />
    </property>
    <property name="cursoManager">
      <ref bean="cursoManager" />
    </property>
  </bean>
  <bean id="documentoAnexoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.DocumentoAnexoManager</value>
    </property>
    <property name="target">
      <ref bean="documentoAnexoManagerTarget" />
    </property>
  </bean>
  <bean id="mensagemManagerTarget" class="com.fortes.rh.business.geral.MensagemManagerImpl">
    <property name="dao">
      <ref bean="mensagemDao" />
    </property>
  </bean>
  <bean id="mensagemManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.MensagemManager</value>
    </property>
    <property name="target">
      <ref bean="mensagemManagerTarget" />
    </property>
  </bean>
  <bean id="usuarioMensagemManagerTarget" class="com.fortes.rh.business.geral.UsuarioMensagemManagerImpl">
    <property name="dao">
      <ref bean="usuarioMensagemDao" />
    </property>
    <property name="mensagemManager">
      <ref bean="mensagemManager" />
    </property>
    <property name="usuarioEmpresaManager">
      <ref bean="usuarioEmpresaManager" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
  </bean>
  <bean id="usuarioMensagemManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.UsuarioMensagemManager</value>
    </property>
    <property name="target">
      <ref bean="usuarioMensagemManagerTarget" />
    </property>
  </bean>
  <bean id="clienteManagerTarget" class="com.fortes.rh.business.geral.ClienteManagerImpl">
    <property name="dao">
      <ref bean="clienteDao" />
    </property>
  </bean>
  <bean id="clienteManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ClienteManager</value>
    </property>
    <property name="target">
      <ref bean="clienteManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraManagerTarget" class="com.fortes.rh.business.geral.ConfiguracaoCampoExtraManagerImpl">
    <property name="dao">
      <ref bean="configuracaoCampoExtraDao" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ConfiguracaoCampoExtraManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoCampoExtraManagerTarget" />
    </property>
  </bean>
  <bean id="camposExtrasManagerTarget" class="com.fortes.rh.business.geral.CamposExtrasManagerImpl">
    <property name="dao">
      <ref bean="camposExtrasDao" />
    </property>
    <property name="configuracaoCampoExtraManager">
      <ref bean="configuracaoCampoExtraManager" />
    </property>
  </bean>
  <bean id="camposExtrasManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.CamposExtrasManager</value>
    </property>
    <property name="target">
      <ref bean="camposExtrasManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoPerformanceManagerTarget" class="com.fortes.rh.business.geral.ConfiguracaoPerformanceManagerImpl">
    <property name="dao">
      <ref bean="configuracaoPerformanceDao" />
    </property>
  </bean>
  <bean id="configuracaoPerformanceManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ConfiguracaoPerformanceManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoPerformanceManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoRelatorioDinamicoManagerTarget" class="com.fortes.rh.business.geral.ConfiguracaoRelatorioDinamicoManagerImpl">
    <property name="dao">
      <ref bean="configuracaoRelatorioDinamicoDao" />
    </property>
  </bean>
  <bean id="configuracaoRelatorioDinamicoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ConfiguracaoRelatorioDinamicoManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoRelatorioDinamicoManagerTarget" />
    </property>
  </bean>
  <bean id="codigoCBOManagerTarget" class="com.fortes.rh.business.geral.CodigoCBOManagerImpl">
    <property name="dao">
      <ref bean="codigoCBODao" />
    </property>
  </bean>
  <bean id="cidManagerTarget" class="com.fortes.rh.business.geral.CidManagerImpl">
    <property name="dao">
      <ref bean="cidDao" />
    </property>
  </bean>
  <bean id="codigoCBOManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.CodigoCBOManager</value>
    </property>
    <property name="target">
      <ref bean="codigoCBOManagerTarget" />
    </property>
  </bean>
  <bean id="cidManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.CidManager</value>
    </property>
    <property name="target">
      <ref bean="cidManagerTarget" />
    </property>
  </bean>
  <bean id="grupoACManagerTarget" class="com.fortes.rh.business.geral.GrupoACManagerImpl">
    <property name="dao">
      <ref bean="grupoACDao" />
    </property>
  </bean>
  <bean id="grupoACManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.GrupoACManager</value>
    </property>
    <property name="target">
      <ref bean="grupoACManagerTarget" />
    </property>
  </bean>
  <bean id="comoFicouSabendoVagaManagerTarget" class="com.fortes.rh.business.geral.ComoFicouSabendoVagaManagerImpl">
    <property name="dao">
      <ref bean="comoFicouSabendoVagaDao" />
    </property>
  </bean>
  <bean id="comoFicouSabendoVagaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ComoFicouSabendoVagaManager</value>
    </property>
    <property name="target">
      <ref bean="comoFicouSabendoVagaManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoLimiteColaboradorManagerTarget" class="com.fortes.rh.business.geral.ConfiguracaoLimiteColaboradorManagerImpl">
    <property name="dao">
      <ref bean="configuracaoLimiteColaboradorDao" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
  </bean>
  <bean id="configuracaoLimiteColaboradorManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ConfiguracaoLimiteColaboradorManager</value>
    </property>
    <property name="target">
      <ref bean="configuracaoLimiteColaboradorManagerTarget" />
    </property>
  </bean>
  <bean id="quantidadeLimiteColaboradoresPorCargoManagerTarget" class="com.fortes.rh.business.geral.QuantidadeLimiteColaboradoresPorCargoManagerImpl">
    <property name="dao">
      <ref bean="quantidadeLimiteColaboradoresPorCargoDao" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="faixaSalarialManager">
      <ref bean="faixaSalarialManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="configuracaoLimiteColaboradorManager">
      <ref bean="configuracaoLimiteColaboradorManager" />
    </property>
  </bean>
  <bean id="quantidadeLimiteColaboradoresPorCargoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.QuantidadeLimiteColaboradoresPorCargoManager</value>
    </property>
    <property name="target">
      <ref bean="quantidadeLimiteColaboradoresPorCargoManagerTarget" />
    </property>
  </bean>
  <bean id="colaboradorPeriodoExperienciaAvaliacaoManagerTarget" class="com.fortes.rh.business.geral.ColaboradorPeriodoExperienciaAvaliacaoManagerImpl">
    <property name="dao">
      <ref bean="colaboradorPeriodoExperienciaAvaliacaoDao" />
    </property>
    <property name="gerenciadorComunicacaoManager">
      <ref bean="gerenciadorComunicacaoManager" />
    </property>
  </bean>
  <bean id="colaboradorPeriodoExperienciaAvaliacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ColaboradorPeriodoExperienciaAvaliacaoManager</value>
    </property>
    <property name="target">
      <ref bean="colaboradorPeriodoExperienciaAvaliacaoManagerTarget" />
    </property>
  </bean>
  <bean id="tipoDocumentoManagerTarget" class="com.fortes.rh.business.geral.TipoDocumentoManagerImpl">
    <property name="dao">
      <ref bean="tipoDocumentoDao" />
    </property>
  </bean>
  <bean id="tipoDocumentoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.TipoDocumentoManager</value>
    </property>
    <property name="target">
      <ref bean="tipoDocumentoManagerTarget" />
    </property>
  </bean>
  <bean id="tipoDespesaManagerTarget" class="com.fortes.rh.business.geral.TipoDespesaManagerImpl">
    <property name="dao">
      <ref bean="tipoDespesaDao" />
    </property>
  </bean>
  <bean id="tipoDespesaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.TipoDespesaManager</value>
    </property>
    <property name="target">
      <ref bean="tipoDespesaManagerTarget" />
    </property>
  </bean>
  <bean id="turmaTipoDespesaManagerTarget" class="com.fortes.rh.business.geral.TurmaTipoDespesaManagerImpl">
    <property name="dao">
      <ref bean="turmaTipoDespesaDao" />
    </property>
  </bean>
  <bean id="turmaTipoDespesaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.TurmaTipoDespesaManager</value>
    </property>
    <property name="target">
      <ref bean="turmaTipoDespesaManagerTarget" />
    </property>
  </bean>
  <bean id="providenciaManagerTarget" class="com.fortes.rh.business.geral.ProvidenciaManagerImpl">
    <property name="dao">
      <ref bean="providenciaDao" />
    </property>
  </bean>
  <bean id="providenciaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ProvidenciaManager</value>
    </property>
    <property name="target">
      <ref bean="providenciaManagerTarget" />
    </property>
  </bean>
  <bean id="cartaoManagerTarget" class="com.fortes.rh.business.geral.CartaoManagerImpl">
  	<property name="dao">
      <ref bean="cartaoDao" />
    </property>
  </bean>
  <bean id="cartaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.CartaoManager</value>
    </property>
	<property name="target">
      <ref bean="cartaoManagerTarget" />
    </property>
  </bean>
  <bean id="gerenciadorComunicacaoManagerTarget" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao">
      <ref bean="gerenciadorComunicacaoDao" />
    </property>
    <property name="candidatoSolicitacaoManager">
      <ref bean="candidatoSolicitacaoManager" />
    </property>
    <property name="parametrosDoSistemaManager">
      <ref bean="parametrosDoSistemaManager" />
    </property>
    <property name="perfilManager">
      <ref bean="perfilManager" />
    </property>
    <property name="empresaManager">
      <ref bean="empresaManager" />
    </property>
    <property name="mail">
      <ref bean="mail" />
    </property>
    <property name="periodoExperienciaManager">
      <ref bean="periodoExperienciaManager" />
    </property>
    <property name="usuarioEmpresaManager">
      <ref bean="usuarioEmpresaManager" />
    </property>
    <property name="usuarioMensagemManager">
      <ref bean="usuarioMensagemManager" />
    </property>
    <property name="mensagemManager">
      <ref bean="mensagemManager" />
    </property>
    <property name="areaOrganizacionalManager">
      <ref bean="areaOrganizacionalManager" />
    </property>
    <property name="cargoManager">
      <ref bean="cargoManager" />
    </property>
    <property name="providenciaManager">
      <ref bean="providenciaManager" />
    </property>
    <property name="cidManager">
      <ref bean="cidManager" />
    </property>
    <property name="motivoSolicitacaoManager">
      <ref bean="motivoSolicitacaoManager" />
    </property>
    <property name="comissaoMembroManager">
      <ref bean="comissaoMembroManager" />
    </property>
    <property name="colaboradorCertificacaoManager">
      <ref bean="colaboradorCertificacaoManager" />
    </property>
    <property name="cartaoManager">
      <ref bean="cartaoManager" />
    </property>
    <property name="lntManager">
      <ref bean="lntManager" />
    </property>
    <property name="participanteCursoLntManager">
      <ref bean="participanteCursoLntManager" />
    </property>
  </bean>
  <bean id="gerenciadorComunicacaoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.GerenciadorComunicacaoManager</value>
    </property>
    <property name="target">
      <ref bean="gerenciadorComunicacaoManagerTarget" />
    </property>
  </bean>
  <bean id="fileBoxManagerTarget" class="com.fortes.rh.business.geral.FileBoxManagerImpl" />
  <bean id="fileBoxManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.FileBoxManager</value>
    </property>
    <property name="target">
      <ref bean="fileBoxManagerTarget" />
    </property>
  </bean>
  <bean id="morroManagerTarget" class="com.fortes.rh.business.geral.MorroManagerImpl">
    <property name="fileBoxManager">
      <ref bean="fileBoxManager" />
    </property>
  </bean>
  <bean id="morroManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.MorroManager</value>
    </property>
    <property name="target">
      <ref bean="morroManagerTarget" />
    </property>
  </bean>
  <bean id="issueManagerTarget" class="com.fortes.rh.business.geral.IssueManagerImpl"/>
  <bean id="issueManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.IssueManager</value>
    </property>
	<property name="target">
      <ref bean="issueManagerTarget" />
    </property>
  </bean>
  <bean id="noticiaManagerTarget" class="com.fortes.rh.business.geral.NoticiaManagerImpl">
  	<property name="dao">
      <ref bean="noticiaDao" />
    </property>
  </bean>
  <bean id="noticiaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.NoticiaManager</value>
    </property>
	<property name="target">
      <ref bean="noticiaManagerTarget" />
    </property>
  </bean>
  <bean id="usuarioNoticiaManagerTarget" class="com.fortes.rh.business.geral.UsuarioNoticiaManagerImpl">
  	<property name="dao">
      <ref bean="usuarioNoticiaDao" />
    </property>
  </bean>
  <bean id="usuarioNoticiaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.UsuarioNoticiaManager</value>
    </property>
	<property name="target">
      <ref bean="usuarioNoticiaManagerTarget" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraVisivelObrigadotorioManagerTarget" class="com.fortes.rh.business.geral.ConfiguracaoCampoExtraVisivelObrigadotorioManagerImpl">
  	<property name="dao">
      <ref bean="configuracaoCampoExtraVisivelObrigadotorioDao" />
    </property>
  </bean>
  <bean id="configuracaoCampoExtraVisivelObrigadotorioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.geral.ConfiguracaoCampoExtraVisivelObrigadotorioManager</value>
    </property>
	<property name="target">
      <ref bean="configuracaoCampoExtraVisivelObrigadotorioManagerTarget" />
    </property>
  </bean>
</beans>




