<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- Default manager transaction configuration -->
  <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
      </props>
    </property>
  </bean>

  <bean id="modelValidationAdvice" class="com.fortes.validation.aop.advice.ModelValidationAdvice" />

  <bean id="validatorAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
    <property name="advice">
      <ref local="modelValidationAdvice" />
    </property>
    <property name="patterns">
      <list>
        <value>.*\.save</value>
        <value>.*\.update</value>
      </list>
    </property>
  </bean>

  <!-- Auditoria Advice -->
  <bean id="auditoriaGeralAdvice" class="com.fortes.rh.security.spring.aop.AuditoriaGeralAdvice" >
	<property name="auditoriaManager" ref="auditoriaManager" />
	<property name="securityManager" ref="securityManager" />
  </bean>
  
  <!-- Auditoria Static Advisor -->
  <bean id="auditoriaGeralStaticAdvisor" class="com.fortes.rh.security.spring.aop.AuditoriaPointcut">
    <property name="advice">
      <ref local="auditoriaGeralAdvice" />
    </property>
  </bean>

  <!-- Default manager template -->
  <bean id="parentManager" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
    <property name="interceptorNames">
      <list>
        <idref bean="securityInterceptor" />
        <idref bean="transactionInterceptor" />
        <value>validatorAdvisor</value>
        <value>auditoriaGeralStaticAdvisor</value>
      </list>
    </property>
  </bean>

   <!-- EMAILSENDRUNNABLE -->
  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" />
  <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage" />

  <!-- EMAIL -->
  <bean id="mail" class="com.fortes.rh.util.Mail">
  	<property name="parametrosDoSistemaManager" ref="parametrosDoSistemaManager" />
  </bean>

  <!-- WS INTEGRAÇÃO Fortes Pessoal -->
  <bean id="service" class="org.apache.axis.client.Service" />
  <bean id="acPessoalClient" class="com.fortes.rh.web.ws.AcPessoalClientImpl">
    <property name="service" ref="service" />
    <property name="grupoACManager" ref="grupoACManager" />
  </bean>

  <bean id="acPessoalClientCargo" class="com.fortes.rh.web.ws.AcPessoalClientCargo">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>
  <bean id="acPessoalClientColaborador" class="com.fortes.rh.web.ws.AcPessoalClientColaboradorImpl">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>
  <bean id="acPessoalClientSistema" class="com.fortes.rh.web.ws.AcPessoalClientSistemaImpl">
    <property name="acPessoalClient" ref="acPessoalClient" />
    <property name="grupoACManager" ref="grupoACManager" />
  </bean>
  <bean id="acPessoalClientLotacao" class="com.fortes.rh.web.ws.AcPessoalClientLotacaoImpl">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>
  <bean id="acPessoalClientTabelaReajuste" class="com.fortes.rh.web.ws.AcPessoalClientTabelaReajuste">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>
  <bean id="acPessoalImportadorGastos" class="com.fortes.rh.web.ws.AcPessoalImportadorGastos">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>

  <bean id="acPessoalClientOcorrencia" class="com.fortes.rh.web.ws.AcPessoalClientOcorrenciaImpl">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>
  <bean id="acPessoalClientColaboradorOcorrencia" class="com.fortes.rh.web.ws.AcPessoalClientColaboradorOcorrenciaImpl">
    <property name="acPessoalClient" ref="acPessoalClient" />
  </bean>

  <!-- Tarefas agendadas -->
  
  <bean name="lembretePesquisaJob" class="com.fortes.rh.business.pesquisa.LembretePesquisa">
  </bean>
  <bean name="lembretePesquisa" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete de pesquisas"/>
    <property name="targetObject" ref="lembretePesquisaJob"/>
    <property name="targetMethod" value="execute"/>
  </bean>
  
  <bean name="bancoConsistenteJob" class="com.fortes.rh.business.geral.BancoConsistente">
  </bean>
  <bean name="bancoConsistente" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Verificar se o banco está consistente"/>
    <property name="targetObject" ref="bancoConsistenteJob"/>
    <property name="targetMethod" value="execute"/>
  </bean>

  <bean name="lembreteExamesPrevistosJob" class="com.fortes.rh.business.sesmt.LembreteExamesPrevistos">
  	<property name="exameManager" ref="exameManager" />
	<property name="empresaManager" ref="empresaManager" />
  </bean>
  <bean name="lembreteExamesPrevistos" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete de exames previstos"/>
    <property name="targetObject" ref="lembreteExamesPrevistosJob"/>
    <property name="targetMethod" value="executeLembreteExamesPrevistos"/>
  </bean>
  
  <bean name="lembretePeriodoExperienciaJob" class="com.fortes.rh.business.avaliacao.LembretePeriodoExperiencia">
  </bean>
  <bean name="lembretePeriodoExperiencia" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete do período de experiência dos colaboradores"/>
    <property name="targetObject" ref="lembretePeriodoExperienciaJob"/>
    <property name="targetMethod" value="execute"/>
  </bean>

  <bean name="importadorGastosACJob" class="com.fortes.rh.business.geral.ImportadorGastosAC">
    <property name="gastoEmpresaManager" ref="gastoEmpresaManager" />
    <property name="empresaManager" ref="empresaManager" />
    <property name="acPessoalImportadorGastos" ref="acPessoalImportadorGastos" />
  </bean>
  <bean name="importadorGastosAC" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Importar de gastos do Fortes Pessoal"/>
    <property name="targetObject" ref="importadorGastosACJob"/>
    <property name="targetMethod" value="execute"/>
  </bean>
  <bean name="emailCartaoJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
    <property name="parametrosDoSistemaManager" ref="parametrosDoSistemaManager" />
    <property name="empresaManager" ref="empresaManager" />
    <property name="colaboradorManager" ref="colaboradorManager" />
    <property name="cartaoManager" ref="cartaoManager" />
    <property name="mail" ref="mail" />
  </bean>
  <bean name="emailCartao" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar cartões"/>
    <property name="targetObject" ref="emailCartaoJob"/>
    <property name="targetMethod" value="enviaCartoes"/>
  </bean>
  <bean name="quantidadeCurriculosJob" class="com.fortes.rh.business.captacao.QuantidadeCurriculos">
	<property name="candidatoManager" ref="candidatoManager" />
	<property name="empresaManager" ref="empresaManager" />
  </bean>
  <bean name="quantidadeCurriculos" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete da quantidade de currículos cadastrados"/>
    <property name="targetObject" ref="quantidadeCurriculosJob"/>
    <property name="targetMethod" value="execute"/>
  </bean>
  
  <bean name="lembreteAberturaSolicitacaoEpiJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
	<property name="usuarioEmpresaManager" ref="usuarioEmpresaManager" />
	<property name="usuarioMensagemManager" ref="usuarioMensagemManager" />
  </bean>
  <bean name="lembreteAberturaSolicitacaoEpi" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete da abertura de solicitações de EPI"/>
    <property name="targetObject" ref="lembreteAberturaSolicitacaoEpiJob"/>
    <property name="targetMethod" value="enviaMensagemNotificacaoDeNaoAberturaSolicitacaoEpi"/>
  </bean>

  <bean name="lembreteResponderAvaliacaoDesempenhoJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
    <property name="parametrosDoSistemaManager" ref="parametrosDoSistemaManager" />
    <property name="mail" ref="mail" />
  </bean>
  <bean name="lembreteResponderAvaliacaoDesempenho" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete para responder avaliações de desempenho"/>
    <property name="targetObject" ref="lembreteResponderAvaliacaoDesempenhoJob"/>
    <property name="targetMethod" value="enviarLembreteResponderAvaliacaoDesempenho"/>
  </bean>

  <bean name="lembreteEntregaEpiJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
	<property name="usuarioEmpresaManager" ref="usuarioEmpresaManager" />
	<property name="usuarioMensagemManager" ref="usuarioMensagemManager" />
  </bean>
  <bean name="lembreteEntregaEpi" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete da entrega de EPIs"/>
    <property name="targetObject" ref="lembreteEntregaEpiJob"/>
    <property name="targetMethod" value="enviaMensagemNotificacaoDeNaoEntregaSolicitacaoEpi"/>
  </bean>
  
  <bean name="lembreteContratoTemporarioColaboradorJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
    <property name="mail" ref="mail" />
  </bean>
  <bean name="lembreteContratoTemporarioColaborador" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete de contratos temporários de colaboradores"/>
    <property name="targetObject" ref="lembreteContratoTemporarioColaboradorJob"/>
    <property name="targetMethod" value="enviarEmailTerminoContratoTemporarioColaborador"/>
  </bean>
  
  <bean name="lembreteHabilitacaoAVencerJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
	<property name="usuarioEmpresaManager" ref="usuarioEmpresaManager" />
	<property name="usuarioMensagemManager" ref="usuarioMensagemManager" />
	<property name="areaOrganizacionalManager" ref="areaOrganizacionalManager" />
	<property name="mail" ref="mail" />
  </bean>
  <bean name="lembreteHabilitacaoAVencer" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Enviar lembrete de carteiras de habilitação a vencer"/>
    <property name="targetObject" ref="lembreteHabilitacaoAVencerJob"/>
    <property name="targetMethod" value="enviaMensagemHabilitacaoAVencer"/>
  </bean>
  
  <bean name="importarUltimasNoticiasJob" class="com.fortes.rh.business.geral.NoticiaManagerImpl">
    <property name="dao" ref="noticiaDaoTarget" />
  </bean>
  <bean name="importarUltimasNoticias" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="name" value="Importar últimas notícias"/>
    <property name="targetObject" ref="importarUltimasNoticiasJob"/>
    <property name="targetMethod" value="importarUltimasNoticias"/>
  </bean>

  <bean name="limpaDirTemp" class="org.springframework.scheduling.quartz.JobDetailBean">
    <property name="jobClass" value="com.fortes.rh.business.geral.LimpaDirTemp" />
  </bean>
  
  <!-- Job Responsavel por limpar os arquivos de log antigos -->
  <bean name="logCleanerJob" class="org.springframework.scheduling.quartz.JobDetailBean">
  	<property name="name" value="Remover arquivos antigos de log" />
    <property name="jobClass" value="com.fortes.rh.config.LogCleanerJob" />
  </bean>
  <bean id="cronTriggerLogCleaner" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="logCleanerJob" />
    <property name="cronExpression" value="0 0 6 15 * ?" /> <!-- Todo dia 15 de cada mes as 06:00h am -->
  </bean>
  
  <!-- Job Responsavel pelo Backup do Banco -->
  <bean name="backupJobBean" class="com.fortes.rh.config.backup.BackupJob">
    <property name="backupService" ref="backupService" />
  </bean>
  <bean name="backupJob" class="org.springframework.scheduling.quartz.JobDetailBean">
    <property name="name" value="Backup do banco de dados" />
    <property name="jobClass" value="com.fortes.rh.config.backup.BackupJob" />
	<property name="jobDataAsMap">
		<map>
			<entry key="backupService" value-ref="backupService" />
		</map>
	</property>
  </bean>
  
  <bean name="enviarNotificacaoCursosOuCertificacoesAVencerJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
    <property name="parametrosDoSistemaManager" ref="parametrosDoSistemaManager" />
    <property name="areaOrganizacionalManager" ref="areaOrganizacionalManager" />
    <property name="usuarioMensagemManager" ref="usuarioMensagemManager" />
    <property name="usuarioEmpresaManager" ref="usuarioEmpresaManager" />
    <property name="empresaManager" ref="empresaManager" />
    <property name="colaboradorCertificacaoManager" ref="colaboradorCertificacaoManager" />
    <property name="mail" ref="mail" />
  </bean>
  <bean name="enviarNotificacaoCursosOuCertificacoesAVencer" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	 <property name="name" value="Notificar cursos à vencer"/>
    <property name="targetObject" ref="enviarNotificacaoCursosOuCertificacoesAVencerJob"/>
    <property name="targetMethod" value="enviarNotificacaoCursosOuCertificacoesAVencer"/>
  </bean>
  
  <bean name="enviaAvisoLntAutomaticoJob" class="com.fortes.rh.business.geral.GerenciadorComunicacaoManagerImpl">
    <property name="dao" ref="gerenciadorComunicacaoDaoTarget" />
	<property name="areaOrganizacionalManager" ref="areaOrganizacionalManager" />
	<property name="usuarioMensagemManager" ref="usuarioMensagemManager" />
    <property name="usuarioEmpresaManager" ref="usuarioEmpresaManager" />
	<property name="colaboradorManager" ref="colaboradorManager" />
	<property name="lntManager" ref="lntManager" /> 
	<property name="mail" ref="mail" />
  </bean>
  <bean name="enviaAvisoLntAutomatico" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  	<property name="name" value="Notifica início do período da LNT"/>
    <property name="targetObject" ref="enviaAvisoLntAutomaticoJob"/>
    <property name="targetMethod" value="enviaAvisoLntAutomatico"/>
  </bean>

  <bean id="cronTriggerBackup" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="backupJob" />
    <property name="cronExpression" value="0 0 0/1 * * ?"/> <!-- A cada 1 hora --> 
  </bean>
  
  <!-- Job Responsavel por limpar os arquivos de backup antigos -->
  <bean name="backupCleanerJob" class="org.springframework.scheduling.quartz.JobDetailBean">
  	<property name="name" value="Remover arquivos antigos de backup do banco de dados" />
    <property name="jobClass" value="com.fortes.rh.config.backup.BackupCleanerJob" />
  </bean>
  <bean id="cronTriggerBackupCleaner" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="backupCleanerJob" />
    <property name="cronExpression" value="0 0 3 * * ?" /> <!-- Todos os dias as 03:00h am -->
  </bean>

  <bean id="cronTriggerImportadorGastosAC" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="importadorGastosAC" />
    <property name="cronExpression" value="0 0 5 5 * ?" />
  </bean>
  <bean id="cronTriggerLembretePesquisa" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembretePesquisa" />
    <property name="cronExpression" value="0 0 6 * * ?" />
  </bean>
  <bean id="cronTriggerBancoConsistente" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="bancoConsistente" />
    <property name="cronExpression" value="0 0 4 * * ?" />
  </bean>
  <bean id="cronTriggerLembreteExamesPrevistos" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembreteExamesPrevistos" />
	<property name="cronExpression" value="0 0 3 25 * ?" /> <!-- Todo dia 25 de cada mes as 03:00h am -->
  </bean>
  <bean id="cronTriggerLembretePeriodoExperiencia" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembretePeriodoExperiencia" />
    <property name="cronExpression" value="0 0 7 * * ?" /> <!-- Todo os dias as 07:00h am -->
  </bean>
  <bean id="cronTriggerQuantidadeCurriculos" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="quantidadeCurriculos" />
    <property name="cronExpression" value="0 10 7 1 * ?" /> <!-- Todo dia 1 de cada mes as 07:10h am -->
  </bean>
  <bean id="cronTriggerEmailCartao" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="emailCartao" />
	<property name="cronExpression" value="0 20 6 * * ?" /> <!-- Todo os dias as 06:20h am -->
  </bean>
  <bean id="cronTriggerLembreteAberturaSolicitacaoEpi" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembreteAberturaSolicitacaoEpi" />
	<property name="cronExpression" value="0 0 6 * * ?" /> <!-- Todo os dias as 06:00h am -->
  </bean>
  <bean id="cronTriggerLembreteEntregaEpi" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembreteEntregaEpi" />
	<property name="cronExpression" value="0 10 6 * * ?" /> <!-- Todo os dias as 06:10h am -->
  </bean>
  <bean id="cronTriggerlembreteResponderAvaliacaoDesempenho" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembreteResponderAvaliacaoDesempenho" />
	<property name="cronExpression" value="0 30 6 * * ?" /> <!-- Todo os dias as 06:30h am -->
  </bean>
  <bean id="cronTriggerlembreteContratoTemporarioColaborador" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembreteContratoTemporarioColaborador" />
	<property name="cronExpression" value="0 30 5 * * ?" /> <!-- Todo os dias as 05:30h am -->
  </bean>
  <bean id="cronTriggerlembreteHabilitacaoAVencer" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="lembreteHabilitacaoAVencer" />
	<property name="cronExpression" value="0 0 5 * * ?" /> <!-- Todo os dias as 05:00h am -->
  </bean>
  <bean id="cronTriggerImportarUltimasNoticias" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="importarUltimasNoticias" />
	<property name="cronExpression" value="0 0 0/1 * * ?" /> <!-- A cada 1 hora -->
  </bean>
  <bean id="cronTriggerenviarNotificacaoCursosOuCertificacoesAVencer" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="enviarNotificacaoCursosOuCertificacoesAVencer" />
    <property name="cronExpression" value="0 20 7 * * ?" /> <!-- Todo os dias as 07:20h am -->
  </bean>
  
  <bean id="cronTriggerenviaAvisoLntAutomatico" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="enviaAvisoLntAutomatico" />
    <property name="cronExpression" value="0 15 6 * * ?" /> <!-- Todo os dias as 06:15h am -->
  </bean>
  
  <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
      <list>
        <ref bean="cronTriggerImportadorGastosAC" />
		<ref bean="cronTriggerLembretePesquisa" />
		<ref bean="cronTriggerBancoConsistente" />
		<ref bean="cronTriggerLembretePeriodoExperiencia" />
		<ref bean="cronTriggerLogCleaner" />
		<ref bean="cronTriggerBackup" />
		<ref bean="cronTriggerBackupCleaner" />
		<ref bean="cronTriggerQuantidadeCurriculos" />
		<ref bean="cronTriggerLembreteExamesPrevistos" />
		<ref bean="cronTriggerEmailCartao" />
		<ref bean="cronTriggerLembreteAberturaSolicitacaoEpi" />
		<ref bean="cronTriggerLembreteEntregaEpi" />
		<ref bean="cronTriggerlembreteResponderAvaliacaoDesempenho" />
		<ref bean="cronTriggerlembreteContratoTemporarioColaborador" />
		<ref bean="cronTriggerlembreteHabilitacaoAVencer" />
		<ref bean="cronTriggerImportarUltimasNoticias" />
		<ref bean="cronTriggerenviarNotificacaoCursosOuCertificacoesAVencer" />
		<ref bean="cronTriggerenviaAvisoLntAutomatico" />
      </list>
    </property>
  </bean>
  <!-- Fim das tarefas agendadas -->
</beans>