<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="hibernateAuthenticationDao" class="com.fortes.rh.security.UserDetailsServiceImpl">
		<property name="usuarioManager">
			<ref bean="usuarioManager" />
		</property>
		<property name="colaboradorManager">
			<ref bean="colaboradorManager" />
		</property>
		<property name="parametrosDoSistemaManager">
			<ref bean="parametrosDoSistemaManager" />
		</property>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>acegiMessages</value>
		</property>
	</bean>

	<bean id="authenticationProvider" class="com.fortes.rh.security.MyDaoAuthenticationProvider">
		<property name="userDetailsService">
			<ref local="hibernateAuthenticationDao" />
		</property>
		<property name="messageSource">
			<ref bean="messageSource" />
		</property>
		<property name="empresaManager">
			<ref bean="empresaManager" />
		</property>
		<property name="colaboradorManager">
			<ref bean="colaboradorManager" />
		</property>
		<property name="usuarioEmpresaManager">
			<ref bean="usuarioEmpresaManager" />
		</property>
		<property name="parametrosDoSistemaManager">
			<ref bean="parametrosDoSistemaManager" />
		</property>
		<property name="papelManager">
			<ref bean="papelManager" />
		</property>
	</bean>

	<bean id="authenticationManager" class="com.fortes.rh.security.MyProviderManager">
		<property name="providers">
			<list>
				<ref bean="authenticationProvider" />
				<ref local="anonymousAuthenticationProvider" />
			</list>
		</property>
		<property name="sessionController">
			<ref bean="concurrentSessionController" />
		</property>
	</bean>

	<bean id="objectDefinitionSource" class="org.acegisecurity.intercept.method.MethodDefinitionAttributes">
		<property name="attributes">
			<bean class="org.acegisecurity.annotation.SecurityAnnotationAttributes" />
		</property>
	</bean>

	<bean id="securityInterceptor" class="org.acegisecurity.intercept.method.aopalliance.MethodSecurityInterceptor">
		<property name="validateConfigAttributes">
			<value>true</value>
		</property>
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="accessDecisionManager">
			<ref bean="accessDecisionManager" />
		</property>
		<property name="objectDefinitionSource">
			<ref bean="objectDefinitionSource" />
		</property>
	</bean>

	<bean id="roleVoter" class="org.acegisecurity.vote.RoleVoter" />

	<bean id="accessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions">
			<value>false</value>
		</property>
		<property name="decisionVoters">
			<list>
				<ref local="roleVoter" />
			</list>
		</property>
	</bean>

	<!-- 
	<bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionContextIntegrationFilter,concurrentSessionFilter,authenticationProcessingFilter,anonymousProcessingFilter,exceptionTranslationFilter,filterInvocationInterceptor
			</value>
		</property>
	</bean>
	-->

	<bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/j_acegi_security_check*=httpSessionContextIntegrationFilter,authenticationProcessingFilter 
				/**/*=httpSessionContextIntegrationFilter,logoutFilter,authenticationProcessingFilter,securityContextHolderAwareRequestFilter,anonymousProcessingFilter,exceptionTranslationFilter,filterInvocationInterceptor
			</value>
		</property>
	</bean>

	<bean id="logoutFilter" class="org.acegisecurity.ui.logout.LogoutFilter">
		<constructor-arg value="/index.jsp" />
		<!-- URL redirected to after logout -->
		<constructor-arg>
		    <list>
				<bean class="org.acegisecurity.ui.logout.SecurityContextLogoutHandler" />
		    </list>
		</constructor-arg>
	</bean>
	
	<bean id="securityContextHolderAwareRequestFilter" class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter" />

	<bean id="concurrentSessionController" class="org.acegisecurity.concurrent.ConcurrentSessionControllerImpl">
		<property name="maximumSessions">
			<value>1</value>
		</property>
		<property name="sessionRegistry">
			<ref local="sessionRegistry" />
		</property>
	</bean>

	<bean id="sessionRegistry" class="org.acegisecurity.concurrent.SessionRegistryImpl" />

	<bean id="concurrentSessionFilter" class="org.acegisecurity.concurrent.ConcurrentSessionFilter">
		<property name="sessionRegistry">
			<ref local="sessionRegistry" />
		</property>
		<property name="expiredUrl">
			<value>/concurrentSessionError.action</value>
		</property>
	</bean>

	<bean id="httpSessionContextIntegrationFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"></bean>

	<bean id="authenticationProcessingFilter" class="com.fortes.rh.security.MyAuthenticationProcessingFilter">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="authenticationFailureUrl">
			<value>/login.action?login_error=1</value>
		</property>
		<property name="defaultTargetUrl">
			<value>/index.jsp</value>
		</property>
		<property name="filterProcessesUrl">
			<value>/j_acegi_security_check</value>
		</property>
	</bean>

	<bean id="anonymousAuthenticationProvider" class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
		<property name="key">
			<value>foobar</value>
		</property>
	</bean>

	<bean id="anonymousProcessingFilter" class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
		<property name="key">
			<value>foobar</value>
		</property>
		<property name="userAttribute">
			<value>anonymousUser,ROLE_ANONYMOUS</value>
		</property>
	</bean>

	<bean id="authenticationProcessingFilterEntryPoint" class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
		<property name="loginFormUrl">
			<value>/login.action</value>
		</property>
		<property name="forceHttps">
			<value>false</value>
		</property>
	</bean>
	
	<bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint"><ref local="authenticationProcessingFilterEntryPoint"/></property>
	</bean>

	<bean id="filterInvocationInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="accessDecisionManager">
			<ref local="httpRequestAccessDecisionManager" />
		</property>
		<property name="objectDefinitionSource">
			<value>
				PATTERN_TYPE_APACHE_ANT

				/webservice/**=ROLE_ANONYMOUS,ROLE_USER
				/updateConf.action*=ROLE_ANONYMOUS,ROLE_USER
				/gerarBD.action*=ROLE_ANONYMOUS,ROLE_USER
				/grafico.jsp*=ROLE_USER
				/robots.txt=ROLE_ANONYMOUS,ROLE_USER
				
				/geral/colaborador/findJson.action*=ROLE_ANONYMOUS,ROLE_USER
				/captacao/candidato/findJson.action*=ROLE_ANONYMOUS,ROLE_USER
				/imgs/**=ROLE_ANONYMOUS,ROLE_USER
				/css/**=ROLE_ANONYMOUS,ROLE_USER
				/js/**=ROLE_ANONYMOUS,ROLE_USER
				/webwork/**=ROLE_ANONYMOUS,ROLE_USER
				/backup/**=ROLE_USER
				/login.action*=ROLE_ANONYMOUS,ROLE_USER
				/logout.action*=ROLE_ANONYMOUS,ROLE_USER
				/configAutenticador.action*=ROLE_ANONYMOUS,ROLE_USER
				/registraNovaLicenca.action*=ROLE_REGISTRAR_NOVA_LICENCA
				/concurrentSessionError.jsp*=ROLE_ANONYMOUS
				/codigoOperacional.action*=ROLE_ANONYMOUS,ROLE_USER
				/geraTicket.action*=ROLE_ANONYMOUS,ROLE_USER
				/validaTicket.action*=ROLE_ANONYMOUS,ROLE_USER
				/validaCodigoResposta.action*=ROLE_ANONYMOUS,ROLE_USER
				/browsersCompativeis.action*=ROLE_ANONYMOUS,ROLE_USER
				/javasCompativeis.action*=ROLE_ANONYMOUS,ROLE_USER
				/videoteca.action*=ROLE_USER
				/contatos.action*=ROLE_USER
				/geral/cartao/**=ROLE_USER
				/*=ROLE_USER

				/security/auditoria/*/**=ROLE_UTI_AUDITORIA

				/indicador/duracaoPreenchimentoVaga/prepare*/**=ROLE_IND
				/indicador/duracaoPreenchimentoVaga/painel.action*=ROLE_IND,ROLE_RES_PAINEL_IND
				/indicador/indicadorTurnOver*/**=ROLE_REL_TURNOVER, ROLE_TAXA_DEMISSAO

				/logging/*/**=ROLE_LOGGING
				/externo/**=ROLE_ANONYMOUS,ROLE_USER

				/acesso/usuario/prepareUpdateSenhaUsuario.action*/**=ROLE_USER
				/acesso/usuario/updateSenhaUsuario.action*/**=ROLE_USER
				/acesso/usuario/prepareRecuperaSenha*/**=ROLE_ANONYMOUS
				/acesso/usuario/recuperaSenha*/**=ROLE_ANONYMOUS
				/acesso/usuario/*/**=ROLE_CAD_USUARIO,ROLE_COLAB_LIST_CRIARUSUARIO
				/acesso/perfil/*/**=ROLE_CAD_PERFIL
				/geral/colaborador/prepareProjecaoSalarialFiltro*/** = ROLE_REL_PROJECAO_SALARIAL
				/geral/colaborador/gerarRelatorioProjecaoSalarial*/** = ROLE_REL_PROJECAO_SALARIAL
				/geral/colaborador/prepareRelatorioAdmitidos.action* = ROLE_REL_ADMITIDOS
				/geral/colaborador/relatorioAdmitidos*/**=ROLE_REL_ADMITIDOS
				/geral/colaborador/prepareRelatorioDinamico.action* = ROLE_REL_LISTA_COLAB
				/geral/colaborador/relatorioDinamico*/** = ROLE_REL_LISTA_COLAB
				/geral/colaborador/prepareReciboPagamento.action* = ROLE_REL_RECIBO_PAGAMENTO
				/geral/colaborador/reciboPagamento.action* = ROLE_REL_RECIBO_PAGAMENTO
				/geral/colaborador/prepareReciboDeDecimoTerceiro.action* = ROLE_REL_RECIBO_DECIMO_TERCEIRO
				/geral/colaborador/reciboDeDecimoTerceiro.action* = ROLE_REL_RECIBO_DECIMO_TERCEIRO
				/geral/colaborador/prepareReciboDeFerias.action* = ROLE_REL_RECIBO_FERIAS
				/geral/colaborador/reciboDeFerias.action* = ROLE_REL_RECIBO_FERIAS
				/geral/colaborador/prepareDeclaracaoRendimentos.action* = ROLE_REL_DECLARACAO_RENDIMENTOS
				/geral/colaborador/declaracaoRendimentos.action* = ROLE_REL_DECLARACAO_RENDIMENTOS
				/geral/colaborador/prepareReciboPagamentoAdiantamentoDeFolha.action* = ROLE_REL_ADIANTAMENTO_DE_FOLHA
				/geral/colaborador/reciboPagamentoAdiantamentoDeFolha.action* = ROLE_REL_ADIANTAMENTO_DE_FOLHA
				/geral/colaborador/prepareReciboPagamentoComplementar.action* = ROLE_REL_PAGAMENTO_COMPLEMENTAR
				/geral/colaborador/reciboPagamentoComplementar.action* = ROLE_REL_PAGAMENTO_COMPLEMENTAR
				/geral/colaborador/prepareAtualizarModeloAvaliacao.action* = ROLE_MOV_ATUALIZAR_MODELO_AVALIACAO_COLABORADOR
				/geral/colaborador/atualizarModeloAvaliacao.action* = ROLE_MOV_ATUALIZAR_MODELO_AVALIACAO_COLABORADOR
				/geral/colaborador/colaboradoresPorAreaJson.action* = ROLE_ANONYMOUS,ROLE_USER
				/geral/colaborador/prepareRelatorioFerias.action* = ROLE_REL_FERIAS
				/geral/colaborador/imprimeRelatorioFerias.action* = ROLE_REL_FERIAS
				/geral/colaborador/imprimirPerformanceFuncional.action* = ROLE_VISUALIZAR_PROGRESSAO,ROLE_COLAB_LIST_PERFORMANCE
				/geral/colaborador/showFoto.action* = ROLE_CAD_COLABORADOR,ROLE_VISUALIZAR_PROGRESSAO
				/geral/colaborador/getColaboradoresJson.action* = ROLE_ANONYMOUS,ROLE_USER
				
				/geral/ocorrencia/list.action*=ROLE_CAD_OCORRENCIA
				/geral/ocorrencia/prepareInsert.action*=ROLE_CAD_OCORRENCIA_INSERIR
				/geral/ocorrencia/insert.action*=ROLE_CAD_OCORRENCIA_INSERIR
				/geral/ocorrencia/prepareUpdate.action*=ROLE_CAD_OCORRENCIA_EDITAR
				/geral/ocorrencia/update.action*=ROLE_CAD_OCORRENCIA_EDITAR
				/geral/ocorrencia/delete.action*=ROLE_CAD_OCORRENCIA_EXCLUIR
				/geral/ocorrencia/prepareRelatorioOcorrencia*/**=ROLE_REL_OCORRENCIA
				/geral/ocorrencia/buscaOcorrencia*/**=ROLE_REL_OCORRENCIA
				/geral/ocorrencia/*/**=ROLE_CAD_OCORRENCIA
				
				/geral/colaboradorOcorrencia/list.action*=ROLE_MOV_OCORRENCIA
				/geral/colaboradorOcorrencia/prepareInsert.action*=ROLE_MOV_OCORRENCIA_INSERIR
				/geral/colaboradorOcorrencia/insert.action*=ROLE_MOV_OCORRENCIA_INSERIR
				/geral/colaboradorOcorrencia/prepareUpdate.action*=ROLE_MOV_OCORRENCIA_EDITAR
				/geral/colaboradorOcorrencia/update.action*=ROLE_MOV_OCORRENCIA_EDITAR
				/geral/colaboradorOcorrencia/delete.action*=ROLE_MOV_OCORRENCIA_EXCLUIR
				/geral/colaboradorOcorrencia/prepareRelatorioAbsenteismo.action*=ROLE_REL_ABSENTEISMO
				/geral/colaboradorOcorrencia/relatorioAbsenteismo.action*=ROLE_REL_ABSENTEISMO
				/geral/colaboradorOcorrencia/*/**=ROLE_MOV_OCORRENCIA
				
				/geral/ocorrenciaProvidencia/list.action*=ROLE_MOV_PROVIDENCIA
				/geral/ocorrenciaProvidencia/prepare.action*=ROLE_MOV_PROVIDENCIA
				/geral/ocorrenciaProvidencia/update.action*=ROLE_MOV_PROVIDENCIA

				/geral/gasto/*/**=ROLE_CAD_GASTO
				/geral/conhecimento/*/**=ROLE_CAD_CONHECIMENTO
				/geral/documentoVersao/**=ROLE_UTI_HISTORICO_VERSAO
				/geral/gastoEmpresa/prepareImprimir*/**=ROLE_REL_GASTOEMPRESA
				/geral/gastoEmpresa/list*/**=ROLE_MOV_GASTO_GASTOEMPRESA
				/geral/parametrosDoSistema/prepareUpdate.action*=ROLE_UTI_CONFIGURACAO
				/geral/parametrosDoSistema/listCampos.action*=ROLE_CONFIG_CAMPOS
				/geral/parametrosDoSistema/configCampos.action=ROLE_CONFIG_CAMPOS_PADROES_DO_SISTEMA_PARA_COLABORADOR,ROLE_CONFIG_CAMPOS_PADROES_DO_SISTEMA_PARA_CANDIDATO,ROLE_CONFIG_CAMPOS_PADROES_DO_SISTEMA_PARA_CANDIDATO_EXTERNO
				/geral/parametrosDoSistema/listCamposExtras.action*=ROLE_CONFIG_CAMPOS_EXTRAS
				/geral/parametrosDoSistema/configCamposExtras.action*=ROLE_CONFIG_CAMPOS_EXTRAS_PARA_COLABORADOR,ROLE_CONFIG_CAMPOS_EXTRAS_PARA_CANDIDATO,ROLE_CONFIG_CAMPOS_EXTRAS_PARA_CANDIDATO_EXT
				/geral/parametrosDoSistema/updateConfigCamposExtras.action*=ROLE_CONFIG_CAMPOS_EXTRAS_PARA_COLABORADOR,ROLE_CONFIG_CAMPOS_EXTRAS_PARA_CANDIDATO,ROLE_CONFIG_CAMPOS_EXTRAS_PARA_CANDIDATO_EXT
				/geral/empresa/prepareImportarCadastros*/**=ROLE_IMPORTA_CADASTROS
				/geral/empresa/importarCadastros*/**=ROLE_IMPORTA_CADASTROS
				/geral/empresa/*/**=ROLE_UTI_EMPRESA

				/geral/historicoBeneficio/*/**=ROLE_CAD_BENEFICIO
				/geral/beneficio/*/**=ROLE_CAD_BENEFICIO
				/geral/grupoGasto/*/**=ROLE_CAD_GRUPOGASTO
				/geral/colaborador/prepareUpdateInfoPessoais.action* = ROLE_CAD_INFO_PESSOAL
				/geral/colaborador/updateInfoPessoais.action* = ROLE_CAD_INFO_PESSOAL
				/geral/colaborador/prepareRelatorioAniversariantes*/** = ROLE_REL_ANIVERSARIANTES
				/geral/colaborador/relatorioAniversariantes*/** = ROLE_REL_ANIVERSARIANTES
				/geral/colaborador/prepareRelatorioAniversariantesPorTempoDeEmpresa*/** = ROLE_REL_ANIVERSARIANTES_POR_TEMPO_DE_EMPRESA
				/geral/colaborador/relatorioAniversariantesPorTempoDeEmpresa*/** = ROLE_REL_ANIVERSARIANTES_POR_TEMPO_DE_EMPRESA
				/geral/colaborador/relatorioAniversariantesPorTempoDeEmpresaXLS*/** = ROLE_REL_ANIVERSARIANTES_POR_TEMPO_DE_EMPRESA
				
				/geral/colaborador/list.action*=ROLE_COLAB_LIST
				/geral/colaborador/prepareDesliga.action*=ROLE_COLAB_LIST_DESLIGAR
				/geral/colaborador/prepareDesligaAC.action*=ROLE_COLAB_LIST_DESLIGAR				
				/geral/colaborador/desliga*/**=ROLE_COLAB_LIST_DESLIGAR
				/geral/colaborador/solicitacaoDesligamento*/**=ROLE_COLAB_LIST_DESLIGAR
				/geral/colaborador/prepareAprovarReprovarSolicitacaoDesligamento.action*=ROLE_MOV_APROV_REPROV_SOL_DESLIGAMENTO
				/geral/colaborador/visualizarSolicitacaoDesligamento.action*=ROLE_MOV_APROV_REPROV_SOL_DESLIGAMENTO
				/geral/colaborador/reprovarSolicitacaoDesligamento.action*=ROLE_MOV_APROV_REPROV_SOL_DESLIGAMENTO
				/geral/colaborador/aprovarSolicitacaoDesligamento.action*=ROLE_MOV_APROV_REPROV_SOL_DESLIGAMENTO
				
				/pesquisa/entrevista/prepareResponderEntrevista.action*=ROLE_COLAB_LIST_ENTREVISTA
				/geral/colaborador/prepareUpdate.action*=ROLE_COLAB_LIST_EDITAR
				/geral/colaborador/update.action*=ROLE_COLAB_LIST_EDITAR
				/geral/colaborador/delete.action*=ROLE_COLAB_LIST_EXCLUIR
				/geral/colaborador/preparePerformanceFuncional.action*=ROLE_COLAB_LIST_PERFORMANCE,ROLE_VISUALIZAR_PROGRESSAO				
				/captacao/nivelCompetencia/listCompetenciasColaborador.action*=ROLE_COLAB_LIST_NIVELCOMPETENCIA				
				/geral/colaborador/prepareColaboradorSolicitacao*/**=ROLE_COLAB_LIST_SOLICITACAO
				/captacao/solicitacao/verSolicitacoes*/**=ROLE_COLAB_LIST_SOLICITACAO,ROLE_MOV_SOLICITACAO
				/captacao/solicitacao/gravarSolicitacoesCandidato*/**=ROLE_COLAB_LIST_SOLICITACAO,ROLE_MOV_SOLICITACAO
								
				/geral/historicoColaboradorBeneficio/*/**=ROLE_CAD_COLABORADOR
				/geral/gastoEmpresa/*/**=ROLE_MOV_GASTO_GASTOEMPRESA
				/geral/areaInteresse/*/**=ROLE_CAD_AREA_INTERESSE
				/geral/motivoDemissao/*elatorioMotivoDemissao*/**=ROLE_REL_MOTIVO_DEMISSAO
				/geral/motivoDemissao/*/**=ROLE_CAD_MOTIVO_DEMISSAO
				/geral/areaOrganizacional/prepareInsert.action*=ROLE_CAD_AREA_INSERIR
				/geral/areaOrganizacional/insert.action*=ROLE_CAD_AREA_INSERIR
				/geral/areaOrganizacional/prepareUpdate.action*=ROLE_CAD_AREA_EDITAR
				/geral/areaOrganizacional/update.action*=ROLE_CAD_AREA_EDITAR
				/geral/areaOrganizacional/delete.action*=ROLE_CAD_AREA_EXCLUIR
				/geral/areaOrganizacional/*/**=ROLE_CAD_AREA
				/geral/estabelecimento/*/**=ROLE_CAD_ESTABELECIMENTO
				/geral/bairro/*/**=ROLE_CAD_BAIRRO

				/geral/documentoAnexo/prepareInsertColaborador*/**=ROLE_COLAB_LIST_DOCUMENTOANEXO
				/geral/documentoAnexo/prepareUpdateColaborador*/**=ROLE_COLAB_LIST_DOCUMENTOANEXO
				/geral/documentoAnexo/deleteColaborador*/**=ROLE_COLAB_LIST_DOCUMENTOANEXO
				/geral/documentoAnexo/insertColaborador*/**=ROLE_COLAB_LIST_DOCUMENTOANEXO
				/geral/documentoAnexo/updateColaborador*/**=ROLE_COLAB_LIST_DOCUMENTOANEXO
				/geral/documentoAnexo/prepareInsertCandidato*/**=ROLE_CAND_LIST_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO
				/geral/documentoAnexo/prepareUpdateCandidato*/**=ROLE_CAND_LIST_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO
				/geral/documentoAnexo/deleteCandidato*/**=ROLE_CAND_LIST_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO
				/geral/documentoAnexo/insertCandidato*/**=ROLE_CAND_LIST_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO
				/geral/documentoAnexo/updateCandidato*/**=ROLE_CAND_LIST_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO
				/geral/documentoAnexo/listCandidato.action*=ROLE_CAND_LIST_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO
				/geral/documentoAnexo/listColaborador.action*=ROLE_COLAB_LIST_DOCUMENTOANEXO
				
				/geral/documentoAnexo/listCurso.action*=ROLE_MOV_CURSO
				/geral/documentoAnexo/deleteCurso*/**=ROLE_MOV_CURSO
				/geral/documentoAnexo/prepareInsertCurso*/**=ROLE_MOV_CURSO
				/geral/documentoAnexo/prepareUpdateCurso*/**=ROLE_MOV_CURSO
				/geral/documentoAnexo/insertCurso*/**=ROLE_MOV_CURSO
				/geral/documentoAnexo/updateCurso*/**=ROLE_MOV_CURSO

				/geral/areaFormacao/*/**=ROLE_AREAFORMACAO
				/geral/configuracaoCampoExtra/*/**=ROLE_CAMPO_EXTRA
				/geral/grupoAC/*/**=ROLE_CAD_GRUPOAC
				/geral/configuracaoLimiteColaborador/*/**=ROLE_CONFIG_LIMITE_COLABORADOR
				/geral/tipoDocumento/*/**=ROLE_TIPO_DOCUMENTO
				/geral/tipoDespesa/*/**=ROLE_TIPO_DESPESA
				/geral/providencia/*/**=ROLE_PROVIDENCIA
				/geral/gerenciadorComunicacao/*/**=ROLE_CAD_GERENCIADOR_COMUNICACAO

				/captacao/motivoSolicitacao/*/**=ROLE_MOTIVO_SOLICITACAO
				/captacao/areaInteresse/*/**=ROLE_CAD_AREA_INTERESSE
				/captacao/solicitacao/prepareRelatorioProcessoSeletivo*/**=ROLE_REL_PROCESSO_SELETIVO
				/captacao/solicitacao/imprimirRelatorioProcessoSeletivo*/**=ROLE_REL_PROCESSO_SELETIVO
				/captacao/solicitacao/prepareRelatorio*/**=ROLE_REL_SOLICITACAO
				/captacao/solicitacao/imprimirRelatorio*/**=ROLE_REL_SOLICITACAO
				/captacao/solicitacao/list*/**=ROLE_MOV_SOLICITACAO
				/captacao/produtividade/*/**=ROLE_REL_PRODUTIVIDADE
				/captacao/candidato/candidatosParticipantesEtapaSeletivaJSon.action*=ROLE_ANONYMOUS,ROLE_USER
				/captacao/candidato/prepareExamePalografico*/** = ROLE_MOV_PALOGRAFICO
				/captacao/candidato/prepareUpdateExamePalografico*/** = ROLE_MOV_PALOGRAFICO
				/captacao/candidato/updateExamePalografico*/** = ROLE_MOV_PALOGRAFICO
				/captacao/candidato/showFoto*/**=ROLE_ANONYMOUS,ROLE_CAD_CANDIDATO
				/captacao/formacao/*/**=ROLE_CAD_CANDIDATO,ROLE_CAD_COLABORADOR,ROLE_ANONYMOUS,ROLE_CAD_INFO_PESSOAL
				/captacao/idioma/*/**=ROLE_CAD_CANDIDATO,ROLE_CAD_COLABORADOR,ROLE_ANONYMOUS,ROLE_CAD_INFO_PESSOAL
				/captacao/experiencia/*/**=ROLE_CAD_CANDIDATO,ROLE_CAD_COLABORADOR,ROLE_ANONYMOUS,ROLE_CAD_INFO_PESSOAL
				
				/captacao/candidatoSolicitacao/prepareAutorizarColabSolicitacaoPessoal.action*=ROLE_MOV_AUTOR_COLAB_SOL_PESSOAL
				/captacao/candidatoSolicitacao/autorizarColabSolicitacaoPessoal.action*=ROLE_MOV_AUTOR_COLAB_SOL_PESSOAL
				/captacao/candidatoSolicitacao/list.action*=ROLE_CAND_SOLICITACAO_LISTA,ROLE_CAND_SOLICITACAO_HISTORICO,ROLE_CAND_SOLICITACAO_COMPETENCIAS,ROLE_CAND_SOLICITACAO_CONTRATAR,ROLE_CAND_SOLICITACAO_EXCLUIR,ROLE_CAND_SOLICITACAO_AVALIACOES,ROLE_CAND_SOLICITACAO_VISUALIZARCURRICULO,ROLE_CAND_SOLICITACAO_DOCUMENTOANEXO,ROLE_CAND_SOLICITACAO_IMPRIMIR,ROLE_CAND_SOLICITACAO_TRIAGEM,ROLE_CAND_SOLICITACAO_INSERIRETAPAGRUPO,ROLE_CAND_SOLICITACAO_RESULTADOAVALIACAO,ROLE_CAND_SOLICITACAO_TRANSFCANDIDATO,ROLE_CAND_SOLICITACAO_TRIAGEMMODULOEXTERNO
				/captacao/historicoCandidato/list.action*=ROLE_CAND_SOLICITACAO_HISTORICO
				/geral/colaborador/preparePromoverCandidato.action*=ROLE_CAND_SOLICITACAO_CONTRATAR, ROLE_CAD_COLABORADOR
				/geral/colaborador/prepareContrata.action*=ROLE_CAND_SOLICITACAO_CONTRATAR, ROLE_CAD_COLABORADOR
				/geral/colaborador/insert.action*=ROLE_CAND_SOLICITACAO_CONTRATAR, ROLE_CAD_COLABORADOR
				/captacao/candidatoSolicitacao/delete.action*=ROLE_CAND_SOLICITACAO_EXCLUIR
				/captacao/candidatoSolicitacao/popupAvaliacoesCandidatoSolicitacao.action*=ROLE_CAND_SOLICITACAO_AVALIACOES
				/captacao/candidatoSolicitacao/prepareInsertAvaliacaoSolicitacao.action*=ROLE_CAND_SOLICITACAO_AVALIACOES
				/captacao/candidatoSolicitacao/imprimirListagemCandidatoSolicitacao.action*=ROLE_CAND_SOLICITACAO_IMPRIMIR
				/captacao/candidato/prepareBusca.action*=ROLE_CAND_SOLICITACAO_TRIAGEM
				/captacao/historicoCandidato/prepareInsert.action*=ROLE_CAND_SOLICITACAO_INSERIRETAPAGRUPO
				/captacao/candidatoSolicitacao/imprimeRankingAvaliacao.action*=ROLE_CAND_SOLICITACAO_RESULTADOAVALIACAO
				/captacao/candidatoSolicitacao/prepareMover.action*=ROLE_CAND_SOLICITACAO_TRANSFCANDIDATO
				/captacao/candidatoSolicitacao/listTriagem.action*=ROLE_CAND_SOLICITACAO_TRIAGEMMODULOEXTERNO
				
				/captacao/historicoCandidato/*/**=ROLE_MOV_SOLICITACAO
				/captacao/candidatoSolicitacao/*/**=ROLE_MOV_SOLICITACAO_CANDIDATO,ROLE_INFORM_CANDIDATO_CURRICULO
				
				/captacao/candidato/prepareRelatorioAvaliacaoCandidatos*/** = ROLE_REL_AVALIACAO_CANDIDATOS 
				/captacao/candidato/relatorioAvaliacaoCandidatos*/** = ROLE_REL_AVALIACAO_CANDIDATOS 
				/captacao/candidato/prepareRelatorioCandidatosIndicadosPor*/** = ROLE_REL_CANDIDATOS_INDICADOS_POR 
				/captacao/candidato/relatorioCandidatosIndicadosPor*/** = ROLE_REL_CANDIDATOS_INDICADOS_POR 
				/captacao/candidato/infoCandidato*/**=ROLE_CAD_CANDIDATO,ROLE_MOV_SOLICITACAO,ROLE_INFORM_CANDIDATO_CURRICULO, ROLE_INFORM_CANDIDATO_HISTORICO, ROLE_INFORM_CANDIDATO_COMPETENCIA,ROLE_COLAB_LIST_VISUALIZARCURRICULO,ROLE_CAND_SOLICITACAO_VISUALIZARCURRICULO
				/captacao/candidato/verCurriculo*/**=ROLE_INFORM_CANDIDATO_CURRICULO,ROLE_COLAB_LIST_VISUALIZARCURRICULO
				/captacao/candidato/verHistoricoCandidato*/**=ROLE_INFORM_CANDIDATO_HISTORICO
				/captacao/candidato/visualizarCandidato*/**=ROLE_INFORM_CANDIDATO_COMPETENCIA
				/captacao/candidato/*/**=ROLE_CAD_CANDIDATO
				/captacao/empresaBds/*/**=ROLE_CAD_BDS_EMPRESA
				
				/captacao/solicitacao/updateStatusSolicitacao*/**=ROLE_LIBERA_SOLICITACAO
				/captacao/solicitacao/agenda*/**=ROLE_SOLICITACAO_AGENDA
				/captacao/solicitacao/imprimirSolicitacaoPessoal*/**=ROLE_MOV_SOLICITACAO_IMPRIMIR
				/captacao/solicitacao/prepareInsert*/**=ROLE_MOV_SOLICITACAO_INSERIR, ROLE_MOV_SOLICITACAO_CLONAR
				/captacao/solicitacao/insert*/**=ROLE_MOV_SOLICITACAO_INSERIR, ROLE_MOV_SOLICITACAO_CLONAR
				/captacao/solicitacao/prepareUpdate*/**=ROLE_MOV_SOLICITACAO_EDITAR,ROLE_LIBERA_SOLICITACAO
				/captacao/solicitacao/update*/**=ROLE_MOV_SOLICITACAO_EDITAR,ROLE_LIBERA_SOLICITACAO
				/captacao/solicitacao/delete*/**=ROLE_MOV_SOLICITACAO_EXCLUIR
				/captacao/solicitacao/anuncio/*/**=ROLE_MOV_SOLICITACAO_ANUNCIAR
				/captacao/solicitacao/encerrarSolicitacao*/**=ROLE_MOV_SOLICITACAO_ENCERRAR
				/captacao/solicitacao/reabrirSolicitacao*/**=ROLE_MOV_SOLICITACAO_ENCERRAR
				/captacao/solicitacao/suspenderSolicitacao*/**=ROLE_MOV_SOLICITACAO_SUSPENDER
				/captacao/solicitacao/liberarSolicitacao*/**=ROLE_MOV_SOLICITACAO_SUSPENDER
				/captacao/solicitacao/prepareClonar*/**=ROLE_MOV_SOLICITACAO_CLONAR
				
				/captacao/conhecimento/*/**=ROLE_CAD_CONHECIMENTO
				/captacao/etapaSeletiva/*/**=ROLE_CAD_ETAPA
				/captacao/nivelCompetencia/prepareRelatorioCompetenciasColaborador*/** = ROLE_REL_COLAB_NIVEL_COMPETENCIA
				/captacao/nivelCompetencia/imprimirRelatorioCompetenciasColaborador*/** = ROLE_REL_COLAB_NIVEL_COMPETENCIA
				/captacao/nivelCompetencia/prepareRelatorioMatrizCompetenciasColaborador*/** = ROLE_REL_COLAB_NIVEL_COMPETENCIA
				/captacao/nivelCompetencia/imprimirMatrizCompetenciasColaborador*/** = ROLE_REL_COLAB_NIVEL_COMPETENCIA
				/captacao/nivelCompetencia/list.action*=ROLE_CAD_NIVEL_COMPETENCIA_CAD	
				/captacao/nivelCompetencia/prepareInsert.action*=ROLE_CAD_NIVEL_COMPETENCIA_CAD	
				/captacao/nivelCompetencia/insert.action*=ROLE_CAD_NIVEL_COMPETENCIA_CAD	
				/captacao/nivelCompetencia/prepareUpdate.action*=ROLE_CAD_NIVEL_COMPETENCIA_CAD	
				/captacao/nivelCompetencia/update.action*=ROLE_CAD_NIVEL_COMPETENCIA_CAD	
				/captacao/nivelCompetencia/delete.action*=ROLE_CAD_NIVEL_COMPETENCIA_CAD
				/captacao/nivelCompetencia/listCompetenciasColaborador.action*=ROLE_COLAB_LIST_NIVELCOMPETENCIA
				/captacao/nivelCompetencia/prepareCompetenciasByCandidato.action*=ROLE_CAND_SOLICITACAO_COMPETENCIAS	
				/captacao/nivelCompetencia/*/**=ROLE_MOV_SOLICITACAO_CANDIDATO, ROLE_CAD_FAIXA_SALARIAL	
				/captacao/nivelCompetenciaHistorico/*.action*=ROLE_CAD_NIVEL_COMPETENCIA_HIST	
				
				/cargosalario/reajusteColaborador/prepareSolicitacaoReajuste*/**=ROLE_MOV_SOLICITACAOREAJUSTE_COLABORADOR,ROLE_DISSIDIO_COLABORADOR
				/cargosalario/reajusteColaborador/prepareDissidio*/**=ROLE_DISSIDIO_COLABORADOR
				/cargosalario/reajusteColaborador/aplicarDissidio*/**=ROLE_DISSIDIO_COLABORADOR
				/cargosalario/reajusteColaborador/prepareUpdate*/**=ROLE_DISSIDIO_COLABORADOR
				/cargosalario/reajusteColaborador/delete*/**=ROLE_DISSIDIO_COLABORADOR
				/cargosalario/reajusteFaixaSalarial*/**=ROLE_DISSIDIO_FAIXASALARIAL
				/cargosalario/reajusteIndice*/**=ROLE_DISSIDIO_INDICE
				
				/cargosalario/tabelaReajusteColaborador/aplicarPor*.action*=ROLE_MOV_APLICARREALINHAMENTO
				/cargosalario/tabelaReajusteColaborador/*/**=ROLE_MOV_SIMULACAOREAJUSTE
				/cargosalario/cargo/prepareRelatorioColaboradorGrupoOcupacional*/**=ROLE_REL_COLAB_GRUPOOCUPACIONAL
				/cargosalario/cargo/relatorioColaboradorGrupoOcupacional*/**=ROLE_REL_COLAB_GRUPOOCUPACIONAL
				/cargosalario/cargo/prepareRelatorioCargo.action*=ROLE_REL_CARGO
				/cargosalario/cargo/relatorioCargo.action*=ROLE_REL_CARGO
				/cargosalario/cargo/prepareRelatorioColaboradorCargo.action*=ROLE_REL_COLAB_CARGO
				/cargosalario/cargo/relatorioColaboradorCargo.action*=ROLE_REL_COLAB_CARGO
				/cargosalario/cargo/prepareInsert.action*=ROLE_CAD_CARGO_INSERIR
				/cargosalario/cargo/insert.action*=ROLE_CAD_CARGO_INSERIR
				/cargosalario/cargo/prepareUpdate.action*=ROLE_CAD_CARGO_EDITAR
				/cargosalario/cargo/update.action*=ROLE_CAD_CARGO_EDITAR
				/cargosalario/cargo/delete.action*=ROLE_CAD_CARGO_EXCLUIR
				/cargosalario/cargo/imprimir.action*=ROLE_CAD_CARGO_IMPRIMIR
				/cargosalario/cargo/prepareTransferirFaixasCargo.action*=ROLE_TRANSFERIR_FAIXAS_AC
				/cargosalario/cargo/*/**=ROLE_CAD_CARGO
				/cargosalario/faixaSalarial/*/**=ROLE_CAD_CARGO
				/cargosalario/faixaSalarialHistorico/analiseTabelaSalarialFiltro*/**=ROLE_MOV_TABELA
				/cargosalario/faixaSalarialHistorico/analiseTabelaSalarialList*/**=ROLE_MOV_TABELA
				/cargosalario/faixaSalarialHistorico/relatorioAnaliseTabelaSalarial*/**=ROLE_MOV_TABELA
				/cargosalario/faixaSalarialHistorico/*/**=ROLE_CAD_CARGO
				/cargosalario/grupoOcupacional/*/**=ROLE_CAD_GRUPO
				/cargosalario/reajusteRelatorio/formFiltro*/**=ROLE_REL_SIMULACAOREAJUSTE
				/cargosalario/reajusteRelatorio/gerarRelatorio*/**=ROLE_REL_SIMULACAOREAJUSTE
				/cargosalario/reajusteRelatorio/*/**=ROLE_MOV_SIMULACAOREAJUSTE
				/cargosalario/historicoColaborador/prepareUpdateAmbientesEFuncoes*/** = ROLE_AMBIENTE
				/cargosalario/historicoColaborador/updateAmbientesEFuncoes*/** = ROLE_AMBIENTE
				/cargosalario/historicoColaborador/prepareRelatorioPromocoes*/** = ROLE_REL_PROMOCAO 
				/cargosalario/historicoColaborador/imprimirRelatorioPromocoes*/** = ROLE_REL_PROMOCAO 
				/cargosalario/historicoColaborador/prepareAjusteDissidio.action*=ROLE_MOV_DISSIDIO
				/cargosalario/historicoColaborador/prepareUpdateAmbientesEFuncoes.action*=ROLE_CAD_AMBIENTE
				/cargosalario/historicoColaborador/updateAmbientesEFuncoes.action*=ROLE_CAD_AMBIENTE
				/cargosalario/historicoColaborador/prepareRelatorioSituacoes.action*=ROLE_REL_SITUACOES
				/cargosalario/historicoColaborador/prepareRelatorioUltimasPromocoes*/**=ROLE_REL_COLAB_SEM_REAJUSTE
				/cargosalario/historicoColaborador/imprimirRelatorioUltimasPromocoes*/**=ROLE_REL_COLAB_SEM_REAJUSTE
				/cargosalario/historicoColaborador/relatorioSituacoes.action*=ROLE_REL_SITUACOES
				/cargosalario/historicoColaborador/painelIndicadores.action*=ROLE_INFO_PAINEL_IND
				/cargosalario/historicoColaborador/historicoColaboradorList.action*=ROLE_CAD_HISTORICOCOLABORADOR
				/cargosalario/historicoColaborador/list.action*=ROLE_CAD_HISTORICOCOLABORADOR,ROLE_VISUALIZAR_PROGRESSAO
				/cargosalario/historicoColaborador/prepareInsert.action*=ROLE_CAND_SOLICITACAO_CONTRATAR, ROLE_CAD_HISTORICOCOLABORADOR
				/cargosalario/historicoColaborador/insert.action*=ROLE_CAND_SOLICITACAO_CONTRATAR, ROLE_CAD_HISTORICOCOLABORADOR
				/cargosalario/historicoColaborador/prepareUpdate.action*=ROLE_CAD_HISTORICOCOLABORADOR
				/cargosalario/historicoColaborador/update.action*=ROLE_CAD_HISTORICOCOLABORADOR
				/cargosalario/historicoColaborador/painelIndicadoresCargoSalario.action*=ROLE_CES_PAINEL_IND
				/cargosalario/historicoColaborador/*/**=ROLE_CAD_COLABORADOR
				/cargosalario/indice/*/**=ROLE_CAD_INDICE
				/cargosalario/indiceHistorico/*/**=ROLE_CAD_INDICE
				/cargosalario/faturamentoMensal/*/**=ROLE_FATURAMENTO
				
				/desenvolvimento/turma/prepareFrequencia*/**=ROLE_FREQUENCIA, ROLE_MOV_CURSO
				/desenvolvimento/turma/verTurmasCurso*/**=ROLE_FREQUENCIA, ROLE_MOV_CURSO
				/desenvolvimento/turma/preparePresenca*/**=ROLE_FREQUENCIA, ROLE_MOV_CURSO
				/desenvolvimento/turma/prepareImprimirCertificado*/**=ROLE_CERTIFICADO_CURSO
				/desenvolvimento/turma/imprimirCertifica*/**=ROLE_CERTIFICADO_CURSO
				/desenvolvimento/turma/getColaboradoresByFiltro*/**=ROLE_CERTIFICADO_CURSO
				/desenvolvimento/turma/preparePdi*/**=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/pdi*/**=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/imprimirPdi*/**=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/prepareAplicarPdi*/**=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/aplicarPdi*/**=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/prepareImprimirTurmaSemPlano*/**=ROLE_REL_SEM_INDICACAO
				/desenvolvimento/turma/prepareImprimirTurma*/**=ROLE_REL_PLANO
				/desenvolvimento/turma/prepareImprimirMatriz*/**=ROLE_REL_MATRIZ
				/desenvolvimento/turma/filtroCronogramaTreinamento*/**=ROLE_CRONOGRAMA_TREINAMENTO
				/desenvolvimento/turma/imprimirCronogramaTreinamento*/**=ROLE_CRONOGRAMA_TREINAMENTO
				/desenvolvimento/turma/relatorioInvestimento*/**=ROLE_CRONOGRAMA_TREINAMENTO
				/desenvolvimento/turma/imprimirRelatorioInvestimento*/**=ROLE_CRONOGRAMA_TREINAMENTO
				/desenvolvimento/turma/relatorioInvestimentoPorColaborador*/**=ROLE_INVESTIMENTO_TREINAMENTO_COLAB
				/desenvolvimento/turma/imprimirRelatorioInvestimentoPorColaborador*/**=ROLE_INVESTIMENTO_TREINAMENTO_COLAB
				/desenvolvimento/turma/getTurmasJson.action* = ROLE_ANONYMOUS,ROLE_USER
				/desenvolvimento/turma/clonarColaboradores.action*=ROLE_MOV_CURSO
				
				/desenvolvimento/colaboradorTurma/prepareRelatorioColaboradorCertificacao*/**=ROLE_REL_COLABORADORES_CERTIFICACOES
				/desenvolvimento/colaboradorTurma/relatorioColaboradorCertificacao*/**=ROLE_REL_COLABORADORES_CERTIFICACOES
				/desenvolvimento/colaboradorTurma/prepareFiltroHistoricoTreinamentos*/**=ROLE_REL_HISTORICO_TREINAMENTOS
				/desenvolvimento/colaboradorTurma/filtroHistoricoTreinamentos*/**=ROLE_REL_HISTORICO_TREINAMENTOS
				/desenvolvimento/colaboradorTurma/relatorioHistoricoTreinamentos*/**=ROLE_REL_HISTORICO_TREINAMENTOS
				/desenvolvimento/colaboradorTurma/prepareRelatorioColaborador*/**=ROLE_REL_COLABORADOR_COM_TREINAMENTO
				/desenvolvimento/colaboradorTurma/relatorioColaboradorComTreinamento*/**=ROLE_REL_COLABORADOR_COM_TREINAMENTO
				/desenvolvimento/colaboradorTurma/prepareRelatorioColaborador*/**=ROLE_REL_COLABORADOR_SEM_TREINAMENTO
				/desenvolvimento/colaboradorTurma/relatorioColaboradorSemTreinamento*/**=ROLE_REL_COLABORADOR_SEM_TREINAMENTO
				/desenvolvimento/colaboradorTurma/prepareRelatorioColaboradorSemIndicacao*/**=ROLE_REL_SEM_INDICACAO
				/desenvolvimento/colaboradorTurma/relatorioColaboradorSemIndicacaoTreinamento*/**=ROLE_REL_SEM_INDICACAO
				/desenvolvimento/colaboradorTurma/*/**=ROLE_MOV_CURSO, ROLE_MOV_PLANO_TREINAMENTO
				/desenvolvimento/colaboradorTurma/relatorioColaboradorSemTreinamento.action*=ROLE_REL_COLABORADOR_SEM_TREINAMENTO,ROLE_REL_COLABORADOR_COM_TREINAMENTO
				/desenvolvimento/colaboradorTurma/prepareFiltroHistoricoTreinamentos.action*=ROLE_REL_HISTORICO_TREINAMENTOS
				/desenvolvimento/curso/*/**=ROLE_MOV_CURSO
				/desenvolvimento/avaliacaoCurso/*/**=ROLE_MOV_AVALIACAO_CURSO
				/desenvolvimento/dnt/*/**=ROLE_MOV_CURSO_DNT,ROLE_MOV_CURSO_DNT_GESTOR
				/desenvolvimento/turma/*/**=ROLE_MOV_TURMA,ROLE_REL_CERTIFICAD, ROLE_MOV_CURSO, ROLE_MOV_PLANO_TREINAMENTO
				/desenvolvimento/turma/filtroPlanoTreinamento.action*=ROLE_MOV_PLANO_TREINAMENTO
				/desenvolvimento/turma/preparePdi.action*=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/pdi.action*=ROLE_MOV_PLANO_DESENVOLVIMENTO_INDIVIDUAL
				/desenvolvimento/turma/relatorioInvestimentoPorColaborador.action*=ROLE_INVESTIMENTO_TREINAMENTO_COLAB
				/desenvolvimento/relatorioPresenca/*/**=ROLE_REL_DESENVOLVIMENTO_LISTA_PRESENCA
				/desenvolvimento/prioridadeTreinamento/*/**=ROLE_CAD_PRIORIDADETREINAMENTO
				/desenvolvimento/certificacao/matrizTreinamento.action*=ROLE_REL_MATRIZ_TREINAMENTO
				/desenvolvimento/certificacao/imprimirMatrizTreinamento.action*=ROLE_REL_MATRIZ_TREINAMENTO
				/desenvolvimento/certificacao/prepareImprimirCertificadosVencidosAVencer*=ROLE_REL_CERTIFICADOS_VENCIDOS_A_VENCER
				/desenvolvimento/certificacao/imprimirCertificadosVencidosAVencer*=ROLE_REL_CERTIFICADOS_VENCIDOS_A_VENCER
				/desenvolvimento/certificacao/imprimirCertificadosVencidosAVencerXlS*=ROLE_REL_CERTIFICADOS_VENCIDOS_A_VENCER
				/desenvolvimento/certificacao/*/**=ROLE_CAD_CERTIFICACAO
				/desenvolvimento/indicadores/*/**=ROLE_MOV_CURSO,ROLE_TED_PAINEL_IND
				/desenvolvimento/turma/prepareImprimirCursosVencidosAVencer.action*=ROLE_REL_CURSOS_VENCIDOS_A_VENCER
				/desenvolvimento/turma/imprimirCursosVencidosAVencer.action*=ROLE_REL_CURSOS_VENCIDOS_A_VENCER
				/desenvolvimento/colaboradorAvaliacaoPratica/*/**=ROLE_COLABORADOR_AVALIACAO_PRATICA
				/desenvolvimento/colaboradorAvaliacaoPratica/*/**=ROLE_COLABORADOR_AVALIACAO_PRATICA
				
				/desenvolvimento/lnt/list.action*=ROLE_MOV_LNT
				/desenvolvimento/lnt/prepareInsert.action*=ROLE_MOV_LNT_INSERIR
				/desenvolvimento/lnt/insert.action*=ROLE_MOV_LNT_INSERIR
				/desenvolvimento/lnt/prepareUpdate.action*=ROLE_MOV_LNT_EDITAR
				/desenvolvimento/lnt/update.action*=ROLE_MOV_LNT_EDITAR
				/desenvolvimento/lnt/delete.action*=ROLE_MOV_LNT_EXCLUIR
				/desenvolvimento/lnt/adicionarColaboradores.action*=ROLE_MOV_LNT_ADICIONAR_COLABORADORES
				/desenvolvimento/lnt/analisar.action*=ROLE_MOV_LNT_ANALISAR
				/desenvolvimento/lnt/finalizar.action*=ROLE_MOV_LNT_FINALIZAR
				/desenvolvimento/lnt/imprimir.action*=ROLE_MOV_LNT_IMPRIMIR
				/desenvolvimento/lnt/relatorioParticipantes.action*=ROLE_MOV_LNT_ADICIONAR_COLABORADORES,ROLE_MOV_LNT_IMPRIMIR
				/desenvolvimento/lnt/gerarCursosETurmas.action*=ROLE_MOV_LNT_GERAR_CURSOS_E_TURMAS
				/desenvolvimento/lnt/visualizarParticipantesCursoLnt.action*=ROLE_MOV_LNT_GERAR_CURSOS_E_TURMAS

				/pesquisa/trafego/*/**=ROLE_ANONYMOUS,ROLE_USER
				
				/pesquisa/pesquisa/preview.action*= ROLE_USER
				/pesquisa/pesquisa/*/**= ROLE_MOV_QUESTIONARIO
				/pesquisa/entrevista/*/**= ROLE_MOV_QUESTIONARIO
				/pesquisa/pergunta/*/**= ROLE_MOV_QUESTIONARIO,ROLE_CAD_FICHAMEDICA,ROLE_AVALIACAO_TURMA
				
				/pesquisa/questionario/aplicar*= ROLE_MOV_QUESTIONARIO,ROLE_CAD_FICHAMEDICA,ROLE_AVALIACAO_TURMA
				/pesquisa/questionario/prepareAplicar*= ROLE_MOV_QUESTIONARIO,ROLE_CAD_FICHAMEDICA,ROLE_AVALIACAO_TURMA
				/pesquisa/questionario/imprimir*= ROLE_MOV_QUESTIONARIO,ROLE_AVALIACAO_TURMA
				/pesquisa/questionario/*/**= ROLE_MOV_QUESTIONARIO,ROLE_MOV_CURSO
				
				/pesquisa/resposta/*/**= ROLE_MOV_QUESTIONARIO
				
				/pesquisa/aspecto/*/**=ROLE_MOV_QUESTIONARIO,ROLE_CAD_FICHAMEDICA,ROLE_CAD_AVALIACAO,ROLE_CAD_PERIODOEXPERIENCIA,ROLE_MOV_SOLICITACAO,ROLE_MOV_SOLICITACAO_MODELO_AVALIACAO,ROLE_AVALIACAO_TURMA,ROLE_CAD_MOD_AVALIACAO_ALUNO
				
				/pesquisa/colaboradorQuestionario/visualizarRespostasAvaliacaoDesempenhoEPeriodoExperiencia.action*/**= ROLE_MOV_QUESTIONARIO,ROLE_COLAB_LIST_PERFORMANCE
				
				/pesquisa/colaboradorQuestionario/*/**= ROLE_MOV_QUESTIONARIO
				
				/pesquisa/colaboradorResposta/prepareResponderQuestionarioPorOutroUsuario*/**=ROLE_RESPONDER_PESQUISA_POR_OUTRO_USUARIO,ROLE_RESPONDER_AVALIACAO_DESEMP_POR_OUTRO_USUARIO,ROLE_RESPONDER_AVALIACAO_TURMA_POR_OUTRO_USUARIO
				/pesquisa/colaboradorResposta/prepareResponderQuestionario.action*/**=ROLE_USER
				/pesquisa/colaboradorResposta/salvaQuestionarioRespondido.action*/**=ROLE_USER
				/pesquisa/colaboradorResposta/prepareResponderEntrevista.action*=ROLE_COLAB_LIST_ENTREVISTA
				/pesquisa/colaboradorResposta/*/**=ROLE_MOV_QUESTIONARIO, ROLE_CAD_COLABORADOR
				/geral/colaborador/*/**=ROLE_CAD_COLABORADOR

				/sesmt/fichaMedica/prepareResultadoFichaMedica*/**= ROLE_REL_FICHAMEDICA
				/sesmt/fichaMedica/imprimeResultadoFichaMedica*/**= ROLE_REL_FICHAMEDICA
				/sesmt/fichaMedica/*/**= ROLE_CAD_FICHAMEDICA
				/sesmt/funcao/*/**=ROLE_FUNCAO, ROLE_CAD_CARGO
				/sesmt/naturezaLesao/*/**=ROLE_CAD_NATUREZALESAO
				/sesmt/LTCAT/*/**=ROLE_LTCAT
				/sesmt/ppra/*/**=ROLE_PPRA
				/sesmt/ppp/*/**=ROLE_PPP
				/sesmt/pcmso/*/**=ROLE_CAD_PCMSO
				/sesmt/epi/imprimirVencimentoCa*/**=ROLE_REL_EPICAVENCER
				/sesmt/epi/prepareImprimirVencimentoCa*/**=ROLE_REL_EPICAVENCER
				/sesmt/epi/imprimirFicha*/**=ROLE_REL_FICHA_EPI
				/sesmt/epi/filtroImprimirFicha*/**=ROLE_REL_FICHA_EPI
				/sesmt/epi/prepareImprimirFicha*/**=ROLE_REL_FICHA_EPI
				/sesmt/epi/*/**=ROLE_CAD_EPI
				/sesmt/epiHistorico/*/**=ROLE_CAD_EPI
				/sesmt/ambiente/prepareRelatorioMapaDeRisco.action*=ROLE_REL_MAPA_DE_RISCO
				/sesmt/ambiente/imprimirRelatorioMapaDeRisco**=ROLE_REL_MAPA_DE_RISCO
				/sesmt/ambiente/*/**=ROLE_CAD_AMBIENTE
				/sesmt/historicoAmbiente/*/**=ROLE_CAD_AMBIENTE
				/sesmt/risco/*/**=ROLE_CAD_RISCO
				/sesmt/tipoEPI/*/**=ROLE_CAD_TIPO_EPI
				/sesmt/tamanhoEPI/*/**=ROLE_CAD_TAMANHO_EPI
				/sesmt/risco/*/**=ROLE_CAD_RISCO
				/sesmt/epc/*/**=ROLE_CAD_EPC
				/sesmt/exame/prepareRelatorioExamesRealizados*/**=ROLE_CAD_SOLICITACAOEXAME
				/sesmt/exame/relatorioExamesRealizados*/**=ROLE_CAD_SOLICITACAOEXAME
				/sesmt/exame/prepareRelatorioExamesPrevistos*/**=ROLE_REL_EXAMES_PREVISTOS
				/sesmt/exame/relatorioExamesPrevistos*/**=ROLE_REL_EXAMES_PREVISTOS
				/sesmt/exame/imprimirAso*/**=ROLE_CAD_SOLICITACAOEXAME, ROLE_CAD_EXAME
				/sesmt/exame/*/**=ROLE_CAD_EXAME
				/sesmt/engenheiroResponsavel/*/**=ROLE_CAD_ENGENHEIRO_TRABALHO
				/sesmt/medicoCoordenador/*/**=ROLE_CAD_MEDICO_COORDENADOR
				/sesmt/clinicaAutorizada/*/**=ROLE_CAD_CLINICA_AUTORIZADA
				/sesmt/prontuario/prepareRelatorioProntuario*/**=ROLE_REL_PRONTUARIO
				/sesmt/prontuario/relatorioProntuario*/**=ROLE_REL_PRONTUARIO
				/sesmt/prontuario/list*/**=ROLE_REL_PRONTUARIO, ROLE_CAD_PRONTUARIO
				/sesmt/prontuario/*/**=ROLE_CAD_PRONTUARIO
				/sesmt/solicitacaoExame/*/**=ROLE_CAD_SOLICITACAOEXAME
				/sesmt/solicitacaoEpi/relatorioVencimentoEpi*/**=ROLE_REL_EPIVENCIMENTO
				/sesmt/solicitacaoEpi/prepareRelatorioVencimentoEpi*/**=ROLE_REL_EPIVENCIMENTO
				/sesmt/solicitacaoEpi/relatorioEntregaEpi*/**=ROLE_REL_EPIVENCIMENTO
				/sesmt/solicitacaoEpi/prepareRelatorioEntregaEpi*/**=ROLE_REL_EPIVENCIMENTO
				/sesmt/solicitacaoEpi/list.action*=ROLE_CAD_ENTREGAEPI,ROLE_CAD_SOLICITACAOEPI,ROLE_GERENCIAMENTO_EPI_EDITAR_SOLICITACAO,ROLE_GERENCIAMENTO_EPI_EXCLUIR_SOLICITACAO
				/sesmt/solicitacaoEpi/entrega.action*=ROLE_CAD_ENTREGAEPI
				/sesmt/solicitacaoEpi/prepareEntrega.action*=ROLE_CAD_ENTREGAEPI
				/sesmt/solicitacaoEpi/prepareInsert.action*=ROLE_CAD_SOLICITACAOEPI
				/sesmt/solicitacaoEpi/filtroColaboradores.action*=ROLE_CAD_SOLICITACAOEPI
				/sesmt/solicitacaoEpi/insert.action*=ROLE_CAD_SOLICITACAOEPI
				/sesmt/solicitacaoEpi/prepareUpdate.action*=ROLE_GERENCIAMENTO_EPI_EDITAR_SOLICITACAO
				/sesmt/solicitacaoEpi/update.action*=ROLE_GERENCIAMENTO_EPI_EDITAR_SOLICITACAO
				/sesmt/solicitacaoEpi/delete.action*=ROLE_GERENCIAMENTO_EPI_EXCLUIR_SOLICITACAO
				/sesmt/solicitacaoEpi/prepareRelatorioDevolucaoEpi*/**=ROLE_REL_EPI_DEVOLVIDO
				/sesmt/solicitacaoEpi/relatorioDevolucaoEpi*/**=ROLE_REL_EPI_DEVOLVIDO
				/sesmt/solicitacaoEpi/relatorioDevolucaoEpiXls*/**=ROLE_REL_EPI_DEVOLVIDO
				/sesmt/motivoSolicitacaoEpi/*/**=ROLE_CAD_MOTIVO_SOLICITACAO_EPI
				/sesmt/etapaProcessoEleitoral/*/**=ROLE_CAD_ETAPAPROCESSOELEITORAL
				/sesmt/eleicao/*/**=ROLE_CAD_ELEICAO
				/sesmt/candidatoEleicao/*/**=ROLE_CAD_ELEICAO
				/sesmt/comissaoEleicao/*/**=ROLE_CAD_ELEICAO
				/sesmt/comissao/*/**=ROLE_CAD_ELEICAO
				/sesmt/comissaoPeriodo/*/**=ROLE_CAD_ELEICAO
				/sesmt/comissaoReuniao/*/**=ROLE_CAD_ELEICAO
				/sesmt/comissaoPlanoTrabalho/*/**=ROLE_CAD_ELEICAO
				/sesmt/afastamento/*/**=ROLE_CAD_AFASTAMENTO
				/sesmt/colaboradorAfastamento/prepareRelatorioResumoAfastamentos.action*=ROLE_REL_AFASTAMENTO
				/sesmt/colaboradorAfastamento/relatorioResumoAfastamentos.action*=ROLE_REL_AFASTAMENTO
				/sesmt/colaboradorAfastamento/*/**=ROLE_CAD_AFASTAMENTO
				/sesmt/cat/*/**=ROLE_CAT
				/sesmt/extintor/*/**=ROLE_CAD_EXTINTOR
				/sesmt/historicoExtintor/*/**=ROLE_CAD_EXTINTOR
				/sesmt/extintorInspecao/*/**=ROLE_CAD_EXTINTOR
				/sesmt/extintorManutencao/*/**=ROLE_CAD_EXTINTOR
				/sesmt/medicaoRisco/*/**=ROLE_CAD_MEDICAORISCO
				/sesmt/evento/*/**=ROLE_CAD_EVENTO
				/sesmt/agenda/*/**=ROLE_CAD_AGENDA
				/sesmt/indicadores/painel.action*=ROLE_SESMT_PAINEL_IND
				/sesmt/composicaoSesmt/*/**=ROLE_COMPOSICAO_SESMT
				/sesmt/obra/*/**=ROLE_CAD_OBRA
				/sesmt/fase/*/**=ROLE_CAD_FASE
				/sesmt/medidaSeguranca/*/**=ROLE_CAD_MEDIDASEGURANCA
				/sesmt/areaVivencia/*/**=ROLE_CAD_AREAVIVENCIA
				/sesmt/fasePcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/riscoFasePcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/areaVivenciaPcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/atividadeSegurancaPcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/epiPcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/epcPcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/sinalizacaoPcmat/*/**=ROLE_MOV_PCMAT
				/sesmt/ordemDeServico/listGerenciamentoOS.action*=ROLE_MOV_ORDEM_DE_SERVICO
				/sesmt/ordemDeServico/list.action*=ROLE_MOV_ORDEM_DE_SERVICO
				
				/avaliacao/periodoExperiencia/prepareRelatorioAcompanhamento**=ROLE_REL_ACOMP_EXPERIENCIA_PREVISTO, ROLE_REL_ACOMP_PERIODO_EXPERIENCIA
				/avaliacao/periodoExperiencia/imprimeRelatorioPeriodoDeAcompanhamento**=ROLE_REL_ACOMP_PERIODO_EXPERIENCIA
				/avaliacao/periodoExperiencia/prepareCartoesAcompanhamentoPeriodoExperiencia.action*=ROLE_REL_ACOMP_PERIODO_EXPERIENCIA
				/avaliacao/periodoExperiencia/imprimeCartoesAcompanhamentoPeriodoExperiencia**=ROLE_REL_ACOMP_PERIODO_EXPERIENCIA
				/avaliacao/periodoExperiencia/*/**=ROLE_CAD_PERIODOEXPERIENCIA
				
				/avaliacao/avaliacaoExperiencia/periodoExperienciaQuestionarioList.action*=ROLE_MOV_PERIODOEXPERIENCIA,ROLE_USER
				/avaliacao/avaliacaoExperiencia/respostasPeriodoExperienciaList.action*=ROLE_MOV_MINHASAVALIACOES
				/avaliacao/avaliacaoExperiencia/prepareUpdateAvaliacaoExperiencia.action*=ROLE_MOV_MINHASAVALIACOES, ROLE_MOV_PERIODOEXPERIENCIA
				/avaliacao/avaliacaoExperiencia/imprimirAvaliacaoRespondida*/**=ROLE_MOV_PERIODOEXPERIENCIA
				/avaliacao/avaliacaoExperiencia/prepareInsertAvaliacaoExperiencia.action*=ROLE_MOV_PERIODOEXPERIENCIA,ROLE_USER
				/avaliacao/avaliacaoExperiencia/insertAvaliacaoExperiencia.action*=ROLE_MOV_PERIODOEXPERIENCIA,ROLE_USER
				/avaliacao/avaliacaoExperiencia/updateAvaliacaoExperiencia.action*=ROLE_MOV_PERIODOEXPERIENCIA,ROLE_USER
				/avaliacao/avaliacaoExperiencia/*AvaliacaoExperiencia.action*=ROLE_MOV_PERIODOEXPERIENCIA
				/avaliacao/avaliacaoExperiencia/*/**=ROLE_CAD_PERIODOEXPERIENCIA

				/avaliacao/perguntaAvaliacao/*/**=ROLE_CAD_PERIODOEXPERIENCIA,ROLE_CAD_AVALIACAO,ROLE_MOV_SOLICITACAO,ROLE_MOV_SOLICITACAO_MODELO_AVALIACAO,ROLE_CAD_MOD_AVALIACAO_ALUNO
				
				/avaliacao/desempenho/prepareResponderAvaliacaoDesempenho*=ROLE_USER
				/avaliacao/desempenho/responderAvaliacaoDesempenho*=ROLE_USER
				/avaliacao/desempenho/avaliacaoDesempenhoQuestionarioList*=ROLE_USER
				avaliacao/desempenho/avaliacaoDesempenhoRespostasList*=ROLE_RESPONDER_AVALIACAO_DESEMP_POR_OUTRO_USUARIO
				/avaliacao/desempenho/*/**=ROLE_MOV_AVALIACAO
				
				/avaliacao/modelo/minhasAvaliacoesList* = ROLE_MOV_MINHASAVALIACOES
				/avaliacao/modelo/imprimir*/** = ROLE_MOV_AVALIACAO,ROLE_CAD_MOD_AVALIACAO_ALUNO
				/avaliacao/modelo/list.action*=ROLE_CAD_PERIODOEXPERIENCIA,ROLE_CAD_AVALIACAO,ROLE_CAD_MOD_AVALIACAO_ALUNO
				/avaliacao/modeloCandidato/*/**=ROLE_CAD_PERIODOEXPERIENCIA,ROLE_CAD_AVALIACAO,ROLE_MOV_SOLICITACAO,ROLE_MOV_SOLICITACAO_MODELO_AVALIACAO
				
				/avaliacao/avaliacaoPratica/*/**=ROLE_AVALIACAO_PRATICA
				
				/geral/cliente/*/**=ROLE_CAD_CLIENTE
				
				/thumb/**=ROLE_ANONYMOUS,ROLE_USER
				/geral/codigoCBO/find.action*=ROLE_USER
				/geral/cid/find.action*=ROLE_USER
				/desenvolvimento/colaboradorTurma/findNotas.action*=ROLE_USER
				/importacao/prepareImportarAfastamentos.action*=ROLE_IMPORTACAO_AFASTAMENTO
				/importacao/carregarAfastamentos.action*=ROLE_IMPORTACAO_AFASTAMENTO
				
				/backup/list.action=ROLE_BACKUP
			</value>
		</property>
	</bean>

	<bean id="httpRequestAccessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions">
			<value>false</value>
		</property>
		<property name="decisionVoters">
			<list>
				<ref bean="roleVoter" />
			</list>
		</property>
	</bean>
</beans>