<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- Default manager transaction configuration -->
  <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
      </props>
    </property>
  </bean>
  
  <import resource="applicationContext-datasource.xml"/>
  
  <bean id="empresaDao" class="com.fortes.rh.dao.hibernate.geral.EmpresaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
 
  <bean id="colaboradorDao" class="com.fortes.rh.dao.hibernate.geral.ColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
 
  <bean id="ocorrenciaDao" class="com.fortes.rh.dao.hibernate.geral.OcorrenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
 
  <bean id="colaboradorOcorrenciaDao" class="com.fortes.rh.dao.hibernate.geral.ColaboradorOcorrenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
 
  <bean id="colaboradorPeriodoExperienciaAvaliacaoDao" class="com.fortes.rh.dao.hibernate.geral.ColaboradorPeriodoExperienciaAvaliacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
 
   <bean id="areaOrganizacionalDao" class="com.fortes.rh.dao.hibernate.geral.AreaOrganizacionalDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="estabelecimentoDao" class="com.fortes.rh.dao.hibernate.geral.EstabelecimentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="motivoDemissaoDao" class="com.fortes.rh.dao.hibernate.geral.MotivoDemissaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="camposExtrasDao" class="com.fortes.rh.dao.hibernate.geral.CamposExtrasDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="grupoACDao" class="com.fortes.rh.dao.hibernate.geral.GrupoACDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="bairroDao" class="com.fortes.rh.dao.hibernate.geral.BairroDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="providenciaDao" class="com.fortes.rh.dao.hibernate.geral.ProvidenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="estadoDao" class="com.fortes.rh.dao.hibernate.geral.EstadoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="cidDao" class="com.fortes.rh.dao.hibernate.geral.CidDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="conhecimentoDao" class="com.fortes.rh.dao.hibernate.captacao.ConhecimentoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="competenciaDao" class="com.fortes.rh.dao.hibernate.captacao.CompetenciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
    
  <bean id="habilidadeDao" class="com.fortes.rh.dao.hibernate.captacao.HabilidadeDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="atitudeDao" class="com.fortes.rh.dao.hibernate.captacao.AtitudeDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="candidatoDao" class="com.fortes.rh.dao.hibernate.captacao.CandidatoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="motivoSolicitacaoDao" class="com.fortes.rh.dao.hibernate.captacao.MotivoSolicitacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="solicitacaoDao" class="com.fortes.rh.dao.hibernate.captacao.SolicitacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="candidatoSolicitacaoDao" class="com.fortes.rh.dao.hibernate.captacao.CandidatoSolicitacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="cargoDao" class="com.fortes.rh.dao.hibernate.cargosalario.CargoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="historicoColaboradorDao" class="com.fortes.rh.dao.hibernate.cargosalario.HistoricoColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="faixaSalarialDao" class="com.fortes.rh.dao.hibernate.cargosalario.FaixaSalarialDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="faixaSalarialHistoricoDao" class="com.fortes.rh.dao.hibernate.cargosalario.FaixaSalarialHistoricoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="grupoOcupacionalDao" class="com.fortes.rh.dao.hibernate.cargosalario.GrupoOcupacionalDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="tabelaReajusteColaboradorDao" class="com.fortes.rh.dao.hibernate.cargosalario.TabelaReajusteColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="reajusteColaboradorDao" class="com.fortes.rh.dao.hibernate.cargosalario.ReajusteColaboradorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="turmaDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.TurmaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="colaboradorTurmaDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.ColaboradorTurmaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="cursoDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.CursoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="diaTurmaDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.DiaTurmaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="aproveitamentoAvaliacaoCursoDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.AproveitamentoAvaliacaoCursoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="avaliacaoCursoDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.AvaliacaoCursoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="avaliacaoDao" class="com.fortes.rh.dao.hibernate.avaliacao.AvaliacaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="avaliacaoDesempenhoDao" class="com.fortes.rh.dao.hibernate.avaliacao.AvaliacaoDesempenhoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="periodoExperienciaDao" class="com.fortes.rh.dao.hibernate.avaliacao.PeriodoExperienciaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="colaboradorQuestionarioDao" class="com.fortes.rh.dao.hibernate.pesquisa.ColaboradorQuestionarioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="questionarioDao" class="com.fortes.rh.dao.hibernate.pesquisa.QuestionarioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="usuarioDao" class="com.fortes.rh.dao.hibernate.acesso.UsuarioDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="usuarioEmpresaDao" class="com.fortes.rh.dao.hibernate.acesso.UsuarioEmpresaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="perfilDao" class="com.fortes.rh.dao.hibernate.acesso.PerfilDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="ambienteDao" class="com.fortes.rh.dao.hibernate.sesmt.AmbienteDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="funcaoDao" class="com.fortes.rh.dao.hibernate.sesmt.FuncaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="historicoFuncaoDao" class="com.fortes.rh.dao.hibernate.sesmt.HistoricoFuncaoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="epiDao" class="com.fortes.rh.dao.hibernate.sesmt.EpiDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="solicitacaoEpiDao" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoEpiDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="cursoLntDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.CursoLntDaoHibernate">
  	<property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="areaInteresseDao" class="com.fortes.rh.dao.hibernate.geral.AreaInteresseDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="lntDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.LntDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="candidatoIdiomaDao" class="com.fortes.rh.dao.hibernate.captacao.CandidatoIdiomaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="historicoCandidatoDao" class="com.fortes.rh.dao.hibernate.captacao.HistoricoCandidatoDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="participanteCursoLntDao" class="com.fortes.rh.dao.hibernate.desenvolvimento.ParticipanteCursoLntDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="etapaSeletivaDao" class="com.fortes.rh.dao.hibernate.captacao.EtapaSeletivaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
 
  <bean id="idiomaDao" class="com.fortes.rh.dao.hibernate.captacao.IdiomaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="solicitacaoExameDao" class="com.fortes.rh.dao.hibernate.sesmt.SolicitacaoExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="medicoCoordenadorDao" class="com.fortes.rh.dao.hibernate.sesmt.MedicoCoordenadorDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="exameSolicitacaoExameDao" class="com.fortes.rh.dao.hibernate.sesmt.ExameSolicitacaoExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="exameDao" class="com.fortes.rh.dao.hibernate.sesmt.ExameDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="clinicaAutorizadaDao" class="com.fortes.rh.dao.hibernate.sesmt.ClinicaAutorizadaDaoHibernate">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="cidadeDao" class="com.fortes.rh.dao.hibernate.geral.CidadeDaoHibernate">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
  </bean>
  
  <bean id="experienciaDao" class="com.fortes.rh.dao.hibernate.captacao.ExperienciaDaoHibernate">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
  </bean>
  
  <bean id="formacaoDao" class="com.fortes.rh.dao.hibernate.captacao.FormacaoDaoHibernate">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
  </bean>
</beans>