<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="papelManagerTarget" class="com.fortes.rh.business.acesso.PapelManagerImpl">
    <property name="dao">
      <ref bean="papelDao" />
    </property>
  </bean>
  <bean id="papelManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.acesso.PapelManager</value>
    </property>
    <property name="target">
      <ref bean="papelManagerTarget" />
    </property>
  </bean>
  <bean id="usuarioManagerTarget" class="com.fortes.rh.business.acesso.UsuarioManagerImpl" singleton="false">
    <property name="dao">
      <ref bean="usuarioDao" />
    </property>
    <property name="colaboradorManager">
      <ref bean="colaboradorManager" />
    </property>
    <property name="usuarioEmpresaManager">
      <ref bean="usuarioEmpresaManager" />
    </property>
  </bean>
  <bean id="usuarioManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.acesso.UsuarioManager</value>
    </property>
    <property name="target">
      <ref bean="usuarioManagerTarget" />
    </property>
  </bean>
  <bean id="perfilManagerTarget" class="com.fortes.rh.business.acesso.PerfilManagerImpl">
    <property name="dao">
      <ref bean="perfilDao" />
    </property>
    <property name="papelManager">
      <ref bean="papelManager" />
    </property>
  </bean>
  <bean id="perfilManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.acesso.PerfilManager</value>
    </property>
    <property name="target">
      <ref bean="perfilManagerTarget" />
    </property>
  </bean>
  <bean id="usuarioEmpresaManagerTarget" class="com.fortes.rh.model.acesso.UsuarioEmpresaManagerImpl">
    <property name="dao">
      <ref bean="usuarioEmpresaDao" />
    </property>
  </bean>
  <bean id="usuarioEmpresaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.model.acesso.UsuarioEmpresaManager</value>
    </property>
    <property name="target">
      <ref bean="usuarioEmpresaManagerTarget" />
    </property>
  </bean>
</beans>

