<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="backupService" class="com.fortes.rh.config.backup.BackupServiceImpl">
		<property name="gerenciadorComunicacaoManager">
			<ref bean="gerenciadorComunicacaoManager" />
		</property>
	</bean>
</beans>

