<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="codificacaoAcidenteTrabalhoManagerTarget" class="com.fortes.rh.business.sesmt.eSocialTabelas.CodificacaoAcidenteTrabalhoManagerImpl">
    <property name="dao">
      <ref bean="codificacaoAcidenteTrabalhoDao" />
    </property>
  </bean>
  <bean id="codificacaoAcidenteTrabalhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.eSocialTabelas.CodificacaoAcidenteTrabalhoManager</value>
    </property>
    <property name="target">
      <ref bean="codificacaoAcidenteTrabalhoManagerTarget" />
    </property>
  </bean>
  <bean id="situacaoGeradoraAcidenteTrabalhoManagerTarget" class="com.fortes.rh.business.sesmt.eSocialTabelas.SituacaoGeradoraAcidenteTrabalhoManagerImpl">
    <property name="dao">
      <ref bean="situacaoGeradoraAcidenteTrabalhoDao" />
    </property>
  </bean>
  <bean id="situacaoGeradoraAcidenteTrabalhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.eSocialTabelas.SituacaoGeradoraAcidenteTrabalhoManager</value>
    </property>
    <property name="target">
      <ref bean="situacaoGeradoraAcidenteTrabalhoManagerTarget" />
    </property>
  </bean>
  <bean id="agenteCausadorAcidenteTrabalhoManagerTarget" class="com.fortes.rh.business.sesmt.eSocialTabelas.AgenteCausadorAcidenteTrabalhoManagerImpl">
    <property name="dao">
      <ref bean="agenteCausadorAcidenteTrabalhoDao" />
    </property>
  </bean>
  <bean id="agenteCausadorAcidenteTrabalhoManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.eSocialTabelas.AgenteCausadorAcidenteTrabalhoManager</value>
    </property>
    <property name="target">
      <ref bean="agenteCausadorAcidenteTrabalhoManagerTarget" />
    </property>
  </bean>
  <bean id="situacaoGeradoraDoencaProfissionalManagerTarget" class="com.fortes.rh.business.sesmt.eSocialTabelas.SituacaoGeradoraDoencaProfissionalManagerImpl">
    <property name="dao">
      <ref bean="situacaoGeradoraDoencaProfissionalDao" />
    </property>
  </bean>
  <bean id="situacaoGeradoraDoencaProfissionalManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.eSocialTabelas.SituacaoGeradoraDoencaProfissionalManager</value>
    </property>
    <property name="target">
      <ref bean="situacaoGeradoraDoencaProfissionalManagerTarget" />
    </property>
  </bean>
  <bean id="parteCorpoAtingidaManagerTarget" class="com.fortes.rh.business.sesmt.eSocialTabelas.ParteCorpoAtingidaManagerImpl">
    <property name="dao">
      <ref bean="parteCorpoAtingidaDao" />
    </property>
  </bean>
  <bean id="parteCorpoAtingidaManager" parent="parentManager">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.business.sesmt.eSocialTabelas.ParteCorpoAtingidaManager</value>
    </property>
    <property name="target">
      <ref bean="parteCorpoAtingidaManagerTarget" />
    </property>
  </bean>
</beans>




