<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="prioridadeTreinamentoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.PrioridadeTreinamentoDao</value>
    </property>
    <property name="target">
      <ref bean="prioridadeTreinamentoDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorTurmaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.ColaboradorTurmaDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorTurmaDaoTarget" />
    </property>
  </bean>
  <bean id="turmaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.TurmaDao</value>
    </property>
    <property name="target">
      <ref bean="turmaDaoTarget" />
    </property>
  </bean>
  <bean id="turmaAvaliacaoTurmaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.TurmaAvaliacaoTurmaDao</value>
    </property>
    <property name="target">
      <ref bean="turmaAvaliacaoTurmaDaoTarget" />
    </property>
  </bean>
  <bean id="turmaDocumentoAnexoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.TurmaDocumentoAnexoDao</value>
    </property>
    <property name="target">
      <ref bean="turmaDocumentoAnexoDaoTarget" />
    </property>
  </bean>
  <bean id="cursoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.CursoDao</value>
    </property>
    <property name="target">
      <ref bean="cursoDaoTarget" />
    </property>
  </bean>
  <bean id="diaTurmaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.DiaTurmaDao</value>
    </property>
    <property name="target">
      <ref bean="diaTurmaDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorPresencaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.ColaboradorPresencaDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorPresencaDaoTarget" />
    </property>
  </bean>
  <bean id="DNTDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.DNTDao</value>
    </property>
    <property name="target">
      <ref bean="DNTDaoTarget" />
    </property>
  </bean>
  <bean id="avaliacaoCursoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.AvaliacaoCursoDao</value>
    </property>
    <property name="target">
      <ref bean="avaliacaoCursoDaoTarget" />
    </property>
  </bean>
  <bean id="aproveitamentoAvaliacaoCursoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.AproveitamentoAvaliacaoCursoDao</value>
    </property>
    <property name="target">
      <ref bean="aproveitamentoAvaliacaoCursoDaoTarget" />
    </property>
  </bean>
  <bean id="certificacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.CertificacaoDao</value>
    </property>
    <property name="target">
      <ref bean="certificacaoDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorAvaliacaoPraticaDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.ColaboradorAvaliacaoPraticaDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorAvaliacaoPraticaDaoTarget" />
    </property>
  </bean>
  <bean id="colaboradorCertificacaoDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.ColaboradorCertificacaoDao</value>
    </property>
    <property name="target">
      <ref bean="colaboradorCertificacaoDaoTarget" />
    </property>
  </bean>
  <bean id="lntDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.LntDao</value>
    </property>
    <property name="target">
      <ref bean="lntDaoTarget" />
    </property>
  </bean>
  <bean id="cursoLntDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.CursoLntDao</value>
    </property>
    <property name="target">
      <ref bean="cursoLntDaoTarget" />
    </property>
  </bean>
  <bean id="participanteCursoLntDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.fortes.rh.dao.desenvolvimento.ParticipanteCursoLntDao</value>
    </property>
    <property name="target">
      <ref bean="participanteCursoLntDaoTarget" />
    </property>
  </bean>
</beans>





